{% if item.phone is not empty %}
    <a href="tel:{{ item.phone|phone_number_format(0) }}">{{ item.phone|phone_number_format }}</a>
{% else %}
    <a href="mailto:{{ item.email }}">{{ item.email }}</a>
{% endif %}
