{% extends 'easy_admin/default/show.html.twig' %}


{% block main %}
    <div class="row">
        <div class="col-md-6">
            {{ parent() }}
        </div>
        <div class="col-md-6">
            {% set nextStatus = entity.status.next() %}
            <a href="{{ easyadmin_path('Appeal', 'status', {'appeal_id': entity|toId, 'status': nextStatus.toId(), 'referer': true}) }}" class="btn btn-{{ nextStatus.to('color') }}">
                Сменить статус на: {{ nextStatus.toDisplayName() }}
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="field-group">
                <div class="box box-default">
                    <div class="box-header with-border">
                        <h3 class="box-title"></h3>
                    </div>
                    <div class="box-body">
                        {% if entity.type.isCalculator() %}
                            {% include 'easy_admin/appeal/appeal_types/calculator.html.twig' %}
                        {% elseif entity.type.isCooperation() %}
                            {% include 'easy_admin/appeal/appeal_types/cooperation.html.twig' %}
                        {% elseif entity.type.isQuestion() %}
                            {% include 'easy_admin/appeal/appeal_types/question.html.twig' %}
                        {% elseif entity.type.isSchedule() %}
                            {% include 'easy_admin/appeal/appeal_types/schedule.html.twig' %}
                        {% elseif entity.type.isTireFitting() %}
                            {% include 'easy_admin/appeal/appeal_types/tire_fitting.html.twig' %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock main %}
