{# @var subject \Ramsey\Uuid\UuidInterface #}

{% set notes = notes_by_subject(subject) %}

<div class="field-group">
    <div class="box box-default">
        <div class="box-header with-border">
            <h3 class="box-title">Заметки</h3>
        </div>

        {% if notes is not empty %}
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Тип</th>
                        <th>Текст</th>
                        <th>Создано</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for note in notes %}
                        {# @var note \App\Note\Entity\NoteView #}
                        <tr>
                            <td>{{ note.type.toName }}</td>
                            <td>{{ note.text }}</td>
                            <td>{% include 'easy_admin/created_by/created_by_view.html.twig' with {'value': note.created} only %}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            <div class="box-body">
                Заметок нет
            </div>
        {% endif %}

        <div class="box-footer">
            <a href="{{ easyadmin_path('Note', 'new', {'subject': subject.toString, 'referer': true}) }}" class="btn btn-primary">
                Создать заметку
            </a>
        </div>
    </div>
</div>
