{# @var item \App\Customer\Entity\CustomerTransactionView #}

{{ item.source.toDescription }}

{% if item.source.to('linkToSource') %}
    <a href="{{ easyadmin_path_by_id(item.toSourceIdentifier, 'show') }}">
        {{ item.toSourceIdentifier|display_name }}
    </a>
{% endif %}
