doctrine:
    dbal:
        mapping_types:
            enum: string
        driver:   pdo_mysql
        host:     "%env(DATABASE_HOST)%"
        port:     "%env(DATABASE_PORT)%"
        dbname:   "%env(DATABASE_NAME)%"
        user:     "%env(DATABASE_USER)%"
        password: "%env(DATABASE_PASSWORD)%"
        charset:  UTF8
        server_version: 5.6.34-79.1

    orm:
        auto_generate_proxy_classes: "%kernel.debug%"
        naming_strategy: App\Doctrine\ORM\Mapping\NamespaceNamingStrategy
        auto_mapping: false
        mappings:
            App:
                type: annotation
                prefix: App\Entity
                dir: '%kernel.project_dir%/src/Entity'
                is_bundle: false

doctrine_migrations:
    namespace: App\Migrations
    dir_name: '%kernel.project_dir%/src/Migrations'

parameters:
    env(DATABASE_HOST): mysql
    env(DATABASE_PORT): 3306
    env(DATABASE_USER): db
    env(DATABASE_NAME): db
    env(DATABASE_PASSWORD): db
    mysql_version: 10.1.23-MariaDB-1~jessie

services:
    Doctrine\ORM\EntityManager:
        alias: doctrine.orm.default_entity_manager

    Doctrine\ORM\Mapping\NamingStrategy:
        alias: App\Doctrine\ORM\Mapping\NamespaceNamingStrategy
