doctrine:
    dbal:
        types:
            phone_number: \Misd\PhoneNumberBundle\Doctrine\DBAL\Types\PhoneNumberType
            uuid:  Ramsey\Uuid\Doctrine\UuidType
        default_connection: landlord
        connections:
            landlord:
                charset:  UTF8
                server_version: 12.2
                options:
                    x_reconnect_attempts: 3
                driver:   pdo_pgsql
                host:     landlord
                port:     5432
                dbname:   landlord
                user:     "%env(DATABASE_USER)%"
                password: "%env(DATABASE_PASSWORD)%"
            tenant:
                charset:  UTF8
                server_version: 12.2
                options:
                    x_reconnect_attempts: 3
                driver:   pdo_pgsql
                host:     tenant
                port:     5432
                dbname:   tenant
                user:     "%env(DATABASE_USER)%"
                password: "%env(DATABASE_PASSWORD)%"
                schema_filter: ~^(?!.*_view$).*~

    orm:
        auto_generate_proxy_classes: "%kernel.debug%"
        default_entity_manager: landlord
        entity_managers:
            landlord:
                connection: landlord
                naming_strategy: App\Shared\Doctrine\ORM\Mapping\NamespaceNamingStrategy
                auto_mapping: false
                metadata_cache_driver:
                    type: pool
                    pool: doctrine.metadata_cache.landlord_pool
                mappings:
                    moneyphp: &moneyphp
                        type: xml
                        prefix: Money
                        dir: '%kernel.project_dir%/config/orm/money'
                        is_bundle: false
                    embeddable: &embeddable
                        type: annotation
                        prefix: App\Entity\Embeddable
                        dir: '%kernel.project_dir%/src/Entity/Embeddable'
                        is_bundle: false
                    superclass: &superclass
                        type: annotation
                        prefix: App\Entity\Superclass
                        dir: '%kernel.project_dir%/src/Entity/Superclass'
                        is_bundle: false
            tenant:
                connection: tenant
                naming_strategy: App\Shared\Doctrine\ORM\Mapping\NamespaceNamingStrategy
                auto_mapping: false
                metadata_cache_driver:
                    type: pool
                    pool: doctrine.metadata_cache.tenant_pool
                mappings:
                    tenant:
                        type: annotation
                        prefix: App\Entity\Tenant
                        dir: '%kernel.project_dir%/src/Entity/Tenant'
                        is_bundle: false
                    cron:
                        type: annotation
                        prefix: Cron\CronBundle\Entity
                        dir: '%kernel.project_dir%/vendor/cron/cron-bundle/Entity'
                        is_bundle: false
                    moneyphp:
                        <<: *moneyphp
                    embeddable:
                        <<: *embeddable
                    superclass:
                        <<: *superclass

doctrine_migrations:
    namespace: App\Migrations
    dir_name: '%kernel.project_dir%/src/Migrations'

framework:
    cache:
        pools:
            doctrine.metadata_cache.landlord_pool:
                adapter: cache.adapter.array
            doctrine.metadata_cache.tenant_pool:
                adapter: cache.adapter.array

parameters:
    env(DATABASE_USER): db
    env(DATABASE_PASSWORD): '%env(default:default_db_password:trim:file:DATABASE_PASSWORD_FILE)%'
    env(DATABASE_PASSWORD_FILE): /run/secrets/database_password
    default_db_password: db

services:
    Doctrine\ORM\Mapping\NamingStrategy:
        alias: App\Shared\Doctrine\ORM\Mapping\NamespaceNamingStrategy
