services:
    EasyCorp\Bundle\EasyAdminBundle\Router\EasyAdminRouter: '@easyadmin.router'
    EasyCorp\Bundle\EasyAdminBundle\Twig\EasyAdminTwigExtension: '@easyadmin.twig.extension'

easy_admin:
    design:
        templates:
            show: 'easy_admin/default/show.html.twig'
            layout: 'easy_admin/default/layout.html.twig'
            menu: 'easy_admin/default/menu.html.twig'
            edit: 'easy_admin/default/edit.html.twig'
            list: 'easy_admin/default/list.html.twig'
            new: 'easy_admin/default/new.html.twig'
            exception: 'easy_admin/default/exception.html.twig'
            flash_messages: 'easy_admin/default/flash_messages.html.twig'
            paginator: 'easy_admin/default/paginator.html.twig'
            field_array: 'easy_admin/default/field_array.html.twig'
            field_association: 'easy_admin/default/field_association.html.twig'
            field_bigint: 'easy_admin/default/field_bigint.html.twig'
            field_boolean: 'easy_admin/default/field_boolean.html.twig'
            field_date: 'easy_admin/default/field_date.html.twig'
#            field_dateinterval: 'easy_admin/default/field_dateinterval.html.twig'
            field_datetime: 'easy_admin/field_datetime_gtm3.html.twig'
            field_datetimetz: 'easy_admin/default/field_datetimetz.html.twig'
            field_decimal: 'easy_admin/default/field_decimal.html.twig'
            field_email: 'easy_admin/default/field_email.html.twig'
#            field_file: 'easy_admin/default/field_file.html.twig'
            field_float: 'easy_admin/default/field_float.html.twig'
#            field_guid: 'easy_admin/default/field_guid.html.twig'
            field_id: 'easy_admin/default/field_id.html.twig'
            field_image: 'easy_admin/default/field_image.html.twig'
#            field_json: 'easy_admin/default/field_json.html.twig'
#            field_json_array: 'easy_admin/default/field_json_array.html.twig'
            field_integer: 'easy_admin/default/field_integer.html.twig'
#            field_object: 'easy_admin/default/field_object.html.twig'
#            field_percent: 'easy_admin/default/field_percent.html.twig'
            field_raw: 'easy_admin/default/field_raw.html.twig'
            field_simple_array: 'easy_admin/default/field_simple_array.html.twig'
            field_smallint: 'easy_admin/default/field_smallint.html.twig'
            field_string: 'easy_admin/default/field_string.html.twig'
            field_tel: 'easy_admin/default/field_tel.html.twig'
            field_text: 'easy_admin/default/field_text.html.twig'
            field_time: 'easy_admin/default/field_time.html.twig'
            field_toggle: 'easy_admin/default/field_toggle.html.twig'
            field_url: 'easy_admin/default/field_url.html.twig'
            label_empty: 'easy_admin/default/label_empty.html.twig'
            label_inaccessible: 'easy_admin/default/label_inaccessible.html.twig'
            label_null: 'easy_admin/default/label_null.html.twig'
            label_undefined: 'easy_admin/default/label_undefined.html.twig'

        form_theme:
            - easy_admin/form.html.twig
            - easy_admin/form/bootstrap_3_layout.html.twig
        assets:
            js:
                - 'assets/js/collection-autocomplete.js'
                - 'https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js'
                - 'assets/js/sto_v3.js'
        menu:
            - { entity: 'Appeal', label: 'Заявки', icon: 'fire' }
            - { label: 'Заказы' }
            - { entity: 'CalendarEntry', label: 'Запись', icon: 'calendar' }
            - { entity: 'Order', label: 'Активные', icon: 'fire', default: true }
            - { entity: 'Order', label: 'Все', icon: 'archive', params: { all: '1' } }
            - { label: 'Бухгалтерия' }
            - { entity: 'Wallet', label: 'Счета', icon: 'bank' }
            - { entity: 'WalletTransaction', label: 'Проводки', icon: 'list' }
            - { entity: 'CustomerTransaction', label: 'Проводки клиентов', icon: 'list' }
            - { entity: 'Expense', label: 'Статьи расходов', icon: 'list' }
            - { label: 'Склад' }
#            - { entity: 'Warehouse', label: 'Склады', icon: 'cube' }
            - { entity: 'Motion', label: 'Движения', icon: 'recycle' }
            - { entity: 'Income', label: 'Приходы', icon: 'book' }
            - { label: 'Клиенты' }
            - { entity: 'Person', label: 'Люди', icon: 'users' }
            - { entity: 'Organization', label: 'Организации', icon: 'industry' }
            - { entity: 'Car', label: 'Автомобили', icon: 'car' }
            - { entity: 'Employee', label: 'Работники', icon: 'users' }
            - { entity: 'User', label: 'Пользователи', icon: 'users' }
            - { label: 'Справочники' }
            - { entity: 'Manufacturer', label: 'Производители', icon: 'industry' }
            - { entity: 'CarModel', label: 'Кузова', icon: 'car' }
            - { entity: 'Part', label: 'Запчасти', icon: 'cogs' }
            - { label: 'Конфигуратор' }
            - { entity: 'McWork', label: 'Работы', icon: 'cogs' }
            - { entity: 'McEquipment', label: 'Комплектации', icon: 'cogs' }
            - { label: 'Сайт' }
            - { entity: 'Review', label: 'Отзывы', icon: 'comments' }
            - { label: 'Аналитика' }
            - { entity: 'PartToBuy', label: 'Закупки', icon: 'line-chart' }
            - { label: 'Отчёты' }
            - { entity: 'OrderProfit', label: 'Рентабельность' }
            - { entity: 'PartSell', label: 'Продажи' }

    formats:
        date: 'd.m.Y'
        time: 'H:i'
        datetime: 'd.m.Y H:i'

    list:
        max_results: 17
        actions:
            - { name: 'new', icon: 'plus', label: 'Создать' }
            - { name: 'show', icon: 'search', label: false }
            - { name: 'edit', icon: 'pencil', label: false }
            - { name: 'delete', icon: 'trash', label: false }
