services:
    EasyCorp\Bundle\EasyAdminBundle\Router\EasyAdminRouter: '@easyadmin.router'
    EasyCorp\Bundle\EasyAdminBundle\Twig\EasyAdminTwigExtension: '@easyadmin.twig.extension'

easy_admin:
    site_name: 'СТО Автомагистр'
    design:
        templates:
            show: 'easy_admin/default/show.html.twig'
            layout: 'easy_admin/default/layout.html.twig'
            menu: 'easy_admin/default/menu.html.twig'
            edit: 'easy_admin/default/edit.html.twig'
            list: 'easy_admin/default/list.html.twig'
            new: 'easy_admin/default/new.html.twig'
            exception: 'easy_admin/default/exception.html.twig'
            flash_messages: 'easy_admin/default/flash_messages.html.twig'
            paginator: 'easy_admin/default/paginator.html.twig'
            field_array: 'easy_admin/default/field_array.html.twig'
            field_association: 'easy_admin/default/field_association.html.twig'
            field_bigint: 'easy_admin/default/field_bigint.html.twig'
            field_boolean: 'easy_admin/default/field_boolean.html.twig'
            field_date: 'easy_admin/default/field_date.html.twig'
#            field_dateinterval: 'easy_admin/default/field_dateinterval.html.twig'
            field_datetime: 'easy_admin/field_datetime_gtm3.html.twig'
            field_datetimetz: 'easy_admin/default/field_datetimetz.html.twig'
            field_decimal: 'easy_admin/default/field_decimal.html.twig'
            field_email: 'easy_admin/default/field_email.html.twig'
#            field_file: 'easy_admin/default/field_file.html.twig'
            field_float: 'easy_admin/default/field_float.html.twig'
#            field_guid: 'easy_admin/default/field_guid.html.twig'
            field_id: 'easy_admin/default/field_id.html.twig'
            field_image: 'easy_admin/default/field_image.html.twig'
#            field_json: 'easy_admin/default/field_json.html.twig'
#            field_json_array: 'easy_admin/default/field_json_array.html.twig'
            field_integer: 'easy_admin/default/field_integer.html.twig'
#            field_object: 'easy_admin/default/field_object.html.twig'
#            field_percent: 'easy_admin/default/field_percent.html.twig'
            field_raw: 'easy_admin/default/field_raw.html.twig'
            field_simple_array: 'easy_admin/default/field_simple_array.html.twig'
            field_smallint: 'easy_admin/default/field_smallint.html.twig'
            field_string: 'easy_admin/default/field_string.html.twig'
            field_tel: 'easy_admin/default/field_tel.html.twig'
            field_text: 'easy_admin/default/field_text.html.twig'
            field_time: 'easy_admin/default/field_time.html.twig'
            field_toggle: 'easy_admin/default/field_toggle.html.twig'
            field_url: 'easy_admin/default/field_url.html.twig'
            label_empty: 'easy_admin/default/label_empty.html.twig'
            label_inaccessible: 'easy_admin/default/label_inaccessible.html.twig'
            label_null: 'easy_admin/default/label_null.html.twig'
            label_undefined: 'easy_admin/default/label_undefined.html.twig'

        form_theme: 'easy_admin/form/bootstrap_3_layout.html.twig'
        assets:
            js:
                - 'assets/js/collection-autocomplete.js'
                - 'https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js'
                - 'assets/js/sto_v2.js'
        menu:
            - { label: 'Заказы', role: !php/const App\Roles::ORDER }
            - { entity: 'CalendarEntry', label: 'Запись', icon: 'calendar', role: !php/const App\Roles::ORDER }
            - { entity: 'Order', label: 'Активные', icon: 'fire', default: true, role: !php/const App\Roles::ORDER }
            - { entity: 'Order', label: 'Все', icon: 'archive', params: { all: '1' }, role: !php/const App\Roles::ORDER }
            - { label: 'Бухгалтерия', role: !php/const App\Roles::ACCOUNTING }
            - { entity: 'Wallet', label: 'Счета', icon: 'bank', role: !php/const App\Roles::ACCOUNTING }
            - { entity: 'WalletTransaction', label: 'Проводки', icon: 'list', role: !php/const App\Roles::ACCOUNTING }
            - { entity: 'OperandTransaction', label: 'Проводки клиентов', icon: 'list', role: !php/const App\Roles::ACCOUNTING }
            - { entity: 'Expense', label: 'Статьи расходов', icon: 'list', role: !php/const App\Roles::ACCOUNTING }
            - { entity: 'ExpenseItem', label: 'Расходы', icon: 'list', role: !php/const App\Roles::ACCOUNTING }
            - { label: 'Склад', role: !php/const App\Roles::STOCK }
#            - { entity: 'Part', label: 'Дефицит', icon: 'fire', params: { action: 'deficit' } }
            - { entity: 'Part', label: 'Наличие', icon: 'cubes', params: { action: 'stock' }, role: !php/const App\Roles::STOCK }
            - { entity: 'Motion', label: 'Движения', icon: 'recycle', role: !php/const App\Roles::STOCK }
            - { entity: 'Income', label: 'Приходы', icon: 'book', role: !php/const App\Roles::STOCK }
            - { label: 'Клиенты', role: !php/const App\Roles::CUSTOMER }
            - { entity: 'Person', label: 'Люди', icon: 'users', role: !php/const App\Roles::CUSTOMER }
            - { entity: 'Organization', label: 'Организации', icon: 'industry', role: !php/const App\Roles::CUSTOMER }
            - { entity: 'Car', label: 'Автомобили', icon: 'car', role: !php/const App\Roles::CUSTOMER }
            - { entity: 'Employee', label: 'Работники', icon: 'users', role: !php/const App\Roles::EMPLOYEE_MANAGER }
            - { entity: 'User', label: 'Пользователи', icon: 'users', role: !php/const App\Roles::USER_MANAGER }
            - { label: 'Справочники', role: !php/const App\Roles::DICTIONARY }
            - { entity: 'Manufacturer', label: 'Производители', icon: 'industry', role: !php/const App\Roles::DICTIONARY }
            - { entity: 'CarModel', label: 'Кузова', icon: 'car', role: !php/const App\Roles::DICTIONARY }
            - { entity: 'Part', label: 'Запчасти', icon: 'cogs', role: !php/const App\Roles::DICTIONARY }
            - { label: 'Конфигуратор', role: !php/const App\Roles::MAINTENANCE_CONFIGURATOR }
            - { entity: 'McWork', label: 'Работы', icon: 'cogs', role: !php/const App\Roles::MAINTENANCE_CONFIGURATOR }
            - { entity: 'McEquipment', label: 'Комплектации', icon: 'cogs', role: !php/const App\Roles::MAINTENANCE_CONFIGURATOR }
            - { label: 'Сайт', role: 'ROLE_WWW_SECTION' }
            - { entity: 'Review', label: 'Отзывы', icon: 'comments', role: !php/const App\Roles::CUSTOMER_FEEDBACK }
            - { label: 'Отчёты', role: !php/const App\Roles::REPORT }
            - { label: 'Рентабельность', route: 'admin_report_profit', role: !php/const App\Roles::REPORT }
            - { label: 'Продажи', route: 'admin_report_part_sell', role: !php/const App\Roles::REPORT }

    formats:
        date: 'd.m.Y'
        time: 'H:i'
        datetime: 'd.m.Y H:i'

    list:
        max_results: 17
        actions:
            - { name: 'new', icon: 'plus', label: 'Создать' }
            - { name: 'show', icon: 'search', label: false }
            - { name: 'edit', icon: 'pencil', label: false }
            - { name: 'delete', icon: 'trash', label: false }

    entities:
        McWork:
            class: App\Entity\Landlord\MC\Work
            controller: App\Controller\EasyAdmin\MC\WorkController
            disabled_actions: ['show']
            list:
                title: 'Список работ'
                fields:
                    - { property: 'id' }
                    - { property: 'name', label: 'Название' }
                    - { property: 'description', label: 'Сервисная информация' }
                    - { property: 'price', label: 'Цена', template: 'easy_admin/field_money.html.twig' }
            form:
                fields:
                    - { property: 'name', label: 'Название', type: 'text' }
                    - { property: 'description', label: 'Описание', type: 'text', type_options: { required: false } }
                    - { property: 'price', label: 'Сумма', type: App\Form\Type\MoneyType }
            new:
                title: 'Создать работу'
                form_options: { data_class: stdClass }
            edit:
                title: 'Редактировать работу № {{ entity.id }}'

        McEquipment:
            class: App\Entity\Landlord\MC\Equipment
            controller: App\Controller\EasyAdmin\MC\EquipmentController
            templates:
                show: 'easy_admin/mc/equipment/show.html.twig'
            list:
                title: 'Список комплектаций'
                fields:
                    - { property: 'id' }
                    - { property: 'model', label: 'Модель' }
                    - { property: 'equipment.engine.name', label: 'Двигатель' }
                    - { property: 'equipment.engine.capacity', label: 'Объём' }
                    - { property: 'equipment.transmission.name', label: 'КПП' }
                    - { property: 'equipment.wheelDrive.name', label: 'Привод' }
                    - { property: 'period', label: 'Период' }
            show:
                title: 'Комплектация № {{ entity.id }}'
                fields:
                    - { property: 'id' }
                    - { property: 'model', label: 'Модель' }
                    - { property: 'equipment.engine.name', label: 'Двигатель' }
                    - { property: 'equipment.engine.capacity', label: 'Объём' }
                    - { property: 'equipment.transmission.name', label: 'КПП' }
                    - { property: 'equipment.wheelDrive.name', label: 'Привод' }
                    - { property: 'period', label: 'Период' }
            form:
                fields:
                    - { property: 'model', label: 'Модель', type: 'easyadmin_autocomplete' }
                    - { property: 'period', label: 'Период ТО' }
                    - { property: 'equipment', label: ' ', type: App\Vehicle\Infrastructure\Form\EquipmentType }
            new:
                title: 'Создать комплектацию'
            edit:
                title: 'Редактировать комплектацию № {{ entity.id }}'

        McLine:
            class: App\Entity\Landlord\MC\Line
            controller: App\Controller\EasyAdmin\MC\LineController
            disabled_actions: ['show', 'list', 'autocomplete']
            list:
                fields:
                    - { property: 'id' }
                    - { property: 'work', label: 'Модель' }
                    - { property: 'period', label: 'Модель ДВС' }
                    - { property: 'recommended', label: 'Двигатель' }
            form:
                fields:
                    - { property: 'work', label: 'Работа' }
                    - { property: 'period', label: 'Период' }
                    - { property: 'recommended', label: 'Рекомендуемый?' }
            new:
                title: 'Создать работу'
            edit:
                title: 'Редактировать работу № {{ entity.id }}'

        McPart:
            class: App\Entity\Landlord\MC\Part
            controller: App\Controller\EasyAdmin\MC\PartController
            disabled_actions: ['show', 'list', 'autocomplete']
            form:
                fields:
                    - { property: 'part', label: 'Запчасть', type: 'easyadmin_autocomplete' }
                    - { property: 'quantity', label: 'Количество', type: App\Form\Type\QuantityType }
                    - { property: 'recommended', label: 'Рекомендуемый?' }
            new:
                title: 'Создать новую запчасть для ТО'
                form_options: { data_class: stdClass }
            edit:
                title: 'Редактировать запчасть № {{ entity.id }} для ТО'

        Review:
            class: App\Entity\Landlord\Review
            controller: App\Controller\EasyAdmin\ReviewController
            disabled_actions: ['show']
            list:
                fields:
                    - { property: 'id' }
                    - { property: 'author', label: 'Автор' }
                    - { property: 'manufacturer', label: 'Производитель автомобиля' }
                    - { property: 'model', label: 'Модель автомобиля' }
                    - { property: 'content', label: 'Отзыв' }
                    - { property: 'source', label: 'Источник' }
                    - { property: 'publishAt', label: 'Когда обудликова' }
            form:
                fields:
                    - { property: 'author', label: 'Автор' }
                    - { property: 'manufacturer', label: 'Производитель автомобиля' }
                    - { property: 'model', label: 'Модель автомобиля' }
                    - { property: 'content', label: 'Отзыв' }
                    - { property: 'source', label: 'Источник' }
                    - { property: 'publishAt', label: 'Когда обудликова', type: 'date_immutable', type_options: { input: 'datetime_immutable' } }
            new:
                title: 'Создать новый Отзыв'
                form_options: { data_class: stdClass }
            edit:
                title: 'Редактировать Отзыв № {{ entity.id }}'

        Expense:
            class: App\Entity\Tenant\Expense
            controller: App\Controller\EasyAdmin\ExpenseController
            disabled_actions: ['show', 'delete']
            list:
                title: 'Статьи расходов'
                fields:
                    - { property: 'id' }
                    - { property: 'name', label: 'Название' }
                    - { property: 'wallet', label: 'Счет списания по умолчанию' }
                    - { property: 'create', virtual: true, label: ' ', template: 'easy_admin/expense/field_button.html.twig' }
            new:
                title: 'Создать новую Статью расходов'
                form_options: { data_class: stdClass }
                fields:
                    - { property: 'name', label: 'Название' }
                    - { property: 'wallet', label: 'Счет списания по умолчанию', type_options: { required: false } }
            edit:
                title: 'Редактировать Статью расходов № {{ entity.id }}'
                fields:
                    - { property: 'name', label: 'Название', type_options: { disabled: true } }
                    - { property: 'wallet', label: 'Счет списания по умолчанию', type_options: { required: false } }
        ExpenseItem:
            class: App\Entity\Tenant\ExpenseItem
            controller: App\Controller\EasyAdmin\ExpenseItemController
            disabled_actions: ['edit', 'show', 'delete']
            list:
                title: 'Расходы'
                fields:
                    - { property: 'id', template: 'easy_admin/default/field_raw.html.twig' }
                    - { property: 'expense', label: 'Статья расходов' }
                    - { property: 'amount', label: 'Сумма', template: 'easy_admin/field_money.html.twig' }
                    - { property: 'description', label: 'Комментарий' }
            new:
                title: 'Создать новый Расход'
                form_options: { data_class: stdClass }
                fields:
                    - { property: 'expense', label: 'Статья расходов', type_options: { placeholder: 'Выберите статью', required: true } }
                    - { property: 'wallet', label: 'Счет списания', type: 'entity', type_options: { class: App\Wallet\Entity\Wallet, required: true } }
                    - { property: 'amount', label: 'Стоимость', type: App\Form\Type\MoneyType, type_options: { required: true } }
                    - { property: 'description', label: 'Комментарий' }
