twig:
    debug:            "%kernel.debug%"
    strict_variables: "%kernel.debug%"
    paths:
        - '%kernel.project_dir%/templates'
    exception_controller: App\Controller\ExceptionController::showAction
