{% dump %}
{% set unpaidIncomes = supplier_unpaid_income(item.supplierId) %}

{% if unpaidIncomes[item.toId.toString] is defined %}
    <a href="{{ easyadmin_path(item, 'pay') }}">
        <i class="fa fa-dollar"></i>
    </a>
{% endif %}
