{% set unpaidIncomes = supplier_unpaid_income(item.supplierId) %}

{% if unpaidIncomes[item|toId] is defined %}
    <a href="{{ easyadmin_path('Income', 'pay', {'id': item|toId}) }}">
        <i class="fa fa-dollar"></i>
    </a>
{% endif %}
