{% extends 'easy_admin/default/list.html.twig' %}

{% block content_title %}
    {{ parent() }}

    {% if part is not empty %}
        {# @var part \App\Part\Domain\Part #}
        с запчастью <a href="{{ easyadmin_path(part, 'show') }}">{{ part.displayName }}</a>
    {% endif %}
{% endblock %}
