{% extends 'easy_admin/default/layout.html.twig' %}

{% form_theme form with easyadmin_config('design.form_theme') %}

{# @var income \App\Entity\Income #}

{% block content_title %}
    <h1>Оплата поставщику</h1>
{% endblock %}

{% block main %}
    {{ form_start(form) }}
    {{ form_widget(form) }}

    <button class="btn btn-success" type="submit">
        Подтвердить
    </button>

    <a href="{{ easyadmin_path('Income', 'show', {'id': income|toId}) }}" class="btn btn-primary">Назад</a>
    {{ form_end(form) }}
{% endblock %}
