{% extends '@EasyAdmin/default/show.html.twig' %}

{# @var entity \App\Entity\Income #}

{% block item_actions %}
    {% if entity.editable %}
        <a href="{{ easyadmin_path('IncomePart', 'new', {'referer': true}|merge(entity|to_query)) }}" class="btn btn-success">
            Добавить новую позицию
        </a>

        <a href="{{ easyadmin_path(entity, 'accrue', {'referer': true}) }}" class="btn btn-danger">
            Оприходовать
        </a>
    {% endif %}

    {{ parent() }}
{% endblock %}
