{% extends 'easy_admin/default/show.html.twig' %}

{# @var entity \App\Income\Entity\Income #}

{% block item_actions %}
    {% if entity.editable %}
        <a href="{{ easyadmin_path('IncomePart', 'new', {'income_id': entity|toId, 'referer': true}) }}" class="btn btn-success">
            Добавить новую позицию
        </a>

        <a href="{{ easyadmin_path('Income', 'accrue', {'id': entity|toId, 'referer': true}) }}" class="btn btn-danger">
            Оприходовать
        </a>
    {% endif %}

    {{ parent() }}
{% endblock %}
