# git
.git

# Symfony
var
public/bundles
.env
.env.*
src/Fixtures
tests

# Composer
vendor

# Node
/node_modules
/public/assets/build

# Docker
docker-compose.*
Dockerfile
/.docker

# CRM
/crm

# Helm
/helm
