version: '3.7'

services:
    nginx:
        image: automagistre/tenant-nginx:base
        labels:
            ru.grachevko.dhu: '${TENANT}.automagistre.local:2'
        volumes:
            - ./public:/usr/local/app/public
            - ./etc/nginx.conf:/etc/nginx/nginx.conf
            - ./etc/nginx.cors.conf:/etc/nginx/cors.conf
            - ./etc/nginx.cors-setup.conf:/etc/nginx/cors.setup.conf

    php-fpm:
        image: automagistre/tenant-php:base
        volumes:
            - ./:/usr/local/app
            - ./etc/php.ini:/usr/local/etc/php/php.ini
            - ./etc/php-fpm.conf:/usr/local/etc/php-fpm.conf
            - ./etc/php-fpm.www.conf:/usr/local/etc/php-fpm.d/www.conf
        environment:
            APP_ENV: dev
            APP_DEBUG: 1
            TENANT: ${TENANT}

    db:
        image: postgres:12.2
        labels:
            ru.grachevko.dhu: 'db.${TENANT}.automagistre.local'
        volumes:
            -   type: tmpfs
                target: /var/lib/postgresql/data
                tmpfs:
                    size: 2G
            - ./:/usr/local/app
        environment:
            POSTGRES_DB: db
            POSTGRES_USER: db
            POSTGRES_PASSWORD: db

    memcached:
        image: memcached:1.5.11-alpine
        labels:
            ru.grachevko.dhu: 'memcached.${TENANT}.automagistre.local'

    host.docker.internal:
        image: alpine/socat:1.7.3.4-r0
        entrypoint: sh
        command: -c "socat tcp-listen:9000,fork,reuseaddr tcp-connect:$$(/sbin/ip route|awk '/default/ { print $$3 }'):9000"

    nsqd:
        image: nsqio/nsq:v1.2.0
        command: /nsqd

    nsqadmin:
        image: nsqio/nsq:v1.2.0
        command: /nsqadmin --nsqd-http-address=nsqd:4151 --http-address=0.0.0.0:80
        labels:
            ru.grachevko.dhu: 'nsq.${TENANT}.automagistre.local'

networks:
    default:
        name: automagistre
