version: '3.7'

services:
    nginx:
        image: automagistre/app-nginx:base
        labels:
            ru.grachevko.dhu: 'sto.automagistre.local:2'
        volumes:
            - ./public:/usr/local/app/public
            - ./etc/nginx.conf:/etc/nginx/nginx.conf

    app:
        image: automagistre/app:base
        networks:
            default:
                aliases:
                    - php-fpm
        volumes:
            - ./:/usr/local/app
            - ./etc/php.ini:/usr/local/etc/php/php.ini
            - ./etc/php-fpm.conf:/usr/local/etc/php-fpm.d/automagistre.conf
        environment:
            APP_ENV: prod
            APP_DEBUG: 0
            MERCURE_HUB_URL: //mercure.automagistre.local/.well-known/mercure

    landlord: &postgres
        image: postgres:12.2
        labels:
            ru.grachevko.dhu: 'landlord.automagistre.local'
        volumes:
            -   type: tmpfs
                target: /var/lib/postgresql/data
                tmpfs:
                    size: 2G
            - ./:/usr/local/app
        environment:
            POSTGRES_DB: landlord
            POSTGRES_USER: db
            POSTGRES_PASSWORD: db
        healthcheck:
            test: pg_isready -U db
            interval: 5s
            timeout: 5s
            retries: 3
            start_period: 10s

    tenant_msk:
        <<: *postgres
        labels:
            ru.grachevko.dhu: 'tenant_msk.automagistre.local'
        environment:
            POSTGRES_DB: tenant
            POSTGRES_USER: db
            POSTGRES_PASSWORD: db

    memcached:
        image: memcached:1.5.11-alpine
        labels:
            ru.grachevko.dhu: 'memcached.automagistre.local'
            restartable: 'false'
        healthcheck:
            test: nc -z 127.0.0.1 11211
            interval: 5s
            timeout: 5s
            retries: 3
            start_period: 5s

    mercure:
        image: dunglas/mercure:v0.8.0
        labels:
            ru.grachevko.dhu: 'mercure.automagistre.local'
        environment:
            ALLOW_ANONYMOUS: 1
            CORS_ALLOWED_ORIGINS: 'http://sto.automagistre.local'
            JWT_KEY: aVerySecretKey
        networks:
            default:
                aliases:
                    - mercure.automagistre.local

    host.docker.internal:
        image: alpine/socat:1.7.3.4-r0
        entrypoint: sh
        command: -c "socat tcp-listen:9000,fork,reuseaddr tcp-connect:$$(/sbin/ip route|awk '/default/ { print $$3 }'):9000"
