version: '3.3'

services:
    app:
        build:
            context: .
            args:
                SOURCE_DIR: ./var/null
        hostname: automagistre.local
        labels:
            subdomains: sto
        volumes:
            - ./:/usr/local/app
        environment:
            APP_ENV: dev
            APP_DEBUG: 1
            MIGRATIONS: 'false'
            WAIT_HOSTS: 'mysql:3306'
    mysql:
        image: mariadb:10.1.23
        hostname: mysql.automagistre.local
        volumes:
            - mysql-db:/var/lib/mysql
        environment:
            MYSQL_DATABASE: db
            MYSQL_USER: db
            MYSQL_PASSWORD: db
            MYSQL_ALLOW_EMPTY_PASSWORD: 'true'

volumes:
    mysql-db:
      driver: local
