includes:
	- vendor/phpstan/phpstan-doctrine/extension.neon
	- vendor/phpstan/phpstan-phpunit/extension.neon
	- vendor/grachevko/enum/extension.neon
	- vendor/lookyman/phpstan-symfony/extension.neon

parameters:
	symfony:
		srcDevDebugProjectContainerXml: %rootDir%/../../../var/cache/test/srcTestDebugProjectContainer.xml
