parameters:
	ignoreErrors:
		-
			message: "#^Casting to TValue of string something that's already TValue of string\\.$#"
			count: 1
			path: src/Customer/Controller/CustomerController.php

		-
			message: "#^Call to method getExistingSchemaSearchPaths\\(\\) on an unknown class Doctrine\\\\DBAL\\\\Schema\\\\PostgreSqlSchemaManager\\.$#"
			count: 1
			path: src/Doctrine/ORM/EventSubscriber/FixPostgreSQLDefaultSchemaListener.php

		-
			message: "#^Class Doctrine\\\\DBAL\\\\Schema\\\\PostgreSqlSchemaManager not found\\.$#"
			count: 1
			path: src/Doctrine/ORM/EventSubscriber/FixPostgreSQLDefaultSchemaListener.php

		-
			message: "#^Class App\\\\Form\\\\Transformer\\\\DivisoredNumberTransformer implements generic interface Symfony\\\\Component\\\\Form\\\\DataTransformerInterface but does not specify its types\\: T, R$#"
			count: 1
			path: src/Form/Transformer/DivisoredNumberTransformer.php

		-
			message: "#^Method App\\\\Form\\\\Transformer\\\\DivisoredNumberTransformer\\:\\:reverseTransform\\(\\) has no return type specified\\.$#"
			count: 1
			path: src/Form/Transformer/DivisoredNumberTransformer.php

		-
			message: "#^Method App\\\\Form\\\\Transformer\\\\DivisoredNumberTransformer\\:\\:reverseTransform\\(\\) has parameter \\$value with no type specified\\.$#"
			count: 1
			path: src/Form/Transformer/DivisoredNumberTransformer.php

		-
			message: "#^Method App\\\\Form\\\\Transformer\\\\DivisoredNumberTransformer\\:\\:transform\\(\\) has no return type specified\\.$#"
			count: 1
			path: src/Form/Transformer/DivisoredNumberTransformer.php

		-
			message: "#^Method App\\\\Form\\\\Transformer\\\\DivisoredNumberTransformer\\:\\:transform\\(\\) has parameter \\$value with no type specified\\.$#"
			count: 1
			path: src/Form/Transformer/DivisoredNumberTransformer.php

		-
			message: "#^Class App\\\\Form\\\\Transformer\\\\EmptyStringAndCaseTransformer implements generic interface Symfony\\\\Component\\\\Form\\\\DataTransformerInterface but does not specify its types\\: T, R$#"
			count: 1
			path: src/Form/Transformer/EmptyStringAndCaseTransformer.php

		-
			message: "#^Method App\\\\Form\\\\Transformer\\\\EmptyStringAndCaseTransformer\\:\\:reverseTransform\\(\\) has no return type specified\\.$#"
			count: 1
			path: src/Form/Transformer/EmptyStringAndCaseTransformer.php

		-
			message: "#^Method App\\\\Form\\\\Transformer\\\\EmptyStringAndCaseTransformer\\:\\:reverseTransform\\(\\) has parameter \\$value with no type specified\\.$#"
			count: 1
			path: src/Form/Transformer/EmptyStringAndCaseTransformer.php

		-
			message: "#^Method App\\\\Form\\\\Transformer\\\\EmptyStringAndCaseTransformer\\:\\:transform\\(\\) has no return type specified\\.$#"
			count: 1
			path: src/Form/Transformer/EmptyStringAndCaseTransformer.php

		-
			message: "#^Method App\\\\Form\\\\Transformer\\\\EmptyStringAndCaseTransformer\\:\\:transform\\(\\) has parameter \\$value with no type specified\\.$#"
			count: 1
			path: src/Form/Transformer/EmptyStringAndCaseTransformer.php

		-
			message: "#^Property App\\\\GraphQL\\\\Buffer\\:\\:\\$loaded \\(array\\<class\\-string, array\\<string, object\\>\\>\\) does not accept array\\<class\\-string, array\\<int\\|string, object\\>\\>\\.$#"
			count: 1
			path: src/GraphQL/Buffer.php

		-
			message: "#^Offset 'originalClass' does not exist on array\\{type\\: string, fieldName\\: string, columnName\\: string, length\\?\\: int, id\\?\\: bool, nullable\\?\\: bool, notInsertable\\?\\: bool, notUpdatable\\?\\: bool, \\.\\.\\.\\}\\.$#"
			count: 1
			path: src/Identifier/DI/AutoTypeMappingCompilerPass.php

		-
			message: "#^Offset 'originalField' does not exist on array\\{type\\: string, fieldName\\: string, columnName\\: string, length\\?\\: int, id\\?\\: bool, nullable\\?\\: bool, notInsertable\\?\\: bool, notUpdatable\\?\\: bool, \\.\\.\\.\\}\\.$#"
			count: 1
			path: src/Identifier/DI/AutoTypeMappingCompilerPass.php

		-
			message: "#^Call to method cache\\(\\) on an unknown class Symfony\\\\Config\\\\FrameworkConfig\\.$#"
			count: 1
			path: src/Identifier/config.php

		-
			message: "#^Parameter \\$framework of anonymous function has invalid type Symfony\\\\Config\\\\FrameworkConfig\\.$#"
			count: 1
			path: src/Identifier/config.php

		-
			message: "#^Casting to TValue of string something that's already TValue of string\\.$#"
			count: 2
			path: src/Order/Controller/ProfitController.php

		-
			message: "#^Casting to TValue of string something that's already TValue of string\\.$#"
			count: 1
			path: src/Part/Controller/PartExplorerController.php

		-
			message: "#^Casting to TValue of string something that's already TValue of string\\.$#"
			count: 2
			path: src/Part/Controller/PartSellController.php

		-
			message: "#^Call to method orm\\(\\) on an unknown class Symfony\\\\Config\\\\DoctrineConfig\\.$#"
			count: 2
			path: src/Tenant/config.php

		-
			message: "#^Parameter \\$doctrine of anonymous function has invalid type Symfony\\\\Config\\\\DoctrineConfig\\.$#"
			count: 1
			path: src/Tenant/config.php

		-
			message: "#^Unreachable statement \\- code above always terminates\\.$#"
			count: 1
			path: tests/EasyAdmin/Entities/Note/NoteTest.php

		-
			message: "#^Unreachable statement \\- code above always terminates\\.$#"
			count: 1
			path: tests/EasyAdmin/Entities/Part/PartCrossTest.php

		-
			message: "#^Unreachable statement \\- code above always terminates\\.$#"
			count: 2
			path: tests/EasyAdmin/Entities/Storage/InventorizationTest.php

		-
			message: "#^Parameter \\#1 \\$callback of function array_map expects \\(callable\\(int\\|string\\)\\: mixed\\)\\|null, Closure\\(string\\)\\: non\\-empty\\-string given\\.$#"
			count: 1
			path: tests/EasyAdminTest.php

