parameters:
	ignoreErrors:
		-
			message: "#^Method App\\\\Doctrine\\\\Registry\\:\\:repository\\(\\) should return Doctrine\\\\ORM\\\\EntityRepository\\<T of object\\> but returns Doctrine\\\\Persistence\\\\ObjectRepository\\<T of object\\>\\.$#"
			count: 1
			path: src/Doctrine/Registry.php

		-
			message: "#^Offset 'columnName' does not exist on array\\('type' \\=\\> string, 'fieldName' \\=\\> string, \\?'columnName' \\=\\> string, \\?'inherited' \\=\\> class\\-string, \\?'nullable' \\=\\> bool, \\?'originalClass' \\=\\> class\\-string, \\?'originalField' \\=\\> string, \\?'scale' \\=\\> int, \\.\\.\\.\\)\\.$#"
			count: 2
			path: src/Identifier/DI/AutoTypeMappingCompilerPass.php

		-
			message: "#^Offset 'originalClass' does not exist on array\\('type' \\=\\> string, 'fieldName' \\=\\> string, \\?'columnName' \\=\\> string, \\?'inherited' \\=\\> class\\-string, \\?'nullable' \\=\\> bool, \\?'originalClass' \\=\\> class\\-string, \\?'originalField' \\=\\> string, \\?'scale' \\=\\> int, \\.\\.\\.\\)\\.$#"
			count: 1
			path: src/Identifier/DI/AutoTypeMappingCompilerPass.php

		-
			message: "#^Offset 'originalField' does not exist on array\\('type' \\=\\> string, 'fieldName' \\=\\> string, \\?'columnName' \\=\\> string, \\?'inherited' \\=\\> class\\-string, \\?'nullable' \\=\\> bool, \\?'originalClass' \\=\\> class\\-string, \\?'originalField' \\=\\> string, \\?'scale' \\=\\> int, \\.\\.\\.\\)\\.$#"
			count: 1
			path: src/Identifier/DI/AutoTypeMappingCompilerPass.php

		-
			message: "#^Offset 'columnName' does not exist on array\\('type' \\=\\> string, 'fieldName' \\=\\> string, \\?'columnName' \\=\\> string, \\?'inherited' \\=\\> class\\-string, \\?'nullable' \\=\\> bool, \\?'originalClass' \\=\\> class\\-string, \\?'originalField' \\=\\> string, \\?'scale' \\=\\> int, \\.\\.\\.\\)\\.$#"
			count: 1
			path: src/Identifier/Doctrine/AutoTypeMappingListener.php

		-
			message: "#^Call to method cache\\(\\) on an unknown class Symfony\\\\Config\\\\FrameworkConfig\\.$#"
			count: 1
			path: src/Identifier/config.php

		-
			message: "#^Parameter \\$framework of anonymous function has invalid typehint type Symfony\\\\Config\\\\FrameworkConfig\\.$#"
			count: 1
			path: src/Identifier/config.php

		-
			message: "#^Method App\\\\Tenant\\\\Doctrine\\\\ORM\\\\Query\\\\GroupFilter\\:\\:addFilterConstraint\\(\\) has parameter \\$targetEntity with generic class Doctrine\\\\ORM\\\\Mapping\\\\ClassMetadata but does not specify its types\\: T$#"
			count: 1
			path: src/Tenant/Doctrine/ORM/Query/GroupFilter.php

		-
			message: "#^Method App\\\\Tenant\\\\Doctrine\\\\ORM\\\\Query\\\\TenantFilter\\:\\:addFilterConstraint\\(\\) has parameter \\$targetEntity with generic class Doctrine\\\\ORM\\\\Mapping\\\\ClassMetadata but does not specify its types\\: T$#"
			count: 1
			path: src/Tenant/Doctrine/ORM/Query/TenantFilter.php

		-
			message: "#^Call to method orm\\(\\) on an unknown class Symfony\\\\Config\\\\DoctrineConfig\\.$#"
			count: 2
			path: src/Tenant/config.php

		-
			message: "#^Parameter \\$doctrine of anonymous function has invalid typehint type Symfony\\\\Config\\\\DoctrineConfig\\.$#"
			count: 1
			path: src/Tenant/config.php

		-
			message: "#^Unreachable statement \\- code above always terminates\\.$#"
			count: 1
			path: tests/EasyAdmin/Entities/Note/NoteTest.php

		-
			message: "#^Unreachable statement \\- code above always terminates\\.$#"
			count: 1
			path: tests/EasyAdmin/Entities/Part/PartCrossTest.php

		-
			message: "#^Unreachable statement \\- code above always terminates\\.$#"
			count: 2
			path: tests/EasyAdmin/Entities/Storage/InventorizationTest.php

