parameters:
	ignoreErrors:
		-
			message: "#^Parameter \\#2 \\.\\.\\.\\$args of function sprintf expects bool\\|float\\|int\\|string\\|null, \\(callable\\)\\|class\\-string given\\.$#"
			count: 1
			path: src/ArgumentResolver/ArgumentResolver.php

		-
			message: "#^Unable to resolve the template type T in call to method App\\\\Doctrine\\\\Registry\\:\\:repository\\(\\)$#"
			count: 1
			path: src/Controller/EasyAdmin/AbstractController.php

		-
			message: "#^Call to function is_float\\(\\) with mixed will always evaluate to false\\.$#"
			count: 1
			path: src/Form/Transformer/DivisoredNumberToLocalizedStringTransformer.php

		-
			message: "#^Call to function is_int\\(\\) with mixed will always evaluate to false\\.$#"
			count: 1
			path: src/Form/Transformer/DivisoredNumberToLocalizedStringTransformer.php

		-
			message: "#^Parameter \\#1 \\$value \\(string\\) of method App\\\\Form\\\\Transformer\\\\DivisoredNumberToLocalizedStringTransformer\\:\\:reverseTransform\\(\\) should be contravariant with parameter \\$value \\(mixed\\) of method Symfony\\\\Component\\\\Form\\\\DataTransformerInterface\\:\\:reverseTransform\\(\\)$#"
			count: 1
			path: src/Form/Transformer/DivisoredNumberToLocalizedStringTransformer.php

		-
			message: "#^Parameter \\#1 \\$view of method Symfony\\\\Component\\\\Form\\\\AbstractType\\:\\:buildView\\(\\) expects Symfony\\\\Component\\\\Form\\\\FormView, array given\\.$#"
			count: 1
			path: src/Form/Type/OrderItemServiceType.php

		-
			message: "#^Call to function is_subclass_of\\(\\) with 'App\\\\\\\\Form\\\\\\\\Model\\\\\\\\Model' and string will always evaluate to true\\.$#"
			count: 1
			path: src/Form/TypeGuesser/EntityModelTypeGuesser.php

		-
			message: "#^Variable method call on Symfony\\\\Bridge\\\\Doctrine\\\\Form\\\\DoctrineOrmTypeGuesser\\.$#"
			count: 1
			path: src/Form/TypeGuesser/EntityModelTypeGuesser.php

		-
			message: "#^Call to method Symfony\\\\Component\\\\Console\\\\Input\\\\InputInterface\\:\\:hasOption\\(\\) with 'connection'\\|'db'\\|'em' will always evaluate to true\\.$#"
			count: 1
			path: src/Tenant/EventListener/TenantStateListener.php

		-
			message: "#^Call to function assert\\(\\) with true will always evaluate to true\\.$#"
			count: 1
			path: src/Tenant/MetadataCompilerPass.php

		-
			message: "#^Instanceof between Doctrine\\\\Bundle\\\\DoctrineBundle\\\\Registry and Symfony\\\\Bridge\\\\Doctrine\\\\ManagerRegistry will always evaluate to true\\.$#"
			count: 1
			path: src/Tenant/MetadataCompilerPass.php

