includes:
    - vendor/phpstan/phpstan-doctrine/extension.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon
    - phpstan-baseline.neon

parameters:
    level: 7
    paths:
        - src
        - tests
    excludes_analyse:
        - %rootDir%/../../../src/Command/TestCommand.php
        - %rootDir%/../../../src/Controller/TestController.php
    symfony:
        container_xml_path: %rootDir%/../../../var/cache/test/App_KernelTestDebugContainer.xml
    checkMissingIterableValueType: false
