easy_admin:
    entities:
        CarModel:
            class: App\Vehicle\Entity\Model
            controller: App\Vehicle\Controller\ModelController
            disabled_actions: ['delete']
            label: 'Кузов'
            list:
                title: 'Кузова'
                fields:
                    - { property: 'name', label: 'Название', template: 'easy_admin/field_item_show.html.twig' }
                    - { property: 'manufacturerId', label: 'Производитель', template: 'easy_admin/field_identifier.html.twig' }
                    - { property: 'caseName', label: 'Кузов' }
                    - { property: 'yearFrom', label: 'Начало производства' }
                    - { property: 'yearTill', label: 'Конец производства' }
            show:
                title: 'Кузов'
                fields:
                    - { property: 'manufacturerId', label: 'Производитель', template: 'easy_admin/field_identifier.html.twig' }
                    - { property: 'name', label: 'Название' }
                    - { property: 'caseName', label: 'Кузов' }
                    - { property: 'yearFrom', label: 'Начало производства' }
                    - { property: 'yearTill', label: 'Конец производства' }
            form:
                fields:
                    -   property: 'manufacturerId'
                        label: 'Производитель'
                        type: App\Manufacturer\Form\ManufacturerAutocompleteType
                    - { property: 'name', label: 'Название' }
                    - { property: 'localizedName', label: 'Название на русском' }
                    - { property: 'caseName', label: 'Кузов' }
                    - { property: 'yearFrom', label: 'Начало производства' }
                    - { property: 'yearTill', label: 'Конец производства' }
            new:
                form_options: { data_class: \App\Vehicle\Form\ModelCreate }
                title: 'Создать новый кузов'
            edit:
                form_options: { data_class: \App\Vehicle\Form\ModelUpdate }
                title: 'Редактировать кузов'
                fields:
                    - { property: 'manufacturerId', label: 'Производитель', type_options: { disabled: true } }
