<h3>Заявка на запись</h3>
<hr>
<p>Клиент хочет записаться на ремонт <b>{{ date(appeal.date, 'Europe/Moscow')|format_date('short') }}</b></p>
<small style="color: #929292">Для уточнения подробностей записи нужно позвонить клиенту</small>
