easy_admin:
    entities:
        Expense:
            class: App\Expense\Entity\Expense
            controller: App\Expense\Controller\ExpenseController
            disabled_actions: ['show', 'delete']
            list:
                title: 'Статьи расходов'
                fields:
                    - { property: 'name', label: 'Название' }
                    - { property: 'wallet', label: 'Счет списания по умолчанию' }
                    - { property: 'create', virtual: true, label: ' ', template: 'easy_admin/expense/field_button.html.twig' }
            new:
                title: 'Создать новую Статью расходов'
                form_options: { data_class: stdClass }
                fields:
                    - { property: 'name', label: 'Название' }
                    - { property: 'wallet', label: 'Счет списания по умолчанию', type_options: { required: false } }
            edit:
                title: 'Редактировать Статью расходов'
                fields:
                    - { property: 'name', label: 'Название', type_options: { disabled: true } }
                    - { property: 'wallet', label: 'Счет списания по умолчанию', type_options: { required: false } }
