easy_admin:
    entities:
        Car:
            class: App\Car\Entity\Car
            controller: App\Car\Controller\CarController
            label: 'Автомобили'
            search:
                fields: ['gosnomer', 'identifier']
            templates:
                show: 'easy_admin/car/show.html.twig'
            list:
                title: 'Автомобили'
                fields:
                    - { property: 'id' }
                    - { property: 'vehicleId', label: 'Марка / Модель', template: 'easy_admin/field_identifier.html.twig' }
                    - { property: 'year', label: 'Год', type: 'string' }
                    - { property: 'caseType.toName', label: 'Кузов' }
                    - { property: 'identifier', label: 'Идентификатор (VIN, № Кузова/Шасси...)', sortable: false }
                    - { property: 'mileage', label: 'Пробег' }
                    - { property: 'gosnomer', label: 'Гос. Номер', sortable: false }
            show:
                title: 'Автомобиль № {{ entity.id }}'
                fields:
                    - { property: 'identifier', label: 'Идентификатор', help: 'VIN, № Кузова/Шасси...' }
                    - { property: 'vehicleId', label: 'Модель', template: 'easy_admin/field_identifier.html.twig' }
                    - { property: 'caseType.toName', label: 'Тип кузова' }
                    - { property: 'year', label: 'Год', type: 'string' }
                    - { property: 'equipment.engine.capacity', label: 'Объём двигателя' }
                    - { property: 'equipment.engine.type.toName', label: 'Тип двигателя' }
                    - { property: 'equipment.transmission.toName', label: 'Трасмиссия' }
                    - { property: 'equipment.wheelDrive.toName', label: 'Привод' }
                    - { property: 'mileage', label: 'Пробег' }
                    - { property: 'gosnomer', label: 'Гос. Номер' }
            form:
                fields:
                    - { type: 'group', label: 'Основная информация', css_class: 'col-sm-6' }
                    -   property: 'model'
                        label: 'Модель'
                        type: 'easyadmin_autocomplete'
                        type_options:
                            class: App\Vehicle\Domain\Model
                        help: 'Проивзодитель, Модель, Год, Поколение, Комплектация, Лошадинные силы'
                    - { property: 'year', label: 'Год выпуска' }
                    - { property: 'caseType', label: 'Тип кузова', type: App\Vehicle\Infrastructure\Form\BodyTypeType, type_options: { required: false } }
                    - { property: 'identifier', label: 'Идентификатор (VIN, № Кузова/Шасси...)' }
                    - { property: 'gosnomer', label: 'Гос. Номер' }
                    - { property: 'description', label: 'Описание', type: 'textarea' }
                    - { type: 'group', label: 'Комплектация', css_class: 'col-sm-6' }
                    - { property: 'equipment', label: ' ', type: App\Vehicle\Infrastructure\Form\EquipmentType }
            edit:
                title: 'Редактировать автомобиль'
                fields:
                    - { property: 'identifier', type_options: { disabled: true } }
            new:
                title: 'Создать новый автомобиль'

        CarNote:
            class: App\Car\Entity\Note
            controller: App\Car\Controller\NoteController
            disabled_actions: ['show', 'list', 'search', 'autocomplete']
            form:
                fields:
                    - { property: 'car', label: 'Автомобиль', type: 'easyadmin_autocomplete', type_options: { disabled: true } }
                    - { property: 'type', label: 'Тип', type: App\Form\Type\NoteTypeType }
                    - { property: 'text', label: 'Текст' }
            new:
                title: 'Создать новую заметку по Автомобилю'
            edit:
                title: 'Редактировать заметку № {{ entity.id }} по Автомобилю'

        CarRecommendation:
            class: App\Car\Entity\Recommendation
            controller: App\Car\Controller\RecommendationController
            disabled_actions: ['list']
            templates:
                new: 'easy_admin/car_recommendation/new.html.twig'
                edit: 'easy_admin/car_recommendation/edit.html.twig'
            form:
                fields:
                    - { property: 'car', label: 'Автомобиль', type: 'text', type_options: { disabled: true } }
                    - { property: 'service', label: 'Работа', type_options: { required: true } }
                    - { property: 'price', label: 'Стоимость', type: App\Form\Type\MoneyType, type_options: { required: true } }
                    - { property: 'workerId', label: 'Диагност', type: App\Form\Type\WorkerType, type_options: { required: true } }
            edit:
                title: 'Рекомендация № {{ entity.id }}'
            new:
                title: 'Новая рекомендация'
                form_options: { data_class: App\Car\Form\DTO\RecommendationDTO }

        CarRecommendationPart:
            class: App\Car\Entity\RecommendationPart
            controller: App\Car\Controller\RecommendationPartController
            disabled_actions: ['list']
            templates:
                new: 'easy_admin/car_recommendation_part/new.html.twig'
            form:
                fields:
                    - { property: 'recommendation', label: 'Рекомендация', type: 'text', type_options: { disabled: true } }
                    -   property: 'partId'
                        label: 'Запчасть'
                        type: App\EasyAdmin\Form\AutocompleteType
                        type_options:
                            class: App\Part\Domain\Part
                    - { property: 'price', label: 'Стоимость', type: App\Form\Type\MoneyType }
                    - { property: 'quantity', label: 'Количество', type: App\Form\Type\QuantityType }
            edit:
                fields:
                    - { property: 'partId', label: 'Запчасть', type_options: { disabled: true } }
            new:
                title: 'Добавить запчасть к рекомендации'
                form_options: { data_class: App\Car\Form\DTO\RecommendationPartDTO }

doctrine:
    orm:
        entity_managers:
            tenant:
                mappings:
                    car:
                        type: annotation
                        prefix: App\Car\Entity
                        dir: '%kernel.project_dir%/src/Car/Entity'
