easy_admin:
    entities:
        User:
            class: App\User\Entity\User
            controller: App\User\Controller\UserController
            disabled_actions: ['delete']
            list:
                max_results: 50
                title: 'Пользователи'
                fields:
                    - { property: 'id', label: 'Номер', template: 'easy_admin/order/field_id.html.twig' }
                    - { property: 'username', label: 'E-Mail' }
                    - { property: 'personId', label: 'ФИО', template: 'easy_admin/field_identifier.html.twig' }
            show:
                title: 'Пользователь № {{ entity.id }}'
                fields:
                    - { property: 'id', label: 'ID' }
                    - { property: 'username', label: 'E-Mail' }
                    - { property: 'personId', label: 'Заказчик', template: 'easy_admin/field_identifier.html.twig' }
            form:
                fields:
                    - { property: 'username', label: 'E-Mail', type: 'email' }
                    -   property: 'personId'
                        label: 'Заказчик'
                        type: App\EasyAdmin\Form\AutocompleteType
                        type_options:
                            class: App\Customer\Entity\Operand
                    - { property: 'password', label: 'Пароль', type: 'password', type_options: { required: true } }
            new:
                title: 'Создать нового Пользователя'
                form_options: { data_class: stdClass }
            edit:
                title: 'Редактировать пользователя № {{ entity.id }}'
                fields:
                    - { property: 'password', type_options: { required: false, mapped: false } }
                    - { property: 'username', type_options: { disabled: true } }

doctrine:
    orm:
        mappings:
            user:
                type: annotation
                prefix: App\User\Entity
                dir: '%kernel.project_dir%/src/User/Entity'
