easy_admin:
    entities:
        User:
            class: App\User\Entity\User
            controller: App\User\Controller\UserController
            disabled_actions: ['delete']
            list:
                max_results: 50
                title: 'Пользователи'
                fields:
                    - { property: 'id', label: 'Номер', template: 'easy_admin/order/field_id.html.twig' }
                    - { property: 'username', label: 'E-Mail' }
                    - { property: 'firstName', label: 'Имя' }
                    - { property: 'lastName', label: 'Фамилия' }
            show:
                title: 'Пользователь № {{ entity.id }}'
                fields:
                    - { property: 'id', label: 'ID' }
                    - { property: 'username', label: 'E-Mail' }
                    - { property: 'firstName', label: 'Имя' }
                    - { property: 'lastName', label: 'Фамилия' }
            form:
                fields:
                    - { property: 'username', label: 'E-Mail', type: 'email' }
                    - { property: 'firstName', label: 'Имя', type_options: { required: false } }
                    - { property: 'lastName', label: 'Фамилия', type_options: { required: false } }
                    - { property: 'password', label: 'Пароль', type: 'password', type_options: { required: true } }
            new:
                title: 'Создать нового Пользователя'
                form_options: { data_class: stdClass }
            edit:
                title: 'Редактировать пользователя № {{ entity.id }}'
                fields:
                    - { property: 'username', type_options: { disabled: true } }
                    - { property: 'firstName', label: 'Имя', type_options: { required: false } }
                    - { property: 'lastName', label: 'Фамилия', type_options: { required: false } }
                    - { property: 'password', type_options: { required: false, mapped: false } }

doctrine:
    dbal:
        types:
            user_view: App\User\Doctrine\UserViewType
    orm:
        mappings:
            user:
                type: annotation
                prefix: App\User\Entity
                dir: '%kernel.project_dir%/src/User/Entity'
