<section class="sec-experience">
    <div class="sec-experience__back" style="background-image: url({{ asset('assets/img/backgrounds/bg_sec-happen_02.jpg') }})"></div>
    <div class="sec-experience__front">
        <div class="container">
            <h2 class="sec-experience__title">Доверьте диагностику профессионалам</h2>
            <ul class="facts sec-experience__facts">
                <li class="facts__item">
                    <div class="facts__val js-odometer is-hidden" data-value="8">1</div>
                    <div class="facts__txt">Лет опыта</div>
                </li>
                <li class="facts__item">
                    <div class="facts__val js-odometer is-hidden" data-value="21282">21000</div>
                    <div class="facts__txt">Выполненных ремонта</div>
                </li>
                <li class="facts__item">
                    <div class="facts__val js-odometer is-hidden" data-value="4947">4800</div>
                    <div class="facts__txt">Машин отремонтировано</div>
                </li>
            </ul>
        </div><!-- END container -->
    </div><!-- END sec-experience__front -->
</section><!-- END sec-experience -->
