<section class="sec-map">
    <div class="sec-map__back js-map-here"
         id="section-map"
         data-point='{"lat": 55.717483, "lng": 37.720718, "name": "Автомагистр - автосервис в Москве, магазин автозапчастей"}'>
    </div>
    <div class="sec-map__front">
        <div class="container">
            <div class="sec-map__pannel">
                <h1 class="sec-map__title">Контакты</h1>
                <div class="sec-map__info">
                    <h4 class="sec-map__info-title">Адрес сервиса и склада магазина:</h4>
                    <div class="sec-map__info-text">
                        г. Москва, Остаповский проезд, д.17 <br>
                        (м. Волгоградский проспект, м. Текстильщики)
                    </div>
                </div>
                <a class="sec-map__route-btn" role="button">Схема проезда</a>
                <div class="sec-map__info">
                    <h4 class="sec-map__info-title">Телефон:</h4>
                    <div class="sec-map__info-text">
                        <a href="tel:+74959848182">+7 (495) 984 8182</a> <br>
                        <a href="tel:+79859294087">+7 (985) 929 4087</a> Слесарный Цех
                    </div>
                </div>
                <div class="sec-map__info">
                    <h4 class="sec-map__info-title">График работы:</h4>
                    <div class="sec-map__info-text">
                        C 10-00 до 23-00 без выходных. <br>
                        После 21-00 автомобили принимаются <br>
                        по предварительной записи.
                    </div>
                </div>
                <a class="sec-map__link" role="button">Напечатать</a>
                <div class="sec-map__more">
                    <a class="btn sec-map__more-btn" role="button">Позвоните мне</a>
                </div>
            </div>
        </div>
    </div>
</section><!-- END sec-map -->
