<section class="sec-reviews">
    <div class="container">
        <h2 class="sec-reviews__title">Отзывы</h2>
        <div class="sec-reviews__slider" id="sec-reviews-slider">
            <div class="sec-reviews__slide">
                <div class="review-card">
                    <h4 class="review-card__title">Eric_Lindros на Nissan Murano</h4>
                    <div class="review-card__text js-scroll-y">
                        Общие отзывы о ремонте
                        Спасибо Автомагистру!
                        Вчера обслужился у них, сделав ТО-60. Всё чётко, всё что оговорено,
                        выполнено строго по обещанному. Плюс проверены по моим жалобам по подвеске
                        все её элементы и вместе с нарядом по работам выдан письменный вердикт с
                        ценами по з/ч и работам. Цены на работы и з\ч ну очень приемлемые.
                        По ближайшей замене проверены по моим жалобам по подвеске
                        все её элементы и вместе с нарядом по работам выдан письменный вердикт с
                        ценами по з/ч и работам. Цены на работы ну очень приемлемые.
                    </div>
                    <div class="review-card__info">
                        <a class="review-card__link" href="#">Ссылка на источник отзыва</a>
                        <b class="review-card__date">05.03.2016</b>
                    </div>
                </div>
            </div><!-- END sec-reviews__slide -->
            <div class="sec-reviews__slide">
                <div class="review-card">
                    <h4 class="review-card__title">Eric_Lindros на Nissan Murano</h4>
                    <div class="review-card__text js-scroll-y">
                        Общие отзывы о ремонте
                        Спасибо Автомагистру!
                        Вчера обслужился у них, сделав ТО-60. Всё чётко, всё что оговорено,
                        выполнено строго по обещанному. Плюс проверены по моим жалобам по подвеске
                        все её элементы и вместе с нарядом по работам выдан письменный вердикт с
                        ценами по з/ч и работам. Цены на работы и з\ч ну очень приемлемые.
                        По ближайшей замене проверены по моим жалобам по подвеске
                        все её элементы и вместе с нарядом по работам выдан письменный вердикт с
                        ценами по з/ч и работам. Цены на работы ну очень приемлемые.
                    </div>
                    <div class="review-card__info">
                        <a class="review-card__link" href="#">Ссылка на источник отзыва</a>
                        <b class="review-card__date">05.03.2016</b>
                    </div>
                </div>
            </div><!-- END sec-reviews__slide -->
            <div class="sec-reviews__slide">
                <div class="review-card">
                    <h4 class="review-card__title">Eric_Lindros на Nissan Murano</h4>
                    <div class="review-card__text js-scroll-y">
                        Общие отзывы о ремонте
                        Спасибо Автомагистру!
                        Вчера обслужился у них, сделав ТО-60. Всё чётко, всё что оговорено,
                        выполнено строго по обещанному. Плюс проверены по моим жалобам по подвеске
                        все её элементы и вместе с нарядом по работам выдан письменный вердикт с
                        ценами по з/ч и работам. Цены на работы и з\ч ну очень приемлемые.
                        По ближайшей замене проверены по моим жалобам по подвеске
                        все её элементы и вместе с нарядом по работам выдан письменный вердикт с
                        ценами по з/ч и работам. Цены на работы ну очень приемлемые.
                    </div>
                    <div class="review-card__info">
                        <a class="review-card__link" href="#">Ссылка на источник отзыва</a>
                        <b class="review-card__date">05.03.2016</b>
                    </div>
                </div>
            </div><!-- END sec-reviews__slide -->
            <div class="sec-reviews__slide">
                <div class="review-card">
                    <h4 class="review-card__title">Eric_Lindros на Nissan Murano</h4>
                    <div class="review-card__text js-scroll-y">
                        Общие отзывы о ремонте
                        Спасибо Автомагистру!
                        Вчера обслужился у них, сделав ТО-60. Всё чётко, всё что оговорено,
                        выполнено строго по обещанному. Плюс проверены по моим жалобам по подвеске
                        все её элементы и вместе с нарядом по работам выдан письменный вердикт с
                        ценами по з/ч и работам. Цены на работы и з\ч ну очень приемлемые.
                        По ближайшей замене проверены по моим жалобам по подвеске
                        все её элементы и вместе с нарядом по работам выдан письменный вердикт с
                        ценами по з/ч и работам. Цены на работы ну очень приемлемые.
                    </div>
                    <div class="review-card__info">
                        <a class="review-card__link" href="#">Ссылка на источник отзыва</a>
                        <b class="review-card__date">05.03.2016</b>
                    </div>
                </div>
            </div><!-- END sec-reviews__slide -->
            <div class="sec-reviews__slide">
                <div class="review-card">
                    <h4 class="review-card__title">Eric_Lindros на Nissan Murano</h4>
                    <div class="review-card__text js-scroll-y">
                        Общие отзывы о ремонте
                        Спасибо Автомагистру!
                        Вчера обслужился у них, сделав ТО-60. Всё чётко, всё что оговорено,
                        выполнено строго по обещанному. Плюс проверены по моим жалобам по подвеске
                        все её элементы и вместе с нарядом по работам выдан письменный вердикт с
                        ценами по з/ч и работам. Цены на работы и з\ч ну очень приемлемые.
                        По ближайшей замене проверены по моим жалобам по подвеске
                        все её элементы и вместе с нарядом по работам выдан письменный вердикт с
                        ценами по з/ч и работам. Цены на работы ну очень приемлемые.
                    </div>
                    <div class="review-card__info">
                        <a class="review-card__link" href="#">Ссылка на источник отзыва</a>
                        <b class="review-card__date">05.03.2016</b>
                    </div>
                </div>
            </div><!-- END sec-reviews__slide -->
            <div class="sec-reviews__slide">
                <div class="review-card">
                    <h4 class="review-card__title">Eric_Lindros на Nissan Murano</h4>
                    <div class="review-card__text js-scroll-y">
                        Общие отзывы о ремонте
                        Спасибо Автомагистру!
                        Вчера обслужился у них, сделав ТО-60. Всё чётко, всё что оговорено,
                        выполнено строго по обещанному. Плюс проверены по моим жалобам по подвеске
                        все её элементы и вместе с нарядом по работам выдан письменный вердикт с
                        ценами по з/ч и работам. Цены на работы и з\ч ну очень приемлемые.
                        По ближайшей замене проверены по моим жалобам по подвеске
                        все её элементы и вместе с нарядом по работам выдан письменный вердикт с
                        ценами по з/ч и работам. Цены на работы ну очень приемлемые.
                    </div>
                    <div class="review-card__info">
                        <a class="review-card__link" href="#">Ссылка на источник отзыва</a>
                        <b class="review-card__date">05.03.2016</b>
                    </div>
                </div>
            </div><!-- END sec-reviews__slide -->
            <div class="sec-reviews__slide">
                <div class="review-card">
                    <h4 class="review-card__title">Eric_Lindros на Nissan Murano</h4>
                    <div class="review-card__text js-scroll-y">
                        Общие отзывы о ремонте
                        Спасибо Автомагистру!
                        Вчера обслужился у них, сделав ТО-60. Всё чётко, всё что оговорено,
                        выполнено строго по обещанному. Плюс проверены по моим жалобам по подвеске
                        все её элементы и вместе с нарядом по работам выдан письменный вердикт с
                        ценами по з/ч и работам. Цены на работы и з\ч ну очень приемлемые.
                        По ближайшей замене проверены по моим жалобам по подвеске
                        все её элементы и вместе с нарядом по работам выдан письменный вердикт с
                        ценами по з/ч и работам. Цены на работы ну очень приемлемые.
                    </div>
                    <div class="review-card__info">
                        <a class="review-card__link" href="#">Ссылка на источник отзыва</a>
                        <b class="review-card__date">05.03.2016</b>
                    </div>
                </div>
            </div><!-- END sec-reviews__slide -->
            <div class="sec-reviews__slide">
                <div class="review-card">
                    <h4 class="review-card__title">Eric_Lindros на Nissan Murano</h4>
                    <div class="review-card__text js-scroll-y">
                        Общие отзывы о ремонте
                        Спасибо Автомагистру!
                        Вчера обслужился у них, сделав ТО-60. Всё чётко, всё что оговорено,
                        выполнено строго по обещанному. Плюс проверены по моим жалобам по подвеске
                        все её элементы и вместе с нарядом по работам выдан письменный вердикт с
                        ценами по з/ч и работам. Цены на работы и з\ч ну очень приемлемые.
                        По ближайшей замене проверены по моим жалобам по подвеске
                        все её элементы и вместе с нарядом по работам выдан письменный вердикт с
                        ценами по з/ч и работам. Цены на работы ну очень приемлемые.
                    </div>
                    <div class="review-card__info">
                        <a class="review-card__link" href="#">Ссылка на источник отзыва</a>
                        <b class="review-card__date">05.03.2016</b>
                    </div>
                </div>
            </div><!-- END sec-reviews__slide -->
        </div><!-- END sec-reviews__slider -->
        <div class="sec-reviews__more">
            <a href="{{ path('www_reviews') }}" class="btn btn_arrow-rt sec-reviews__more-btn">Посмотреть более 2 000 отзывов</a>
        </div>
    </div><!-- END container -->
</section><!-- END sec-reviews -->
