easy_admin:
    entities:
        Part:
            class: App\Part\Entity\Part
            controller: App\Part\Controller\PartController
            disabled_actions: ['delete']
            label: 'Запчасти'
            templates:
                list: 'easy_admin/part/list.html.twig'
                show: 'easy_admin/part/show.html.twig'
            show:
                title: '{{ entity.toId|display_name }}'
                fields:
                    - { property: 'name', label: 'Название' }
                    - { property: 'manufacturer', label: 'Производитель', template: 'easy_admin/manufacturer/field_manufacturer_view.html.twig' }
                    - { property: 'number', label: 'Номер', template: 'easy_admin/field_part_number.html.twig' }
                    - { property: 'isUniversal', label: 'Универсальная', template: 'easy_admin/default/field_boolean.html.twig' }
                    - { property: 'unit', label: 'Изменерие', template: 'easy_admin/part/field_unit.html.twig' }
                    - { property: 'requiredAvailability', vritual: true, label: 'Запасы', template: 'easy_admin/part/field_required_availability.html.twig' }
            list:
                title: 'Запчасти'
                fields:
                    - { property: 'name', label: 'Название', template: 'easy_admin/field_item_show.html.twig', entity: Part }
                    - { property: 'manufacturer', label: 'Производитель', template: 'easy_admin/manufacturer/field_manufacturer_view.html.twig' }
                    - { property: 'number', label: 'Номер', template: 'easy_admin/field_part_number.html.twig', sortable: false }
                    - { property: 'quantity', label: 'Наличие', template: 'easy_admin/field_quantity.html.twig', , sortable: true }
                    - { property: 'price', label: 'Цена', template: 'easy_admin/field_money.html.twig', sortable: false }
                    - { property: 'discount', label: 'Скидка', template: 'easy_admin/field_money.html.twig', sortable: false }
                    - { property: 'isUniversal', label: 'Универсальная', template: 'easy_admin/default/field_boolean.html.twig' }
            form:
                form_options: { data_class: \App\Part\Form\PartDto }
                fields:
                    -   property: 'manufacturerId'
                        label: 'Производитель'
                        type: App\Manufacturer\Form\ManufacturerAutocompleteType
                        type_options:
                            required: true
                    - { property: 'number', label: 'Номер', type: App\Part\Form\PartNumberType }
                    - { property: 'name', label: 'Название' }
                    - { property: 'price', label: 'Цена', type: App\Form\Type\MoneyType, type_options: { required: true } }
                    - { property: 'discount', label: 'Скидка', type: App\Form\Type\MoneyType }
                    - { property: 'universal', label: 'Универсальная', type: 'checkbox' }
                    - { property: 'unit', label: 'Единица изменерия', type: App\Part\Entity\UnitType }
            new:
                title: 'Создать новую запчасть'
            edit:
                title: 'Редактировать запчасть'
                fields:
                    - { property: 'manufacturerId', label: 'Производитель', type_options: { disabled: true } }
                    - { property: 'number', label: 'Номер', type_options: { disabled: true } }
                    - { property: '-price' }
                    - { property: '-discount' }
            case:
                title: 'Создать применения запчасти к кузову'

        PartCase:
            class: App\Part\Entity\Part
            controller: App\Part\Controller\PartCaseController
            disabled_actions: ['new', 'list', 'show', 'autocomplete', 'edit', 'search', 'delete']

        PartCross:
            class: App\Part\Entity\Part
            controller: App\Part\Controller\PartCrossController
            disabled_actions: ['new', 'list', 'show', 'autocomplete', 'edit', 'search', 'delete']

        PartIncome:
            class: App\Part\Entity\Part
            controller: App\Part\Controller\PartIncomeController
            disabled_actions: ['new', 'list', 'show', 'autocomplete', 'edit', 'search', 'delete']

        PartPrice:
            class: App\Part\Entity\Price
            controller: App\Part\Controller\PartPriceController
            disabled_actions: ['list', 'show', 'autocomplete', 'edit', 'search', 'delete']

        PartDiscount:
            class: App\Part\Entity\Discount
            controller: App\Part\Controller\PartDiscountController
            disabled_actions: ['list', 'show', 'autocomplete', 'edit', 'search', 'delete']

        PartRequiredAvailability:
            class: App\Part\Entity\RequiredAvailability
            controller: App\Part\Controller\RequiredAvailabilityController
            disabled_actions: ['list', 'show', 'autocomplete', 'edit', 'search', 'delete']

        PartSupply:
            class: App\Part\Entity\Supply
            controller: App\Part\Controller\SupplyController
            disabled_actions: ['list', 'show', 'new', 'autocomplete', 'edit', 'search', 'delete']

        PartToBuy:
            class: App\Part\Entity\Part
            controller: App\Part\Controller\WhatToBuyController
            disabled_actions: ['new', 'show', 'autocomplete', 'edit', 'search', 'delete']

        PartSell:
            class: App\Part\Entity\Part
            controller: App\Part\Controller\PartSellController
            disabled_actions: ['new', 'show', 'autocomplete', 'edit', 'search', 'delete']

        PartExplorer:
            class: App\Part\Entity\Part
            controller: App\Part\Controller\PartExplorerController
            disabled_actions: ['new', 'show', 'autocomplete', 'edit', 'search', 'delete']

doctrine:
    dbal:
        types:
            part_number: App\Part\Doctrine\PartNumberType
