easy_admin:
    entities:
        Part:
            class: App\Part\Entity\Part
            controller: App\Part\Controller\PartController
            disabled_actions: ['delete']
            label: 'Запчасти'
            templates:
                show: 'easy_admin/part/show.html.twig'
            show:
                title: '{{ entity.toId|display_name }}'
                fields:
                    - { property: 'name', label: 'Название' }
                    - { property: 'manufacturer', label: 'Производитель', template: 'easy_admin/manufacturer/field_manufacturer_view.html.twig' }
                    - { property: 'number', label: 'Номер', template: 'easy_admin/field_part_number.html.twig' }
                    - { property: 'isUniversal', label: 'Универсальная' }
            list:
                title: 'Запчасти'
                fields:
                    - { property: 'name', label: 'Название', template: 'easy_admin/field_item_show.html.twig', entity: Part }
                    - { property: 'manufacturer', label: 'Производитель', template: 'easy_admin/manufacturer/field_manufacturer_view.html.twig' }
                    - { property: 'number', label: 'Номер', template: 'easy_admin/field_part_number.html.twig', sortable: false }
                    - { property: 'quantity', label: 'Наличие', template: 'easy_admin/field_quantity.html.twig' }
                    - { property: 'price', label: 'Цена', template: 'easy_admin/field_money.html.twig', sortable: false }
                    - { property: 'discount', label: 'Скидка', template: 'easy_admin/field_money.html.twig', sortable: false }
                    - { property: 'isUniversal', label: 'Универсальная', template: 'easy_admin/default/field_boolean.html.twig' }
            form:
                form_options: { data_class: \App\Part\Form\PartDto }
                fields:
                    -   property: 'manufacturerId'
                        label: 'Производитель'
                        type: App\EasyAdmin\Form\AutocompleteType
                        type_options:
                            required: true
                            class: App\Manufacturer\Entity\Manufacturer
                    - { property: 'number', label: 'Номер', type: App\Part\Form\PartNumberType }
                    - { property: 'name', label: 'Название' }
                    - { property: 'price', label: 'Цена', type: App\Form\Type\MoneyType, type_options: { required: true } }
                    - { property: 'discount', label: 'Скидка', type: App\Form\Type\MoneyType }
                    - { property: 'universal', label: 'Универсальная', type: 'checkbox' }
            new:
                title: 'Создать новую запчасть'
            edit:
                title: 'Редактировать запчасть'
                fields:
                    - { property: 'manufacturerId', label: 'Производитель', type_options: { disabled: true } }
                    - { property: 'number', label: 'Номер', type_options: { disabled: true } }
                    - { property: '-price' }
                    - { property: '-discount' }
            case:
                title: 'Создать применения запчасти к кузову'

        PartPrice:
            class: App\Part\Entity\Price
            controller: App\Part\Controller\PartPriceController
            disabled_actions: ['list', 'show', 'autocomplete', 'edit', 'search', 'delete']

        PartDiscount:
            class: App\Part\Entity\Discount
            controller: App\Part\Controller\PartDiscountController
            disabled_actions: ['list', 'show', 'autocomplete', 'edit', 'search', 'delete']

doctrine:
    dbal:
        types:
            part_number: App\Part\Doctrine\PartNumberType
    orm:
        mappings:
            part:
                type: annotation
                prefix: App\Part\Entity
                dir: '%kernel.project_dir%/src/Part/Entity'

doctrine_mongodb:
    document_managers:
        www:
            mappings:
                part:
                    type: annotation
                    prefix: App\Part\Documents
                    dir: "%kernel.project_dir%/src/Part/Documents"
