easy_admin:
    entities:
        Part:
            class: App\Part\Entity\Part
            controller: App\Part\Controller\PartController
            disabled_actions: ['delete']
            label: 'Запчасти'
            templates:
                show: 'easy_admin/part/show.html.twig'
            show:
                title: '{{ entity.toId|display_name }}'
                fields:
                    - { property: 'name', label: 'Название' }
                    - { property: 'manufacturerId', label: 'Производитель', template: 'easy_admin/field_identifier.html.twig' }
                    - { property: 'number', label: 'Номер', template: 'easy_admin/field_part_number.html.twig' }
                    - { property: 'universal', label: 'Универсальная' }
            list:
                title: 'Запчасти'
                fields:
                    - { property: 'name', label: 'Название', template: 'easy_admin/field_part.html.twig', item: true, stock: true, referer: false }
                    - { property: 'manufacturerId', label: 'Производитель', template: 'easy_admin/field_identifier.html.twig' }
                    - { property: 'number', label: 'Номер', template: 'easy_admin/field_part_number.html.twig' }
                    - { property: 'price', label: 'Цена', template: 'easy_admin/part/field_price.html.twig' }
                    - { property: 'discount', label: 'Скидка', template: 'easy_admin/part/field_discount.html.twig' }
                    - { property: 'universal', label: 'Универсальная', template: 'easy_admin/default/field_boolean.html.twig' }
            form:
                form_options: { data_class: \App\Part\Form\PartDto }
                fields:
                    -   property: 'manufacturerId'
                        label: 'Производитель'
                        type: App\EasyAdmin\Form\AutocompleteType
                        type_options:
                            required: true
                            class: App\Manufacturer\Entity\Manufacturer
                    - { property: 'number', label: 'Номер', type: App\Part\Form\PartNumberType }
                    - { property: 'name', label: 'Название' }
                    - { property: 'price', label: 'Цена', type: App\Form\Type\MoneyType }
                    - { property: 'discount', label: 'Скидка', type: App\Form\Type\MoneyType }
                    - { property: 'universal', label: 'Универсальная' }
            new:
                title: 'Создать новую запчасть'
            edit:
                title: 'Редактировать запчасть'
                fields:
                    - { property: 'manufacturerId', label: 'Производитель', type_options: { disabled: true } }
                    - { property: 'number', label: 'Номер', type_options: { disabled: true } }
                    - { property: '-price' }
                    - { property: '-discount' }
            case:
                title: 'Создать применения запчасти к кузову'

doctrine:
    dbal:
        types:
            part_number: App\Part\Doctrine\PartNumberType
    orm:
        entity_managers:
            landlord:
                mappings:
                    part:
                        type: annotation
                        prefix: App\Part\Entity
                        dir: '%kernel.project_dir%/src/Part/Entity'

doctrine_mongodb:
    document_managers:
        www:
            mappings:
                part:
                    type: annotation
                    prefix: App\Part\Documents
                    dir: "%kernel.project_dir%/src/Part/Documents"
