{% extends 'www/layout_white.html.twig' %}

{% block content %}
    <main class="site-main error-page">
        <div class="error-page__body {{- 404 == status_code ? ' bg-error-404' }}">
            <div class="container">
                <h1 class="error-page__title">
                    {% if 404 == status_code %}
                        К сожалению, такой страницы никогда не существовало, либо уже не существует.
                    {% else %}
                        К сожалению, произошла ошибка. <br>
                        Мы уже работаем над решением проблемы.
                    {% endif %}
                </h1>
                <div class="error-page__note">
                    Но вам, возможно, будут интересны следующие страницы:
                </div>
                <nav class="error-page__nav">
                    <a class="btn btn_shmatn error-page__btn"
                       href="{{ path('www_service') }}">
                        <i class="icon-gear"></i>
                        АВТОСЕРВИС В МОСКВЕ
                    </a>
                    <a class="btn btn_shmatn error-page__btn" href="{{ path('www_shop_index') }}">
                        <i class="icon-belt"></i>
                        МАГАЗИН ЗАПЧАСТЕЙ
                    </a>
                </nav>
            </div>
        </div>
    </main>
{% endblock %}
