{% extends 'www/layout_white.html.twig' %}

{% block content %}
    <main class="site-main page bg-gray" id="site-main">
        <div class="page__head">
            <div class="container">
                <h1 class="page__title">Политика конфиденциальности</h1>
            </div>
        </div>

        <div class="page__body">
            <div class="container">
                <div class="page__cntr">
                    <div class="user-content-styles with-hyphens">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit,
                            vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus,
                            ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique,
                            tortor mauris molestie elit, et lacinia ipsum quam nec dui. Quisque nec mauris
                            sit amet elit iaculis pretium sit amet quis magna. Aenean velit odio, elementum
                            in tempus ut, vehicula eu diam. Pellentesque rhoncus aliquam mattis.
                        </p>
                        <p>
                            Ut vulputate eros sed felis sodales nec vulputate justo hendrerit. Vivamus varius
                            pretium ligula, a aliquam odio euismod sit amet. Quisque laoreet sem sit amet orci
                            ullamcorper at ultricies metus viverra. Pellentesque arcu mauris, malesuada quis
                            ornare accumsan, blandit sed diam.Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate
                            commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique,
                            tortor mauris molestie elit, et lacinia ipsum quam nec dui.
                        </p>
                        <p>
                            Quisque nec mauris sit amet elit iaculis pretium sit amet quis magna. Aenean velit odio,
                            elementum in tempus ut, vehicula eu diam. Pellentesque rhoncus aliquam mattis.
                            Ut vulputate eros sed felis sodales nec vulputate justo hendrerit. Vivamus varius
                            pretium ligula, a aliquam odio euismod sit amet. Quisque laoreet sem sit amet orci
                            ullamcorper at ultricies metus viverra. Pellentesque arcu mauris, malesuada quis
                            ornare accumsan, blandit sed diam.Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Nulla quam velit, vulputate eu pharetra nec, mattis ac neque.
                            Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed
                            eleifend tristique, tortor mauris molestie elit, et lacinia ipsum quam nec dui. Quisque
                            nec mauris sit amet elit iaculis pretium sit amet quis magna. Aenean velit odio, elementum
                            in tempus ut, vehicula eu diam. Pellentesque rhoncus aliquam mattis.
                        </p>
                        <ul>
                            <li>Pellentesque arcu mauris</li>
                            <li>Ut vulputate eros sed felis</li>
                            <li>Pellentesque rhoncus aliquam mattis</li>
                            <li>Lorem ipsum dolor sit amet</li>
                            <li>Aenean velit odio</li>
                        </ul>
                        <p>
                            Ut vulputate eros sed felis sodales nec vulputate justo hendrerit. Vivamus varius pretium
                            ligula, a aliquam odio euismod sit amet. Quisque laoreet sem sit amet orci ullamcorper at
                            ultricies metus viverra. Pellentesque arcu mauris, malesuada quis ornare accumsan, blandit
                            sed diam.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate
                            eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt
                            id. Sed rhoncus, tortor sed eleifend tristique, tortor mauris molestie elit, et lacinia
                            ipsum quam nec dui. Quisque nec mauris sit amet elit iaculis pretium sit amet quis magna.
                            Aenean velit odio, elementum in tempus ut, vehicula eu diam. Pellentesque rhoncus aliquam
                            mattis. Ut vulputate eros sed felis sodales nec vulputate justo hendrerit. Vivamus varius
                            pretium ligula, a aliquam odio euismod sit amet. Quisque laoreet sem sit amet orci ullamcorper
                            at ultricies metus viverra. Pellentesque arcu mauris, malesuada quis ornare accumsan, blandit
                            sed diam.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate
                            eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id.
                            Sed rhoncus, tortor sed eleifend tristique, tortor mauris molestie elit, et lacinia ipsum quam
                            nec dui. Quisque nec mauris sit amet elit iaculis pretium sit amet quis magna.
                            Aenean velit odio, elementum in tempus ut, vehicula eu diam. Pellentesque rhoncus aliquam mattis.
                        </p>
                        <p>
                            Ut vulputate eros sed felis sodales nec vulputate justo hendrerit. Vivamus varius pretium ligula,
                            a aliquam odio euismod sit amet. Quisque laoreet sem sit amet orci ullamcorper at ultricies metus
                            viverra. Pellentesque arcu mauris, malesuada quis ornare accumsan.
                        </p>
                    </div>
                </div>
            </div><!-- END container -->
        </div><!-- END page__body -->
    </main><!-- END site-main -->
{% endblock %}
