{% extends 'www/layout_white.html.twig' %}

{% block content %}
    <main class="site-main page bg-gray" id="site-main">
        <div class="page__head">
            <div class="container">
                <h1 class="page__title">2124 отзывов</h1>
                <div class="page__lead">О автосервисе АвтоМагстир</div>
                <nav class="page__nav">
                    <a class="page__nav-link is-active" href="#">Все</a>
                    <a class="page__nav-link" href="#">Nissan</a>
                    <a class="page__nav-link" href="#">Lexus</a>
                    <a class="page__nav-link" href="#">Toyota</a>
                    <a class="page__nav-link" href="#">Infinity</a>
                </nav>
            </div>
        </div>

        <div class="page__body">
            <div class="container">
                <div class="reviews-list salvattore-grid" data-columns id="for-load-reviews">

                    <div class="reviews-list__item" id="reviews-list">
                        <div class="review-card">
                            <h3 class="review-card__title">Eric_Lindros на <span>Nissan Murano</span></h3>
                            <div class="review-card__text no-limit">
                                Сегодня был в Автомагистре, машина жены, и тут мне пришлось придти на стоянку,
                                долив незамерзайки и взгляд упал на маслянистое пятно под фильтром..... Машина
                                теперь уже не на гарантии, посмотрел партнеров клуба и поехал сюда, о чём не жалею!
                                Ребята работают с 10 утра, я приехал в 9-15... не рассчитал, расстояние и пробки,
                                к моему удивлению, машину взяли сразу в работу!!! в 10-45 ехал уже домой, что сделано:
                                переклеен поддон, замена уплотнительного кольца маслохладителя, и естественно ТО.
                                За всё около 7000 рублей. Машина теперь уже не на гарантии, посмотрел партнеров
                                клуба и поехал сюда, о чём не жалею! Своих запчастей не привозил.Парни Спасибо!!!
                                Обслуживать кошкай буду у теперь вас!!!! Диме, который занимался машиной, отдельное спасибо!!!
                            </div>
                            <div class="review-card__info">
                                <a class="review-card__link" href="#" target="_blank">Ссылка на источник отзыва</a>
                                <b class="review-card__date">05.03.2016</b>
                            </div>
                        </div>
                    </div><!-- END reviews-list__item -->

                    <div class="reviews-list__item">
                        <div class="review-card">
                            <h3 class="review-card__title">Eric_Lindros на <span>Nissan Murano</span></h3>
                            <div class="review-card__text no-limit">
                                Ребята просто молодцы , отношение к клиентам просто супер! Спасибо за починенный подшипник ступицы!!!
                            </div>
                            <div class="review-card__info">
                                <a class="review-card__link" href="#" target="_blank">Ссылка на источник отзыва</a>
                                <b class="review-card__date">05.03.2016</b>
                            </div>
                        </div>
                    </div><!-- END reviews-list__item -->

                    <div class="reviews-list__item">
                        <div class="review-card">
                            <h3 class="review-card__title">Eric_Lindros на <span>Nissan Murano</span></h3>
                            <div class="review-card__text no-limit">
                                Всем доброй ночи!Я сегодня был в сервисе, остался крайне ДОВОЛЕН общением(все очень вежливые,
                                пошутить можно), сделали все что нужно, цены приемлемые, а по сравнению с официалами, так вообще сказка!
                                делал ТО60. заодно поменяли косточки стойки стабилизатора.
                                В общем очень доволен, в следующий раз поеду к Вам! Спасибо!))) Ну а теперь можно спокойно пойти и гиннес выпить)
                            </div>
                            <div class="review-card__info">
                                <a class="review-card__link" href="#" target="_blank">Ссылка на источник отзыва</a>
                                <b class="review-card__date">05.03.2016</b>
                            </div>
                        </div>
                    </div><!-- END reviews-list__item -->

                    <div class="reviews-list__item">
                        <div class="review-card">
                            <h3 class="review-card__title">Eric_Lindros на <span>Nissan Murano</span></h3>
                            <div class="review-card__text no-limit">
                                Ребята просто молодцы , отношение к клиентам просто супер! Спасибо за починенный подшипник ступицы!!!
                            </div>
                            <div class="review-card__info">
                                <a class="review-card__link" href="#" target="_blank">Ссылка на источник отзыва</a>
                                <b class="review-card__date">05.03.2016</b>
                            </div>
                        </div>
                    </div><!-- END reviews-list__item -->

                    <div class="reviews-list__item">
                        <div class="review-card">
                            <h3 class="review-card__title">Eric_Lindros на <span>Nissan Murano</span></h3>
                            <div class="review-card__text no-limit">
                                Сегодня был в Автомагистре, машина жены, и тут мне пришлось придти на стоянку,
                                долив незамерзайки и взгляд упал на маслянистое пятно под фильтром..... Машина
                                теперь уже не на гарантии, посмотрел партнеров клуба и поехал сюда, о чём не жалею!
                                Ребята работают с 10 утра, я приехал в 9-15... не рассчитал, расстояние и пробки,
                                к моему удивлению, машину взяли сразу в работу!!! в 10-45 ехал уже домой, что сделано:
                                переклеен поддон, замена уплотнительного кольца маслохладителя, и естественно ТО.
                                За всё около 7000 рублей. Машина теперь уже не на гарантии, посмотрел партнеров
                                клуба и поехал сюда, о чём не жалею! Своих запчастей не привозил.Парни Спасибо!!!
                                Обслуживать кошкай буду у теперь вас!!!! Диме, который занимался машиной, отдельное спасибо!!!
                            </div>
                            <div class="review-card__info">
                                <a class="review-card__link" href="#" target="_blank">Ссылка на источник отзыва</a>
                                <b class="review-card__date">05.03.2016</b>
                            </div>
                        </div>
                    </div><!-- END reviews-list__item -->

                    <div class="reviews-list__item">
                        <div class="review-card">
                            <h3 class="review-card__title">Eric_Lindros на <span>Nissan Murano</span></h3>
                            <div class="review-card__text no-limit">
                                Всем доброй ночи!Я сегодня был в сервисе, остался крайне ДОВОЛЕН общением (все мастера очень вежливые,
                                пошутить можно), сделали все что нужно, цены приемлемые, а по сравнению с официалами, так вообще сказка!
                                делал ТО60. заодно поменяли стойки стабилизатора.
                                В общем очень доволен, в следующий раз поеду к Вам! Спасибо!))) Ну а теперь можно спокойно пойти и гиннес выпить)
                            </div>
                            <div class="review-card__info">
                                <a class="review-card__link" href="#" target="_blank">Ссылка на источник отзыва</a>
                                <b class="review-card__date">05.03.2016</b>
                            </div>
                        </div>
                    </div><!-- END reviews-list__item -->

                    <div class="reviews-list__item">
                        <div class="review-card">
                            <h3 class="review-card__title">Eric_Lindros на <span>Nissan Murano</span></h3>
                            <div class="review-card__text no-limit">
                                Всем доброй ночи!Я сегодня был в сервисе, остался крайне ДОВОЛЕН общением (все мастера очень вежливые,
                                пошутить можно), сделали все что нужно, цены приемлемые, а по сравнению с официалами, так вообще сказка!
                                делал ТО60. заодно поменяли стойки стабилизатора.
                                В общем очень доволен, в следующий раз поеду к Вам! Спасибо!))) Ну а теперь можно спокойно пойти и гиннес выпить)
                            </div>
                            <div class="review-card__info">
                                <a class="review-card__link" href="#" target="_blank">Ссылка на источник отзыва</a>
                                <b class="review-card__date">05.03.2016</b>
                            </div>
                        </div>
                    </div><!-- END reviews-list__item -->

                    <div class="reviews-list__item">
                        <div class="review-card">
                            <h3 class="review-card__title">Eric_Lindros на <span>Nissan Murano</span></h3>
                            <div class="review-card__text no-limit">
                                Всем доброй ночи!Я сегодня был в сервисе, остался крайне ДОВОЛЕН общением (все мастера очень вежливые,
                                пошутить можно), сделали все что нужно, цены приемлемые.
                                В общем очень доволен, в следующий раз поеду к Вам! Спасибо!))) Ну а теперь можно спокойно пойти и гиннес выпить)
                            </div>
                            <div class="review-card__info">
                                <a class="review-card__link" href="#" target="_blank">Ссылка на источник отзыва</a>
                                <b class="review-card__date">05.03.2016</b>
                            </div>
                        </div>
                    </div><!-- END reviews-list__item -->

                    <div class="reviews-list__item">
                        <div class="review-card">
                            <h3 class="review-card__title">Eric_Lindros на <span>Nissan Murano</span></h3>
                            <div class="review-card__text no-limit">
                                Всем доброй ночи!Я сегодня был в сервисе, остался крайне ДОВОЛЕН общением (все мастера очень вежливые,
                                пошутить можно), сделали все что нужно, цены приемлемые, а по сравнению с официалами, так вообще сказка!
                                делал ТО60. заодно поменяли косточки стойки стабилизатора и упор правого и левого амортизатора.
                                В общем очень доволен, в следующий раз поеду к Вам! Спасибо!))) Ну а теперь можно спокойно пойти и гиннес выпить)
                            </div>
                            <div class="review-card__info">
                                <a class="review-card__link" href="#" target="_blank">Ссылка на источник отзыва</a>
                                <b class="review-card__date">05.03.2016</b>
                            </div>
                        </div>
                    </div><!-- END reviews-list__item -->

                </div><!-- END reviews-list -->

                <div class="page__more">
                    <div class="spinner page__more-loader" id="js-auto-load-reviews">
                        <div class="spinner__dot spinner__dot_01"></div>
                        <div class="spinner__dot spinner__dot_02"></div>
                        <div class="spinner__dot spinner__dot_03"></div>
                        <div class="spinner__dot spinner__dot_04"></div>
                        <div class="spinner__dot spinner__dot_05"></div>
                        <div class="spinner__dot spinner__dot_06"></div>
                        <div class="spinner__dot spinner__dot_07"></div>
                        <div class="spinner__dot spinner__dot_08"></div>
                    </div>
                    <div class="page__more-temp" id="temp-container"></div>
                </div>

            </div><!-- END container -->
        </div><!-- END page__body -->
    </main><!-- END site-main -->
{% endblock %}
