services:
    _defaults:
        public: false
        autowire: true
        autoconfigure: true

    App\Shared\Doctrine\DBAL\FixPostgreSQLDefaultSchemaListener:
        tags:
            - { name: doctrine.event_listener, event: postGenerateSchema }
    App\Shared\Doctrine\DBAL\DropViewSchemaListener:
        tags:
            - { name: doctrine.event_listener, event: postGenerateSchema }
