{# @var user \App\User\Entity\User #}
{# @var createdAt \DateTimeInterface #}

{% if (is_identifier(user)) %}
    {% set url = easyadmin_path_by_id(user, 'show') %}
    {% set displayName = user|display_name %}
{% else %}
    {% set url = easyadmin_path(user, 'show') %}
    {% set displayName = user.username %}
{% endif %}

{%- apply spaceless -%}
    <a href="{{ url }}">
        <i class="fa fa-user"
           data-toggle="tooltip"
           data-placement="bottom"
           title="{{ createdAt|format_datetime('short', 'short', '', 'GMT+3') }} {{ displayName }}"></i>
    </a>
{%- endapply %}
