{# @var user \App\Entity\Landlord\User #}
{# @var createdAt \DateTimeInterface #}

{% set person = user.person %}

<a href="{{ easyadmin_path(person ? person : user, 'show') }}">
    <i class="fa fa-user"
       data-toggle="tooltip"
       data-placement="bottom"
       title="{{ createdAt|localizeddate }} {{ person ? person.fullName : user }}"></i>
</a>
