<a href="{{ easyadmin_path(person, 'show') }}">
    <i class="fa fa-user"
       data-toggle="tooltip"
       data-placement="bottom"
       title="{{ createdAt|localizeddate }} {{ person.fullName }}"></i>
</a>
