{# @var value \App\User\Entity\UserView #}
<a href="{{ easyadmin_path('User', 'show', {'id': value|toId}) }}">
    {% if value.lastName is not empty and value.firstName is not empty %}
        {{ value.lastName }} {{ value.firstName }}
    {% else %}
        {{ value.username }}
    {% endif %}
</a>
