<div class="guaranty">
    <div class="guaranty__qr">
        Гарантийные условия:
        <img src="{{ qr_code_data_uri(requisites.guarantyUrl) }}" title="QR код" alt="QR">
    </div>
    {% for telephone in requisites.telephones %}
        <div class="footer__contact telephone">{{ telephone }}</div>
    {% endfor %}
    <div class="footer__contact">{{ requisites.site }}</div>
    <div class="footer__contact">{{ requisites.email }}</div>
</div>
