<div class="guaranty">
    <div class="guaranty__qr">
        Гарантийные условия:
        <img src="{{ qr_code_data_uri(requisites.guarantyUrl) }}" title="QR код" alt="QR">
    </div>
    {% for telephone in requisites.telephones %}
        <div class="footer__contact telephone">{{ telephone }}</div>
    {% endfor %}
    {% if requisites.site|default %}
        <div class="footer__contact">{{ requisites.site }}</div>
    {% else %}
        <div class="footer__empty"></div>
    {% endif %}
    {% if requisites.email|default %}
        <div class="footer__contact">{{ requisites.email }}</div>
    {% else %}
        <div class="footer__empty"></div>
    {% endif %}
</div>
