{%- set level = level|default(0) -%}

{%- apply spaceless -%}
    {%- if instanceOf(item, 'App\\Order\\Entity\\OrderItemPart') -%}
        {%- if item.partId.toString == app.request.query.get('part_id') -%}
            {%- set tr_class = 'warning' -%}
        {%- endif -%}
        {%- set template = 'easy_admin/order/item/part.html.twig' -%}
    {%- elseif instanceOf(item, 'App\\Order\\Entity\\OrderItemService') -%}
        {%- set template ='easy_admin/order/item/service.html.twig' -%}
    {%- elseif instanceOf(item, 'App\\Order\\Entity\\OrderItemGroup') -%}
        {%- set template = 'easy_admin/order/item/group.html.twig' -%}
    {%- endif -%}

    <tr{%- if tr_class is defined -%} class="{{ tr_class }}"{%- endif -%}>
        {%- include template -%}

        <td>
            <span class="created-by" style="display: none">
                {{ created_by_view(item.toId) }}
            </span>
            &nbsp;
            <i class="fa fa-user"></i>
        </td>
    </tr>

    {%- for children in item.children -%}
        {%- include _self with {'item': children, 'order': order, 'parent': item, 'level': level + 1} -%}
    {%- endfor -%}
{%- endapply %}
