{% set level = level|default(0) %}

<tr>
    {% if instanceOf(item, 'App\\Entity\\OrderItemPart') %}
        {% include 'easy_admin/order/item/part.html.twig' %}
    {% elseif instanceOf(item, 'App\\Entity\\OrderItemService') %}
        {% include'easy_admin/order/item/service.html.twig' %}
    {% elseif instanceOf(item, 'App\\Entity\\OrderItemGroup') %}
        {% include 'easy_admin/order/item/group.html.twig' %}
    {% endif %}

    <td>{{ item.createdAt|localizeddate }} ({% include 'easy_admin/field_user.html.twig' with {'value': item.createdBy} %})</td>
</tr>

{% for children in item.children %}
    {% include _self with {'item': children, 'order': order, 'parent': item, 'level': level + 1} %}
{% endfor %}
