easy_admin:
    entities:
        CalendarEntry:
            class: App\Calendar\Entity\CalendarEntry
            controller: App\Calendar\Controller\CalendarEntryController
            disabled_actions: ['show', 'search', 'autocomplete', 'delete']
            templates:
                edit: 'easy_admin/calendar/edit.html.twig'
            list:
                title: 'Запись'
            form:
                fields:
                    -   property: 'schedule'
                        type: App\Calendar\Form\ScheduleType
                    -   property: 'orderInfo'
                        type: App\Calendar\Form\OrderInfoType
            new:
                title: 'Создать новую запись'
            edit:
                title: 'Редактировать Запись'
                actions:
                    - { name: remove, template: 'easy_admin/calendar/deletion_action.html.twig' }
