easy_admin:
    entities:
        CalendarEntry:
            class: App\Calendar\Domain\CalendarEntry
            controller: App\Calendar\Ports\EasyAdmin\CalendarEntryController
            disabled_actions: ['show', 'search', 'autocomplete', 'delete']
            list:
                title: 'Запись'
            form:
                fields:
                    -   property: 'date'
                        label: 'Дата'
                        type: Symfony\Component\Form\Extension\Core\Type\DateTimeType
                        type_options:
                            input: datetime_immutable
                            hours: { 10: 10, 11: 11, 12: 12, 13: 13, 14: 14, 15: 15, 16: 16, 17: 17, 18: 18, 19: 19, 20: 20, 21: 21, 22: 22, 23: 23 }
                            minutes: { 0: 0, 30: 30 }
                    -   property: 'duration'
                        label: 'Длительность'
                        type: Symfony\Component\Form\Extension\Core\Type\DateIntervalType
                        type_options:
                            with_days: false
                            with_hours: true
                            with_invert: false
                            with_minutes: true
                            with_months: false
                            with_seconds: false
                            with_weeks: false
                            with_years: false
                            minutes: { 0: 0, 30: 30 }
                    - { property: 'description', label: 'Описание', type: 'textarea', type_options: { required: true } }
                    - { property: 'worker', label: 'Работник', type: App\Employee\Form\EmployeeType }
            new:
                title: 'Новая запись'
            edit:
                title: 'Редактировать Запись'
                actions:
                    - { name: remove, template: 'easy_admin/calendar/deletion_action.html.twig' }

doctrine:
    orm:
        entity_managers:
            tenant:
                mappings:
                    calendar:
                        type: annotation
                        prefix: App\Calendar\Domain
                        dir: '%kernel.project_dir%/src/Calendar/Domain'
