easy_admin:
    entities:
        CalendarEntry:
            class: App\Calendar\Entity\CalendarEntry
            controller: App\Calendar\Controller\CalendarEntryController
            disabled_actions: ['show', 'search', 'autocomplete', 'delete']
            templates:
                new: 'easy_admin/calendar/new.html.twig'
                edit: 'easy_admin/calendar/edit.html.twig'
            list:
                title: 'Запись'
            form:
                fields:
                    -   property: 'schedule'
                        type: App\Calendar\Form\ScheduleType
                    -   property: 'orderInfo'
                        type: App\Calendar\Form\OrderInfoType
            new:
                title: 'Новая запись'
            edit:
                title: 'Редактировать Запись'
                actions:
                    - { name: remove, template: 'easy_admin/calendar/deletion_action.html.twig' }

doctrine:
    orm:
        entity_managers:
            tenant:
                mappings:
                    calendar:
                        type: annotation
                        prefix: App\Calendar\Entity
                        dir: '%kernel.project_dir%/src/Calendar/Entity'

services:
    _defaults:
        public: false
        autowire: true
        autoconfigure: true

    App\Calendar\Application\Create\CreateCalendarEntryHandler:
        tags:
            - { name: command_handler, handles: App\Calendar\Application\Create\CreateCalendarEntryCommand }
    App\Calendar\Application\Reschedule\RescheduleCalendarEntryHandler:
        tags:
            - { name: command_handler, handles: App\Calendar\Application\Reschedule\RescheduleCalendarEntryCommand }
    App\Calendar\Application\Delete\DeleteCalendarEntryHandler:
        tags:
            - { name: command_handler, handles: App\Calendar\Application\Delete\DeleteCalendarEntryCommand }
