body,
html {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 auto;
}
body {
  background-color: #EAEAEA;
}
hr {
  margin: 0;
  border-top: 2px solid grey;
}
.container {
  padding: 1cm;
  margin: 75px auto;
  max-width: 794px;
  font-size: 3.1mm;
  background-color: white;
  box-shadow: 0 2px 9px rgba(0, 0, 0, 0.25);
}
.btn-block {
  position: fixed;
  height: 60px;
  display: block;
  top: 0;
  background: #f7f7f9;
  width: 100%;
  box-shadow: 0 2px 9px rgba(0, 0, 0, 0.25);
  z-index: 10;
}
.btn-block_items {
  display: flex;
  margin: 10px 0;
  justify-content: center;
}
.btn {
  display: block;
  background: none;
  border: none;
  padding: 10px;
  margin: 0 10px;
  font-size: 18px;
  border-radius: 5px;
  text-transform: capitalize;
  min-width: 160px;
  text-align: center;
  text-decoration: none;
  color: black;
}
.btn__pdf {
  background: #ffc107;
}
.btn__pdf:hover {
  background: #d39e00;
}
.btn__print {
  background: #28a745;
}
.btn__print:hover {
  background: #1e7e34;
}
.btn__cancel {
  background: #dc3545;
}
.btn__cancel:hover {
  background: #bd2130;
}
.check {
  width: 3.62916667mm;
  padding: 0 0 0 2px !important;
  border-right: none !important;
}
.check-box {
  border: 1px solid #333333;
  height: 2.83541667mm;
  width: 2.83541667mm;
}
h1 {
  font-size: 5.1mm;
}
.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  font-size: 3.6mm;
}
.header__logo {
  margin: auto 0;
  padding: 10px 0;
}
.header_contacts {
  display: flex;
  padding: 10px 5px;
}
.header_contacts ul {
  margin: auto 5px;
  list-style: none;
}
.header__logo {
  opacity: 0.5;
}
.header__logo img {
  max-width: 6cm;
}
.order-info {
  margin: 10px auto;
}
.order-info-customer,
.order-info-executor,
.order-info-car {
  border: 1px dashed #b3b3b3;
  border-radius: 2px;
  margin: 5px auto;
  padding: 2px 10px;
}
.order-info-legend {
  font-weight: bold;
}
.order-info-legend:after {
  content: ":";
  font-weight: bold;
}
.order-info-title {
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;
  font-size: 5.1mm;
}
.order,
.recommendations {
  margin: 10px auto;
}
.order-table__executor,
.recommendations-table__executor {
  width: 12mm;
}
.order-table__num,
.recommendations-table__num {
  width: 22mm;
}
.order-table__quantity,
.recommendations-table__quantity {
  width: 12mm;
}
.order-table-work,
.recommendations-table-work {
  background: #f3f3f3;
  font-weight: 600;
  font-size: 4.1mm;
}
.order-table-work td,
.recommendations-table-work td {
  font-size: 3.3mm;
  border-right: none !important;
  border-left: none !important;
}
.order-table-work td:first-child,
.recommendations-table-work td:first-child {
  border-left: 1px solid #808080 !important;
}
.order-table-work td:last-child,
.recommendations-table-work td:last-child {
  border-right: 1px solid #808080 !important;
}
.order-table-work__simple td,
.recommendations-table-work__simple td {
  border-right: none !important;
  border-left: none !important;
}
.order-table-work__simple td:first-child,
.recommendations-table-work__simple td:first-child {
  border-left: 1px solid #808080 !important;
}
.order-table-work__simple td:last-child,
.recommendations-table-work__simple td:last-child {
  border-right: 1px solid #808080 !important;
}
.order-table,
.recommendations-table {
  border-collapse: collapse;
  width: 100%;
}
.order-table caption,
.recommendations-table caption {
  background: #d9d9d9;
  padding: 2px;
  font-size: 4.6mm;
  border-left: 1px solid #808080;
  border-right: 1px solid #808080;
  border-top: 1px solid #808080;
  font-weight: 600;
}
.order-table caption:first-letter,
.recommendations-table caption:first-letter {
  text-transform: capitalize;
}
.order-table thead td,
.recommendations-table thead td {
  padding: 2px 5px;
  border: 1px solid #808080;
  text-align: left;
  font-weight: 600;
}
.order-table thead td:first-letter,
.recommendations-table thead td:first-letter {
  text-transform: capitalize;
}
.order-table tbody td,
.recommendations-table tbody td {
  padding: 2px 5px;
  border: 1px solid #808080;
  text-align: left;
}
.order-table tbody td:first-letter,
.recommendations-table tbody td:first-letter {
  text-transform: capitalize;
}
.order-table tbody .order-table-subtotals__name,
.recommendations-table tbody .order-table-subtotals__name {
  text-align: center;
  text-transform: uppercase;
  font-size: 2.9mm;
}
.order-table tbody .order-table-totals__name,
.recommendations-table tbody .order-table-totals__name,
.order-table tbody .order-table-totals__sum,
.recommendations-table tbody .order-table-totals__sum {
  text-transform: uppercase;
  font-weight: 600;
  background-color: #f3f3f3;
  font-size: 4.1mm;
}
.order-table tbody .order-table-totals__name,
.recommendations-table tbody .order-table-totals__name {
  text-align: center;
}
.order-table tbody .order-table-part__part_number,
.recommendations-table tbody .order-table-part__part_number {
  text-transform: uppercase;
}
.order-table tbody .order-table-part__only .order-table-part__name,
.recommendations-table tbody .order-table-part__only .order-table-part__name {
  padding: 2px 5px;
}
.recommendations-table-work {
  font-size: 3.6mm;
  font-weight: 600;
}
.recommendations-table-work__legend {
  text-align: right !important;
}
.recommendations-table-part__name {
  padding-left: 25px !important;
}
.order-table-work {
  font-size: 3.1mm;
}
.order-table-work__legend {
  width: 20mm;
  text-align: right !important;
}
.stamps_guaranty-qr {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.stamps_guaranty-qr img {
  margin-left: 10px;
  margin-top: 5px;
  height: 70px;
}
.stamps_final {
  margin-top: 1cm;
  padding: 0 1cm;
  display: flex;
  justify-content: space-between;
}
.stamp {
  font-size: 4.6mm;
  text-transform: capitalize;
}
.stamp:after {
  content: "_____________________________";
}
.no-border {
  border: none !important;
  padding-right: 30px !important;
}
.bk-literal_num {
  margin-top: 2px;
  font-weight: 600;
}
.bk-literal_num:first-letter {
  text-transform: capitalize;
}
.bk-info-executor,
.bk-info-customer {
  display: flex;
  align-content: stretch;
  margin-top: 15px;
}
.bk-info-legend {
  font-weight: bold;
  width: 120px !important;
}
.bk-info-legend:after {
  content: ":";
  font-weight: bold;
}
.bk-info p {
  display: block;
  width: 100%;
  text-align: left;
  margin: 0;
}
.bk-table {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  border-collapse: collapse;
}
.bk-table th {
  border: 1px solid black;
  font-size: 4.1mm;
  padding: 2px;
}
.bk-table td {
  border: 1px solid black;
  padding: 2px 5px;
}
.bk-table__loop {
  width: 5mm;
  text-align: center;
}
.bk-table__quantity,
.bk-table__unit {
  width: 17.47083333mm;
}
.bk-table__num {
  width: 22mm;
}
.bk-table-total {
  text-align: right;
  font-weight: 600;
  font-size: 3.6mm;
}
.bk-stamp {
  width: 45%;
}
.bk-stamp-user {
  display: inline-block;
  margin-top: 10mm;
  font-weight: 600;
  font-size: 4.1mm;
}
.bk-stamp-line {
  margin-top: 15mm;
  border: 1px solid black;
}
.bk-stamp-line-under {
  margin: 0 1cm;
  display: inline-block;
  font-size: 2.6mm;
  text-transform: capitalize;
  text-align: center;
}
.bank-table {
  margin-top: 20px;
  width: 100%;
  border-collapse: collapse;
  height: 40mm;
}
.bank-table td {
  padding-left: 5.77952756px;
  border: 1px solid black;
}
.bank-table-info {
  border-top: none !important;
  font-size: 2.6mm;
  vertical-align: bottom;
  padding: 2px;
}
.bank-table-title {
  vertical-align: top;
  padding-top: 2px;
}
.bank-table_col_1 {
  width: 25%;
}
.bank-table_col_2 {
  width: 25%;
}
.bank-table_col_3 {
  width: 10mm;
}
.bank-table_row_2 {
  height: 5.1mm;
}
@media print {
  body {
    background: none;
  }
  .container {
    margin: 0;
    max-width: none;
    padding: 0;
    box-shadow: none;
    background: none;
  }
  .table {
    width: 22cm;
  }
  @page {
    size: A4;
    margin: 1cm;
  }
  .btn-block {
    display: none;
  }
  section,
  tbody {
    page-break-inside: avoid;
  }
  .recommendations {
    page-break-before: always;
  }
}
/*# sourceMappingURL=print_v2.css.map */