@red : rgba(250, 13, 28, 0.60);
@grey: rgba(0, 0, 0, 0.1);
@font-color: rgba(0, 0, 0, 70%);

* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Circe';
  src: url('../fonts/circe/300/circe_light.eot');
  src: url('../fonts/circe/300/circe_light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/circe/300/circe_light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Circe';
  src: url('../fonts/circe/400/circe_regular.eot');
  src: url('../fonts/circe/400/circe_regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/circe/400/circe_regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Circe';
  src: url('../fonts/circe/700/circe_bold.eot');
  src: url('../fonts/circe/700/circe_bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/circe/700/circe_bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}


body, html {
  font-family: Circe, sans-serif;
  margin: 0 auto;

}

body{
  background-color: #EAEAEA;
}

.content {
  display: block;
  width: 100%;
  margin: 0 auto;

  &.pages {
    padding-top: 100px;
  }
}

//------------------ Buttons ------------------

.btn-block {
  position: fixed;
  top: 0;
  display: flex;
  width: 100%;
  justify-content: center;
  background: #f7f7f9;
  box-shadow: 0 2px 9px rgba(0, 0, 0, 0.25);
  z-index: 10;
}

.btn {
  border-style: solid;
  border-width: 0px 0px 3px;
  box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
  color: #FFFFFF;
  border-radius: 6px;
  cursor: pointer;
  display: inline-block;
  font-style: normal;
  overflow: hidden;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  transition: all 200ms ease-in-out 0s;
  white-space: nowrap;
  font-weight: 700;
  padding: 10px 39px 9px;
  font-size: 18px;

  &_print {
    margin: 5px 10px;
    text-transform: capitalize;
  }

  &.blue {
    border-color: #326E99;
    background-color: #3F8ABF;
    &:hover {
      background-color: #397CAC;
      border-color: #326E99;
    }
  }
  &.red {
    background-color: #ED5A5A !important;
    border-color: #EA4343 !important;
    &:hover {
      background: none repeat scroll 0 0 #EB4848 !important;
      border-color: #E83131 !important;
    }
  }
  &.green {
    border-color: #3AC162;
    background-color: #5FCF80;
    &:hover {
      background-color: #4BC970;
      border-color: #3AC162;
    }
  }
}

//------------------ Pages ------------------

.page{
  width: 210mm;
  height: 277mm;
  padding: 10mm;
  margin: 2mm auto;
  background: white;
  color: @font-color;
  box-shadow: 0 2px 9px rgba(0, 0, 0, 0.25);
}

.main {
  display: grid;
  grid-template-rows: min-content auto min-content;
  grid-auto-flow: row;
  width: 100%;
  height: 100%;
  font-size: 3.2mm;
  align-items: start;

  &-table {
    align-self: start;
  }

}

.container {
  padding: 0 8mm;
}

.header {
  align-self: start;

  &__logo {
    margin: 0 auto 7mm;
    text-align: center;

    img{
      opacity: 0.7;
      height: 18mm;
    }
  }

  &__info {
    width: 100%;

    ul {
      display: flex;
      flex-wrap: nowrap;
      flex-direction: row;
      justify-content: center;
      list-style: none;
      margin: 0 auto;
      padding: 0;
    }

    li {
      padding: 0 2mm;
      font-weight: 700;
      text-align: center;
      border-left: 0.6mm solid @red;

      &:first-child {
        border-left: none;
      }
    }
  }

  &__line {
    padding: 0 30mm;
    margin: 10mm 0 7mm 0;

    & hr {
      margin: 0 auto;
      line-height: 0.5mm;
      border: 1px solid @red;
      color: @red;
      font-weight: 700;
      height: 0.5mm;
      background-color: @red;
    }
  }
}

.order {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;

}

.order-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: fit-content;
  padding: 2mm 7mm;
  border: 1px solid @red;
  border-radius: 2px;
  font-weight: 700;

  &__type, &__info {
    display: block;
  }

  &__type {
    text-transform: uppercase;
    color: @red;
    font-size: 1.5em;
  }

  &__info {
    font-size: 1.2em;
  }
}

.order-executor {
  display: grid;
  grid-template-columns: 25mm auto;
  align-self: start;

  &__type {
    justify-self: end;
    color: @red;
    font-weight: 700;
  }

  &__item {
    padding-left: 2mm;
  }
}

.cell-service, .cell-part {
  &:first-letter {
    text-transform: capitalize;
  }
}

.order-table {
  margin: 3mm auto;
  display: grid;
  grid-template-columns: 55% 2fr 1fr 2fr 2fr;

  &__header {
    display: grid;
    grid-column-start: 1;
    grid-column-end: -1;
    grid-template-columns: 55% 2fr 1fr 2fr 2fr;
    grid-column-gap: 1mm;
  }

  &__totals {
    margin-top: 2mm;
    grid-column-start: 1;
    grid-column-end: 6;
    display: grid;
    grid-template-columns: 55% 1fr;
    grid-gap: 1mm;
  }
}


.recommendations-table {
  display: grid;
  margin: 3mm auto;
  grid-template-columns: 55% 2fr 1fr 2fr 2fr;

  &__header {
    display: grid;
    grid-column-start: 1;
    grid-column-end: -1;
    grid-template-columns: 55% 2fr 1fr 2fr 2fr;
    grid-column-gap: 1mm;
  }
}

.table__item {
  text-align: center;


  &.table-header {
    display: flex;
    background-color: @grey;
    font-size: 0.95em;
    min-height: 8mm;
    align-items: center;
    justify-content: center;
  }

  &.cell-service {
    font-size: 1.1em;
    font-weight: 700;
    border-bottom: 1px solid @grey;
    padding: 1mm 2mm;
  }

  &.cell-part {
    font-size: 1.05em;
    font-weight: 400;
    border-bottom: 1px solid @grey;
    padding: 1mm 2mm;
  }

  &.cell-subtotal {
    font-size: 1.1em;
    border: 1px solid @grey;

  }

  &.cell-subtotal__pre {
    font-size: 1.1em;
    background-color: @grey;
    border: none;
    font-weight: 700;
  }

  &.cell-subtotal__total {
    color: white;
    font-size: 1.3em;
    background-color: @red;
    border: none;
    font-weight: 700;
  }
}

.footer {
  display: grid;
  align-self: end;
  grid-template-columns: 55% 1fr;
  column-gap: 1mm;

  &__contact {
    font-weight: 700;
    font-size: 1.1em;
    text-align: center;
    border-bottom: 1px solid @red;

    &.telephone {
      grid-column-start: 1;
    }
  }

  &__img {
    align-self: center;
    margin-top: 6mm;
    padding: 0 8mm;
  }

  &__img > img {
    opacity: 0.7;
    width: 100%;
  }
  &__mp {
    align-self: center;
    justify-self: center;
  }
}

.guaranty {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-flow: row dense;
  gap: 1mm 3mm;
  padding: 0 8mm;

  &__qr {
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-weight: 700;
    font-size: 1.5em;

    & > img {
      border: 1px solid @red;
      border-radius: 3px;
      padding: 2mm;
      height: 18mm;
      width: 18mm;
      opacity: 0.7;
    }
  }
}

.stamps {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 1mm;

  &__info {
    margin: 0;
    width: 100%;
    font-size: 1.2em;
    text-align: justify;
  }

  &__side {
    display: grid;
    grid-template-columns: min-content auto;
    grid-gap: 1mm;
    align-items: end;
    font-weight: 700;
    font-size: 1.1em;
    padding-right: 2mm;

    & hr {
      margin: 0 0 1mm 0;
      border: 1px solid rgba(0, 0, 0, 30%);
      font-weight: 400;
    }
  }

}

.right {
  padding-left: 5mm;
  text-align: end;
}

.left {
  text-align: start;
}

//------------------ Media ------------------

@media print {
  body{
    background: none;
  }
  .content, .content.pages{
    margin: 0;
    max-width: none;
    padding: 0;
    box-shadow: none;
    background: none;
  }

  .page {
    width: 100%;
    padding: 0;
    margin: 0 auto;
    background: none;
    box-shadow: none;
  }

  @page {
    size: A4;
    margin: 1cm;
  }
  .btn-block {
    display: none;
  }
  section, tbody {
    page-break-inside: avoid;
  }
  .recommendations{
    page-break-before: always;
  }
}
