* {
  box-sizing: border-box;
}
@font-face {
  font-family: 'Circe';
  src: url('../fonts/circe/300/circe_light.eot');
  src: url('../fonts/circe/300/circe_light.eot?#iefix') format('embedded-opentype'), url('../fonts/circe/300/circe_light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Circe';
  src: url('../fonts/circe/400/circe_regular.eot');
  src: url('../fonts/circe/400/circe_regular.eot?#iefix') format('embedded-opentype'), url('../fonts/circe/400/circe_regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Circe';
  src: url('../fonts/circe/700/circe_bold.eot');
  src: url('../fonts/circe/700/circe_bold.eot?#iefix') format('embedded-opentype'), url('../fonts/circe/700/circe_bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
.btn-block {
  position: fixed;
  top: 0;
  display: flex;
  width: 100%;
  justify-content: center;
  background: #f7f7f9;
  box-shadow: 0 2px 9px rgba(0, 0, 0, 0.25);
  z-index: 10;
}
.btn {
  font-family: Circe, sans-serif;
  border-style: solid;
  border-width: 0 0 3px;
  box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
  color: #FFFFFF;
  border-radius: 6px;
  cursor: pointer;
  display: inline-block;
  font-style: normal;
  overflow: hidden;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  transition: all 200ms ease-in-out 0s;
  white-space: nowrap;
  font-weight: 700;
  padding: 10px 39px 9px;
  font-size: 18px;
}
.btn_print {
  margin: 5px 10px;
  text-transform: capitalize;
}
.btn.blue {
  border-color: #326E99;
  background-color: #3F8ABF;
}
.btn.blue:hover {
  background-color: #397CAC;
  border-color: #326E99;
}
.btn.red {
  background-color: #ED5A5A !important;
  border-color: #EA4343 !important;
}
.btn.red:hover {
  background: none repeat scroll 0 0 #EB4848 !important;
  border-color: #E83131 !important;
}
.btn.green {
  border-color: #3AC162;
  background-color: #5FCF80;
}
.btn.green:hover {
  background-color: #4BC970;
  border-color: #3AC162;
}
.invoice-header__info {
  margin: 0 0 7mm;
}
.invoice-executor,
.invoice-provider {
  display: grid;
  grid-template-columns: 2.5cm auto;
  padding: 0 1mm;
  margin: 7mm 0;
}
.invoice-executor > div:first-child,
.invoice-provider > div:first-child {
  font-weight: 700;
}
.invoice-info {
  margin: 7mm 0;
  border: 1px solid rgba(0, 0, 0, 0.7);
  height: 48mm;
  display: grid;
  grid-template-columns: 1fr 1.5cm 1fr;
  grid-template-rows: 12mm 12mm auto 1fr 12mm;
}
.invoice-info__item {
  padding: 1mm;
}
.invoice-info__item.cell-center {
  border-left: inherit;
  border-right: inherit;
}
.invoice-info__item.border-bottom {
  border-bottom: inherit;
}
.invoice-info__item.cell-info {
  font-size: 0.8em;
  display: flex;
  align-items: flex-end;
}
.invoice-info__item.requisites {
  display: grid;
  grid-template-columns: 12mm 1fr 12mm 1fr;
  padding: 0;
}
.invoice-info__item.requisites > div {
  text-align: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.7);
  border-left: 1px solid rgba(0, 0, 0, 0.7);
}
.invoice-info__item.requisites > div:first-child {
  border-left: none;
}
.invoice-table__row {
  display: grid;
  grid-template-columns: 6mm auto 13mm 15mm 23mm 23mm;
  border-bottom: 1px solid black;
  grid-column: 1 / -1;
}
.invoice-table__row.row-header {
  border-top: 1px solid black;
}
.invoice-table__row.row-total {
  border: none;
}
.invoice-table__row.row-total > div:last-child {
  border-bottom: 1px solid black;
}
.invoice-table__item {
  padding: 2px;
  border-left: 1px solid black;
}
.invoice-table__item:last-child {
  border-right: 1px solid black;
}
.invoice-table__item.cell-header {
  font-weight: 700;
  text-align: center;
}
.invoice-table__item.cell-cost {
  text-align: right;
}
.invoice-table__item.cell-total {
  grid-column: 1 / -2;
  border: none;
  font-weight: 700;
  text-align: right;
  font-size: 1.1em;
}
.invoice-total-literal p {
  margin: 0;
  padding: 0 1mm;
}
.invoice-total-literal p:first-letter {
  text-transform: uppercase;
}
.invoice-sings {
  display: grid;
  grid-template-columns: 6.5cm [stamp] 5cm max-content;
  margin-top: 12mm;
}
.invoice-sings__line {
  border-bottom: 1px solid rgba(0, 0, 0, 0.7);
}
.invoice-sings__stamp {
  grid-column: stamp;
  text-align: center;
}
@media print {
  .invoice-table__row {
    page-break-inside: avoid;
  }
}
.upd-header {
  display: grid;
  grid-template-columns: 28mm auto;
  min-height: 5cm;
}
.upd-header-left {
  display: grid;
  grid-auto-flow: row;
  border-right: 0.6mm solid rgba(0, 0, 0, 0.7);
  padding: 0 0 2mm 1mm ;
}
.upd-header-left__name {
  font-size: 1.1em;
}
.upd-header-left__status {
  font-size: 1.1em;
}
.upd-header-left__status > span {
  display: inline-block;
  width: 1cm;
  margin-left: 1mm;
  border: 0.6mm solid rgba(0, 0, 0, 0.7);
  font-weight: 700;
  text-align: center;
}
.upd-header-left__info {
  font-size: 0.9em;
}
.upd-header-right {
  padding: 0 0 2mm 2mm;
  display: grid;
  grid-auto-flow: row;
}
.upd-number {
  display: grid;
  grid-template-columns: 3.5cm 3.5cm max-content 2.5cm max-content;
  grid-template-rows: max-content max-content;
  font-size: 1.1em;
}
.upd-number > div:last-child {
  text-align: right;
  font-size: 0.75em;
  grid-area: 1 / -1 / 3 / -1;
}
.upd-number__num {
  text-align: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.7);
}
.upd-contract-info {
  display: grid;
  grid-template-columns: 8cm 16cm auto;
  margin-top: 5mm;
}
.upd-contract-info > div:nth-child(3n+2) {
  border-bottom: 1px solid black;
  padding-left: 1mm;
}
.upd-contract-info > div:nth-child(3n+3) {
  text-align: center;
}
.upd-table {
  font-size: 0.78em;
}
.upd-table__row {
  display: grid;
  grid-template-columns: 8mm 2cm auto 11mm 8mm 17mm 15mm 18mm 23mm 16mm 10mm 18mm 25mm 10mm 17mm 21mm;
}
.upd-table__row.row-header {
  border-top: 1px solid rgba(0, 0, 0, 0.7);
}
.upd-table__cell {
  border-right: 1px solid rgba(0, 0, 0, 0.7);
  border-bottom: 1px solid rgba(0, 0, 0, 0.7);
  text-align: center;
  padding: 0 0.5mm;
}
.upd-table__cell:first-child {
  border-left: 1px solid rgba(0, 0, 0, 0.7);
}
.upd-table__cell.cell-header {
  display: flex;
  align-items: center;
  text-align: center;
}
.upd-table__cell.double-row {
  grid-row: span 2;
}
.upd-table__cell.double-column {
  grid-column: span 2;
}
.upd-table__cell:nth-child(2) {
  border-right: 0.6mm solid black;
}
body,
html {
  margin: 0 auto;
}
body {
  background-color: #EAEAEA;
}
.content {
  display: block;
  width: 100%;
  margin: 0 auto;
}
.wrapper {
  padding-top: 100px;
}
.page {
  height: 100%;
  padding: 7mm;
  margin: 2mm auto;
  background: white;
  box-shadow: 0 2px 9px rgba(0, 0, 0, 0.25);
}
.page.order-fonts {
  font-family: Circe, sans-serif;
  font-size: 3.2mm;
  color: rgba(0, 0, 0, 0.7);
}
.page.bookkeeping-fonts {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3mm;
  color: rgba(0, 0, 0, 0.7);
}
.page.landscape {
  height: 210mm;
  width: 297mm;
}
.page.portrait {
  height: 297mm;
  width: 210mm;
}
main {
  width: 100%;
}
main.landscape {
  min-height: 100%;
}
main.portrait {
  min-height: 234mm;
}
footer {
  min-height: 45mm;
}
.container {
  padding: 0 8mm;
}
.header__logo {
  margin: 0 auto 5mm;
  text-align: center;
  opacity: 0.7;
}
.header__logo img {
  height: 13mm;
}
.header__logo span {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2.5em;
}
.header__info {
  width: 100%;
}
.header__info ul {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  list-style: none;
  margin: 0 auto;
  padding: 0;
}
.header__info li {
  padding: 0 1mm;
  font-weight: 700;
  text-align: center;
  border-left: 0.6mm solid rgba(250, 13, 28, 0.6);
}
.header__info li:first-child {
  border-left: none;
}
.header__line {
  padding: 0 30mm;
  margin: 7mm 0 5mm 0;
}
.header__line hr {
  margin: 0 auto;
  line-height: 0.5mm;
  border: 1px solid rgba(250, 13, 28, 0.6);
  color: rgba(250, 13, 28, 0.6);
  font-weight: 700;
  height: 0.5mm;
  background-color: rgba(250, 13, 28, 0.6);
}
.order {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}
.order-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 4.5cm;
  border: 1px solid rgba(250, 13, 28, 0.6);
  border-radius: 2px;
  font-weight: 700;
}
.order-info__type,
.order-info__info {
  margin: 0 auto;
  display: block;
}
.order-info__type {
  text-transform: uppercase;
  color: rgba(250, 13, 28, 0.6);
  font-size: 1.5em;
}
.order-info__info {
  font-size: 1.2em;
}
.order-executor {
  display: grid;
  grid-template-columns: 25mm auto;
  align-self: start;
}
.order-executor__type {
  justify-self: end;
  color: rgba(250, 13, 28, 0.6);
  font-weight: 700;
}
.order-executor__item {
  padding-left: 2mm;
}
.cell-service:first-letter,
.cell-part:first-letter {
  text-transform: capitalize;
}
.order-table {
  margin: 2mm auto;
}
.order-table__header {
  display: grid;
  grid-column-start: 1;
  grid-column-end: -1;
  grid-template-columns: 55% 2fr 1fr 2fr 2fr;
  grid-column-gap: 1mm;
}
.order-table__main {
  display: block;
  margin: 0;
}
.order-table__block {
  width: 100%;
  display: grid;
  grid-column: 1 / -1;
  grid-template-columns: 55% 2fr 1fr 2fr 2fr;
  gap: inherit;
}
.order-table__totals {
  margin-top: 2mm;
  grid-column-start: 1;
  grid-column-end: 6;
  display: grid;
  grid-template-columns: 55% 1fr;
  grid-gap: 1mm;
}
.recommendations-table {
  display: grid;
  margin: 3mm auto;
  grid-template-columns: auto;
  gap: 2mm;
}
.recommendations-table__header {
  display: grid;
  grid-column-start: 1;
  grid-column-end: -1;
  grid-template-columns: 55% 1fr 2fr 2fr 2fr;
  grid-column-gap: 1mm;
}
.recommendations-table__block {
  display: grid;
  grid-template-columns: 55% 1fr 2fr 2fr 2fr;
  gap: 0 1mm;
}
.recommendations-table__block > .table__item:first-child {
  grid-row: 1;
  grid-column-start: 1;
  grid-column-end: -1;
}
.recommendations-table__block > .table__item:nth-child(2) {
  grid-column: 5;
  grid-row-start: 1;
  grid-row-end: 99;
}
.recommendations-table__block > .table__item:nth-child(3) {
  grid-column: 4;
  grid-row-start: 2;
  grid-row-end: 99;
}
.recommendations-table__totals {
  display: grid;
  grid-template-columns: auto calc(28.5714285% - 3px);
  gap: 1mm;
}
.give-out-table-master,
.give-out-table-manager {
  margin: 2mm auto;
}
.give-out-table-master__block {
  display: grid;
  grid-template-columns: 2em 55% 2fr 2fr;
}
.give-out-table-master__header {
  display: grid;
  grid-template-columns: 2em 55% 2fr 2fr;
  column-gap: 1mm;
  grid-column: 1 / -1;
}
.give-out-table-manager__block {
  display: grid;
  grid-template-columns: 2em 2fr 2fr 50% 0.7fr;
  column-gap: 1mm;
}
.give-out-table-manager__header {
  display: grid;
  grid-template-columns: 2em 2fr 2fr 50% 0.7fr;
  column-gap: 1mm;
  grid-column: 1 / -1;
}
.table__item {
  text-align: center;
  padding: 1px 1mm;
}
.table__item.table-header {
  display: flex;
  background-color: rgba(0, 0, 0, 0.1);
  font-size: 0.95em;
  min-height: 8mm;
  align-items: center;
  justify-content: center;
  padding: 1px 0;
}
.table__item.cell-service {
  line-height: 1.7em;
  font-size: 1.1em;
  font-weight: 700;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.table__item.cell-part {
  font-size: 1.05em;
  font-weight: 400;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.table__item.cell-subtotal {
  font-size: 1.1em;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.table__item.cell-subtotal__pre {
  font-size: 1.1em;
  background-color: rgba(0, 0, 0, 0.1);
  border: none;
  font-weight: 700;
}
.table__item.cell-subtotal__total {
  color: white;
  font-size: 1.3em;
  background-color: rgba(250, 13, 28, 0.6);
  border: none;
  font-weight: 700;
}
.table__item.cell-total-parts {
  font-weight: 700;
  font-size: 1.1em;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.table__item.cell-total-recommendation {
  font-weight: 700;
  font-size: 1.3em;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}
.table__item.cell-recommendations_totals {
  font-weight: 700;
  font-size: 1.2em;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: rgba(0, 0, 0, 0.1);
  padding-left: 0;
}
.table__item.cell-recommendations_totals:first-child,
.table__item.cell-recommendations_totals:nth-child(2) {
  border: none;
  color: white;
  background-color: rgba(250, 13, 28, 0.6);
}
.table__item.cell-recommendations_totals.right {
  justify-content: flex-end;
}
.table__item.cell-check {
  position: relative;
}
.table__item.cell-check:before {
  content: '';
  position: absolute;
  top: 0.45em;
  left: 0.4em;
  width: 1.1em;
  height: 1.1em;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.table__item.row-part {
  grid-column-start: 1;
  grid-column-end: -1;
  display: grid;
  grid-template-columns: inherit;
  gap: 0 1mm;
}
.table__item.row-part__give_out {
  grid-column-start: 2;
  grid-column-end: -2;
  padding-left: 1cm;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.table__item.row-service {
  display: grid;
  grid-template-columns: 55% 1fr 2fr 2fr 2fr;
  padding: 0;
}
.table__item.row-service > .cell-service {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.table__item.row-service > div:first-child {
  grid-column: 1 / 4;
}
.table__item.row-service > div:nth-child(2) {
  padding-left: 2mm;
}
.footer {
  display: grid;
  align-self: end;
  grid-template-columns: 55% 1fr;
  column-gap: 1mm;
}
.footer__contact {
  font-weight: 700;
  font-size: 1.1em;
  text-align: center;
  border-bottom: 1px solid rgba(250, 13, 28, 0.6);
}
.footer__contact.telephone {
  grid-column-start: 1;
}
.footer__img {
  align-self: center;
  margin-top: 6mm;
  padding: 0 8mm;
}
.footer__img > img {
  opacity: 0.7;
  width: 100%;
}
.footer__mp {
  align-self: center;
  justify-self: center;
}
.footer__empty {
  height: 1.6em;
}
.guaranty {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-flow: row dense;
  gap: 1mm 3mm;
  padding: 0 8mm;
}
.guaranty__qr {
  grid-column-start: 1;
  grid-column-end: 3;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-weight: 700;
  font-size: 1.5em;
}
.guaranty__qr > img {
  border: 1px solid rgba(250, 13, 28, 0.6);
  border-radius: 3px;
  padding: 1mm;
  height: 16mm;
  width: 16mm;
  opacity: 0.7;
}
.stamps {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 1mm;
}
.stamps__info {
  margin: 0;
  width: 100%;
  font-size: 1.2em;
  text-align: justify;
}
.stamps__side {
  display: grid;
  grid-template-columns: min-content auto;
  grid-gap: 1mm;
  align-items: end;
  font-weight: 700;
  font-size: 1.1em;
}
.stamps__side hr {
  margin: 0 0 1mm 0;
  border: 1px solid rgba(0, 0, 0, 0.3);
  font-weight: 400;
}
.right {
  padding-left: 5mm;
  text-align: end;
}
.left {
  text-align: start;
}
.order-table__block,
.recommendations-table__block {
  page-break-inside: avoid;
}
.page-brake {
  page-break-inside: avoid;
}
.page {
  page-break-after: always;
}
@media print {
  * {
    -webkit-print-color-adjust: exact;
  }
  body,
  html {
    background: none;
    margin: 0;
  }
  .content,
  .content.pages,
  .wrapper {
    margin: 0;
    max-width: none;
    padding: 0;
    box-shadow: none;
    background: none;
  }
  .page {
    padding: 0;
    margin: 0;
    background: none;
    box-shadow: none;
  }
  .page.landscape {
    min-width: 283mm;
    width: 100%;
    height: 100%;
    transform: rotate(270deg) translate(-283mm, 0);
    transform-origin: 0 0;
  }
  .page.portrait {
    min-height: 279mm;
    width: 100%;
    height: 100%;
  }
  main.portrait {
    height: 100%;
  }
  @page {
    size: A4;
    margin: 0.7cm;
  }
  .btn-block {
    display: none;
  }
}
