monolog:
    handlers:
        main:
            type: stream
            path: "%kernel.logs_dir%/%kernel.environment%.log"
            level: info
            formatter: 'monolog.formatter.json'
        console:
            type: console
            process_psr_3_messages: false
            channels: ["!event", "!doctrine"]
