{% set requisites = state.tenant.getRequisites() %}

<header class="header">
    <div class="header__logo">
        <img src="{{ asset('assets/img/logo_print.svg') }}" alt="Автомагистр">
    </div>
    <div class="header_contacts">
        <ul>
            {% for telephone in requisites.telephones %}
                <li class="header_contacts__phone">{{ telephone }}</li>
            {% endfor %}
        </ul>
        <ul>
            <li class="header_contacts__item">www.automagistre.ru</li>
            <li class="header_contacts__item">info@automagistre.ru</li>
        </ul>
    </div>
</header>
