<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{ order.number|default('Печать') }}</title>
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/styles.css') }}">
</head>
<body id="body">

<div>
    <div class="btn-block">
        <a class="btn btn_print green" id="print__btn" href="#">печать заказа</a>
        <a class="btn btn_print red" id ="print__cancel" href="{{ app.request.query.get('referer')|easyadmin_urldecode|raw }}">назад</a>
    </div>
</div>
<div class="wrapper">
    {% block content %}{% endblock %}
</div>

<div id="editor"></div>
<script>
    document.getElementById("print__btn").addEventListener("click", function() { window.print(); window.close(); });
</script>
{% block script %}{% endblock %}
</body>
</html>
