{% extends '@EasyAdmin/default/layout.html.twig' %}

{% form_theme form with easyadmin_config('design.form_theme') %}

{% block content_title %}Создать кросс{% endblock %}
{% block content_help %}
    {% include 'easy_admin/field_part.html.twig' with {'value': part} only %}
{% endblock %}

{% block main %}
    {{ form_start(form) }}

    {{ form_widget(form) }}
    <button class="btn btn-success">Создать</button>
    {{ form_end(form) }}
{% endblock %}
