{% extends 'easy_admin/default/layout.html.twig' %}

{% block content_title %}Наличие{% endblock %}

{% block main %}
    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th>Наименование</th>
                <th>Цена</th>
                <th>Количество</th>
            </tr>
            </thead>
            <tbody>
            {% for part in parts %}
                {# @var part \App\Part\Entity\PartView #}
                <tr>
                    <td>
                        {% include 'easy_admin/field_part.html.twig' with {'value': part} %}
                    </td>
                    <td>{{ part.price|localize_money }}</td>
                    <td>{{ part.quantity / 100 }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
