{% extends 'easy_admin/default/layout.html.twig' %}

{% block content_title %}
    Закупки
{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-md-12">
            {% if parts is not empty %}
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>Наименование</th>
                            <th>Статус</th>
                            <th>В наличии</th>
                            <th>В заказах</th>
                            <th>В поставке</th>
                            <th>Нужно заказать</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for part in parts %}
                            {% set toBuy = part.ordered - part.quantity - part.suppliesQuantity %}
                            {% set leftInStock = part.quantity - part.ordered + part.suppliesQuantity %}

                            {% if (leftInStock + toBuy) < part.orderUpToQuantity %}
                                {% set toBuy = part.orderUpToQuantity - leftInStock %}
                            {% endif %}

                            <tr>
                                <td>{% include 'easy_admin/field_part.html.twig' with {'value': part} only %}</td>
                                <td>
                                    {% if part.quantity < 0 %}
                                        <label class="label label-danger">
                                            <i class="fa fa-exclamation-triangle"></i>
                                        </label>
                                        Отрицательное количество на складе
                                    {% elseif (part.quantity - part.ordered) < 0 %}
                                        <label class="label label-warning">
                                            <i class="fa fa-fire"></i>
                                        </label>
                                        Нужна поставка для заказа
                                    {% elseif toBuy == 0 %}
                                        <label class="label label-success">
                                            <i class="fa fa-check"></i>
                                        </label>
                                        Заказано
                                    {% elseif leftInStock < part.orderUpToQuantity %}
                                        <label class="label label-warning">
                                            <i class="fa fa-cubes"></i>
                                        </label>
                                        Нужно восполнить запасы
                                    {% endif %}
                                </td>
                                <td>{{ part.quantity / 100 }}</td>
                                <td>{{ part.ordered / 100 }}</td>
                                <td>{{ part.suppliesQuantity / 100 }}</td>
                                <td>{{ toBuy / 100 }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% else %}
                Список пуст
            {% endif %}
        </div>
    </div>
{% endblock %}
