easy_admin:
    entities:
        McWork:
            class: App\MC\Entity\McWork
            controller: App\MC\Controller\WorkController
            disabled_actions: ['show']
            list:
                title: 'Список работ'
                fields:
                    - { property: 'name', label: 'Название' }
                    - { property: 'comment', label: 'Сервисная информация' }
                    - { property: 'price', label: 'Цена', template: 'easy_admin/field_money.html.twig' }
            form:
                fields:
                    - { property: 'name', label: 'Название', type: 'text' }
                    - { property: 'price', label: 'Сумма', type: App\Form\Type\MoneyType }
                    - { property: 'comment', label: 'Сервисная информация', type: 'text', type_options: { required: false } }
                    - { property: 'description', label: 'Публичное описание', type: 'textarea', type_options: { required: false } }
            new:
                title: 'Создать работу'
                form_options: { data_class: stdClass }
            edit:
                title: 'Редактировать работу'

        McEquipment:
            class: App\MC\Entity\McEquipment
            controller: App\MC\Controller\EquipmentController
            templates:
                show: 'easy_admin/mc/equipment/show.html.twig'
            list:
                title: 'Список комплектаций'
                fields:
                    - { property: 'equipment.engine.name', label: 'Двигатель', template: 'easy_admin/field_item_show.html.twig' }
                    - { property: 'vehicleId', label: 'Модель', template: 'easy_admin/field_identifier.html.twig' }
                    - { property: 'equipment.engine.capacity', label: 'Объём' }
                    - { property: 'equipment.transmission', label: 'КПП', template: 'easy_admin/field_enum.html.twig' }
                    - { property: 'equipment.wheelDrive', label: 'Привод', template: 'easy_admin/field_enum.html.twig' }
                    - { property: 'period', label: 'Период' }
                    - { property: 'published', virtual: true, label: 'Опубликовано?', template: 'easy_admin/mc/equipment/field_published.html.twig' }
            show:
                title: 'Комплектация'
                fields:
                    - { property: 'vehicleId', label: 'Модель', template: 'easy_admin/field_identifier.html.twig' }
                    - { property: 'equipment.engine.name', label: 'Двигатель' }
                    - { property: 'equipment.engine.capacity', label: 'Объём' }
                    - { property: 'equipment.transmission', label: 'КПП', template: 'easy_admin/field_enum.html.twig' }
                    - { property: 'equipment.wheelDrive', label: 'Привод', template: 'easy_admin/field_enum.html.twig' }
                    - { property: 'period', label: 'Период' }
            form:
                fields:
                    -   property: 'vehicleId'
                        label: 'Модель'
                        type: App\Vehicle\Form\VehicleAutocompleteType
                    - { property: 'period', label: 'Период ТО' }
                    - { property: 'equipment', label: ' ', type: App\Vehicle\Form\EquipmentType }
            new:
                title: 'Создать комплектацию'
            edit:
                title: 'Редактировать комплектацию'

        McLine:
            class: App\MC\Entity\McLine
            controller: App\MC\Controller\LineController
            disabled_actions: ['show', 'list', 'autocomplete']
            list:
                fields:
                    - { property: 'work', label: 'Модель' }
                    - { property: 'period', label: 'Модель ДВС' }
                    - { property: 'recommended', label: 'Двигатель' }
            form:
                fields:
                    - { property: 'work', label: 'Работа' }
                    - { property: 'period', label: 'Период' }
                    - { property: 'recommended', label: 'Рекомендуемый?' }
                    - { property: 'position', label: 'Позиция' }
            new:
                title: 'Создать работу'
            edit:
                title: 'Редактировать работу'

        McPart:
            class: App\MC\Entity\McPart
            controller: App\MC\Controller\PartController
            disabled_actions: ['show', 'list', 'autocomplete']
            form:
                fields:
                    -   property: 'partId'
                        label: 'Запчасть'
                        type: App\Part\Form\PartAutocompleteType
                        type_options:
                            required: true
                    - { property: 'quantity', label: 'Количество', type: App\Form\Type\QuantityType }
                    - { property: 'recommended', label: 'Рекомендуемый?' }
            new:
                title: 'Создать новую запчасть для ТО'
                form_options: { data_class: App\MC\Form\McPartDto }
            edit:
                title: 'Редактировать запчасть для ТО'
