<!DOCTYPE html>
<html lang="ru" prefix="og: http://ogp.me/ns#">
<head>
  <!-- Pages tittle ============================================================================ -->
  <title>Атомагистр - Ремонт и обслуживание Nissan в Москве</title>
  <!-- Necessary pages settings ================================================================ -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- SEO basic pages settings ================================================================ -->
  <meta name="robots"      content="noindex, nofollow">
  <!--meta name="robots"   content="index, follow"-->
  <meta name="keywords"    content="атомагистр, автосервис в Москве, магазин автозапчастей, авторемонт, диагностика">
  <meta name="description" content="Атомагистр - автосервис в Москве, магазин автозапчастей. Диагностика, техническое обслуживание авторемонт.">
  <!-- SEO advanced pages settings ============================================================= -->
  <meta property="og:url"         content="http://avtomagistr.ru">
  <meta property="og:type"        content="website">
  <meta property="og:title"       content="Атомагистр - автосервис в Москве, магазин автозапчастей">
  <meta property="og:image"       content="http://avtomagistr.ru/og-image_1200x1200.jpg">
  <meta property="og:site_name"   content="Атомагистр - автосервис в Москве, магазин автозапчастей">
  <meta property="og:description" content="Атомагистр - автосервис в Москве, магазин автозапчастей">
  <!-- Favicon ================================================================================= -->
  <link rel="icon" type="img/png" href="img/favicons/favicon-16x16.png" sizes="16x16"/>
  <link rel="icon" type="img/png" href="img/favicons/favicon-32x32.png" sizes="32x32"/>
  <link rel="apple-touch-icon" href="img/favicons/apple-touch-icon-152x152.png" sizes="152x152"/>
  <!-- Styles ================================================================================== -->
  <link rel="stylesheet" href="css/main.min.css"/><!-- Main styles from .less -->
  <!--link rel="stylesheet" href="css/modify.css"/--><!-- Fast dev additions -->
</head>


<body class="no-start-animations">

<!--[if lte IE 9]>
<div class="stop-modal">
  <div class="stop-modal__inn">
    <img class="stop-modal__img" src="img/old-browsers.jpg" alt="Old browsers">
    <div class="stop-modal__txt">
      <b>Вы используете очень <strong>устаревший</strong> браузер, котороый не обеспечивает безошибочную
        работу современных сайтов</b><br> Пожалуйста,<br> <a href="http://browsehappy.com" rel="nofollow">обновите ваш браузер</a><br>
      для получения возможности полноценно пользоваться интернетом, миллионы людей уже давно сделали это
    </div>
  </div>
</div>
<![endif]-->
<noscript>
  <div class="stop-modal">
    <div class="stop-modal__inn">
      <img class="stop-modal__img" src="img/no-javascript.jpg" alt="JavaScript">
      <div class="stop-modal__txt">
        <strong>Похоже, что JavaScript отключен в вашем браузере.</strong><br>Вы должны включить JavaScript,<br>
        в настройках браузера, для того, чтобы полноценно пользоваться интернетом в общем<br> и нашим сайтом в частности.
      </div>
    </div>
  </div>
</noscript>


<div class="site-wrapper">

<!-- HEADER ================================================================ -->
<header class="site-header" id="site-header">
  <div class="sh-line is-white" id="header-line">
    <div class="sh-line__row sh-line__for-comp">
      <div class="sh-line__col-lt">
        <div class="sh-logo">
          <img class="sh-logo__img sh-logo__img_white" src="img/logo_magistr_white.svg" alt="Атомагистр">
          <img class="sh-logo__img sh-logo__img_dark" src="img/logo_magistr_dark.svg" alt="Атомагистр">
          <a class="sh-logo__link" href="/"></a>
        </div>
        <div class="sh-drop">
          <div class="sh-drop__note">Клубный автосервис: </div>
          <nav class="sh-drop__links">
            <a class="sh-drop__link" href="#">Toyota</a>
            <a class="sh-drop__link" href="#">Mazda</a>
            <a class="sh-drop__link" href="#">Lexus</a>
            <a class="sh-drop__link is-active">Nissan</a>
          </nav>
        </div>
      </div>
      <div class="sh-line__col-cn">
        <ul class="sh-switch">
          <li class="sh-switch__item"><a class="sh-switch__link is-active" href="#">Автосервис в Москве</a></li>
          <li class="sh-switch__item"><a class="sh-switch__link" href="#">Магазин запчастей</a></li>
        </ul>
      </div>
      <div class="sh-line__col-rt">
        <ul class="sh-links">
          <li class="sh-links__item"><a class="sh-links__link" href="#">Мой гараж</a></li>
          <li class="sh-links__item"><a class="sh-links__link" href="#">Контакты</a></li>
          <li class="sh-links__item">
            <a class="sh-links__link is-active" href="tel:+74959848182">+7 (495) 984 81 82</a>
            <span class="sh-links__link-note">Ежедневно, 9:00-23:00</span>
          </li>
        </ul>
      </div>
    </div>
    <div class="sh-line__row sh-line__for-mob">
      <div class="sh-mob__col-lt">
        <a class="sh-mob__logo" href="/">
          <img class="sh-mob__logo-img sh-logo__img_white" src="img/logo_magistr-mob_white.svg" alt="Атомагистр">
          <img class="sh-mob__logo-img sh-logo__img_dark" src="img/logo_magistr-mob_dark.svg" alt="Атомагистр">
        </a>
      </div>
      <div class="sh-mob__col-rt">
        <a class="sh-mob__phone" href="tel:+749500000000"></a>
        <a class="mobmenu-btn sh-mob__menu-btn js-mobmenu-toggle" role="button">
          <span class="_top"></span><span class="_middle"></span><span class="_bottom"></span>
        </a>
      </div>
    </div>
  </div>
  <div class="sh-mob__drop" id="mob-drop">
    <nav class="sh-mob__menu">
      <a class="sh-mob__link" href="#">Автосервис в Москве</a>
      <a class="sh-mob__link" href="#">Магазин запчастей</a>
      <a class="sh-mob__link" href="#">Мой гараж</a>
      <a class="sh-mob__link" href="#">Контакты</a>
      <a class="sh-mob__link" href="#">Клубный автосервис: Toyota</a>
      <a class="sh-mob__link" href="#">Клубный автосервис: Mazda</a>
      <a class="sh-mob__link" href="#">Клубный автосервис: Lexus</a>
      <a class="sh-mob__link" href="#">Клубный автосервис: Nissan</a>
    </nav>
  </div>
</header><!-- END site-header -->


<!-- MAIN ================================================================== -->
<main class="site-main catalog">
  <div class="catalog__head">
    <div class="catalog__head-back" style="background-image: url(img/backgrounds/bg_catalog.jpg);"></div>
    <div class="catalog__head-front">
      <div class="container">
        <h1 class="catalog__title">Магазин запчастей для <span>Nissan Altima седан III L32 2.5 (QR25DE)</span></h1>
        <div class="catalog__lead">
          Качество запчастей проверили в собственном автосервисе. <br> Доставка по всей России
        </div>
        <form class="art-search catalog__art">
          <input class="art-search__input" type="text" placeholder="Поиск по артикулу">
          <button class="art-search__btn"></button>
        </form>
        <ul class="breadcrumbs is-white catalog__brcr" itemscope itemtype="http://schema.org/BreadcrumbList">
          <li class="breadcrumbs__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a class="breadcrumbs__link" itemprop="item" href="/"><span itemprop="name">Главная</span></a>
            <meta itemprop="position" content="1" />
          </li>
          <li class="breadcrumbs__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a class="breadcrumbs__link" itemprop="item" href="#"><span itemprop="name">Nissan Altima седан III L32 - 2.5 (QR25DE)</span></a>
            <meta itemprop="position" content="2" />
          </li>
          <li class="breadcrumbs__item">Вы здесь</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="catalog__body">
    <div class="container">
      <div class="catalog__row">

        <aside class="catalog__side">
          <form class="catalog__search">
            <input class="catalog__search-input" type="text" placeholder="Поиск по каталогу">
            <button class="catalog__search-btn"></button>
          </form>
          <div class="catalog__accordion">
            <a class="catalog__accordion-head js-cat-acc-head" role="button"></a>
            <div class="catalog__accordion-body">
              <ul class="catalog__menu">
                <li class="catalog__menu-unit">
                  <div class="catalog__menu-head">
                    <a class="catalog__menu-link" href="#">
                      <img class="catalog__menu-icon" src="img/catalog/fix-sign.svg">
                      Товары для технического обслуживания (ТО)
                    </a>
                    <a class="catalog__menu-btn js-submenu-switch is-active" role="button"></a>
                  </div>
                  <ul class="cm-submenu is-active">
                    <li class="cm-submenu__item"><a class="cm-submenu__link" href="#">Комплекты для ТО</a></li>
                    <li class="cm-submenu__item"><a class="cm-submenu__link is-active" href="#">Фильтра ТО</a></li>
                    <li class="cm-submenu__item"><a class="cm-submenu__link" href="#">Масла и другие тех. жидкости</a></li>
                    <li class="cm-submenu__item"><a class="cm-submenu__link" href="#">Свечи</a></li>
                  </ul>
                </li>
                <li class="catalog__menu-unit">
                  <div class="catalog__menu-head">
                    <a class="catalog__menu-link" href="#">
                      <img class="catalog__menu-icon" src="img/catalog/sign_02.png">
                      Двигатель
                    </a>
                    <a class="catalog__menu-btn js-submenu-switch" role="button"></a>
                  </div>
                  <ul class="cm-submenu">
                    <li class="cm-submenu__item"><a class="cm-submenu__link" href="#">Цепь, ГРМ</a></li>
                    <li class="cm-submenu__item"><a class="cm-submenu__link" href="#">Подушки</a></li>
                  </ul>
                </li>
                <li class="catalog__menu-unit">
                  <a class="catalog__menu-link" href="#">
                    <img class="catalog__menu-icon" src="img/catalog/sign_03.png">
                    Кондиционер
                  </a>
                </li>
                <li class="catalog__menu-unit">
                  <div class="catalog__menu-head">
                    <a class="catalog__menu-link" href="#">
                      <img class="catalog__menu-icon" src="img/catalog/sign_04.png">
                      Подвеска
                    </a>
                    <a class="catalog__menu-btn js-submenu-switch" role="button"></a>
                  </div>
                  <ul class="cm-submenu">
                    <li class="cm-submenu__item"><a class="cm-submenu__link" href="#">Амортизаторы, пружины</a></li>
                    <li class="cm-submenu__item"><a class="cm-submenu__link" href="#">Передняя подвеска</a></li>
                    <li class="cm-submenu__item"><a class="cm-submenu__link" href="#">Задняя подвеска</a></li>
                    <li class="cm-submenu__item"><a class="cm-submenu__link" href="#">Ступицы</a></li>
                  </ul>
                </li>
                <li class="catalog__menu-unit">
                  <a class="catalog__menu-link" href="#">
                    <img class="catalog__menu-icon" src="img/catalog/sign_05.png">
                    Приводные валы и пыльники ШРУС
                  </a>
                </li>
                <li class="catalog__menu-unit">
                  <a class="catalog__menu-link is-active" href="#">
                    <img class="catalog__menu-icon" src="img/catalog/sign_06.png">
                    Рулевое управление
                  </a>
                </li>
                <li class="catalog__menu-unit">
                  <a class="catalog__menu-link" href="#">
                    <img class="catalog__menu-icon" src="img/catalog/sign_07.png">
                    Система охлаждения
                  </a>
                </li>
                <li class="catalog__menu-unit">
                  <a class="catalog__menu-link" href="#">
                    <img class="catalog__menu-icon" src="img/catalog/sign_08.png">
                    Топливная система
                  </a>
                </li>
                <li class="catalog__menu-unit">
                  <a class="catalog__menu-link" href="#">
                    <img class="catalog__menu-icon" src="img/catalog/sign_09.png">
                    МКПП, Сцепление
                  </a>
                </li>
                <li class="catalog__menu-unit">
                  <a class="catalog__menu-link" href="#">
                    <img class="catalog__menu-icon" src="img/catalog/sign_10.png">
                    АКПП
                  </a>
                </li>
                <li class="catalog__menu-unit">
                  <a class="catalog__menu-link" href="#">
                    <img class="catalog__menu-icon" src="img/catalog/sign_11.png">
                    Тормозная система
                  </a>
                </li>
                <li class="catalog__menu-unit">
                  <a class="catalog__menu-link" href="#">
                    <img class="catalog__menu-icon" src="img/catalog/sign_12.png">
                    Выхлопная система
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </aside><!-- END catalog__side -->

        <div class="catalog__main">
          <div class="catalog__filter">
            <nav class="catalog__filter-btns">
              <a class="catalog__filter-btn is-active" role="button">Все</a>
              <a class="catalog__filter-btn" role="button">Оригинал</a>
              <a class="catalog__filter-btn" role="button">Неоригинал</a>
            </nav>
            <div class="catalog__filter-sort">
              <div class="selector">
                <input type="hidden" value="1"><!-- Выставление правильного предзаданного значения в селекте -->
                <div class="selector__val" data-val="1">По популярности</div>
                <div class="selector__drop">
                  <ul class="selector__list">
                    <li data-val="1">По популярности</li>
                    <li data-val="2">По цене (вверх)</li>
                    <li data-val="3">По цене (вниз)</li>
                    <li data-val="4">По названию (а-я)</li>
                    <li data-val="5">По названию (я-а)</li>
                  </ul>
                </div>
              </div>
            </div>
          </div><!-- END catalog__filter -->

          <div class="catalog__list">
            <div class="catalog__prod">
              <div class="prod-card">
                <a class="prod-card__pict" href="#">
                  <img class="prod-card__img" src="images/catalog/prod-card_01.jpg" alt="Башмак нятяжителя цепи">
                </a>
                <div class="prod-card__text">
                  <h4 class="prod-card__title"><a href="#">Башмак нятяжителя цепи</a></h4>
                  <div class="prod-card__note"></div>
                  <ul class="prod-card__props">
                    <li class="prod-card__prop"><span>Фирма:</span> Nissan/Renault-Samsung</li>
                    <li class="prod-card__prop"><span>Код фирмы:</span> 17040-95F0B</li>
                  </ul>
                  <div class="prod-card__price">2 040 <i class="icon-rub">a</i></div>
                  <a class="prod-card__get" role="button">В корзину</a>
                </div>
              </div>
            </div><!-- END catalog__prod -->

            <div class="catalog__prod">
              <div class="prod-card">
                <a class="prod-card__pict" href="#">
                  <img class="prod-card__img" src="images/catalog/prod-card_01.jpg" alt="Башмак нятяжителя цепи">
                </a>
                <div class="prod-card__text">
                  <h4 class="prod-card__title"><a href="#">Башмак нятяжителя цепи</a></h4>
                  <div class="prod-card__note"></div>
                  <ul class="prod-card__props">
                    <li class="prod-card__prop"><span>Фирма:</span> Nissan/Renault-Samsung</li>
                    <li class="prod-card__prop"><span>Код фирмы:</span> 17040-95F0B</li>
                  </ul>
                  <div class="prod-card__price">2 040 <i class="icon-rub">a</i></div>
                  <a class="prod-card__get" role="button">В корзину</a>
                </div>
              </div>
            </div><!-- END catalog__prod -->

            <div class="catalog__prod">
              <div class="prod-card">
                <a class="prod-card__pict" href="#">
                  <img class="prod-card__img" src="images/catalog/prod-card_01.jpg" alt="Башмак нятяжителя цепи">
                </a>
                <div class="prod-card__text">
                  <h4 class="prod-card__title"><a href="#">Башмак нятяжителя цепи</a></h4>
                  <div class="prod-card__note"></div>
                  <ul class="prod-card__props">
                    <li class="prod-card__prop"><span>Фирма:</span> Nissan/Renault-Samsung</li>
                    <li class="prod-card__prop"><span>Код фирмы:</span> 17040-95F0B</li>
                  </ul>
                  <div class="prod-card__price">2 040 <i class="icon-rub">a</i></div>
                  <a class="prod-card__get" role="button">В корзину</a>
                </div>
              </div>
            </div><!-- END catalog__prod -->

            <div class="catalog__prod">
              <div class="prod-card">
                <a class="prod-card__pict" href="#">
                  <img class="prod-card__img" src="images/catalog/prod-card_01.jpg" alt="Башмак нятяжителя цепи">
                </a>
                <div class="prod-card__text">
                  <h4 class="prod-card__title"><a href="#">Башмак нятяжителя цепи</a></h4>
                  <div class="prod-card__note"></div>
                  <ul class="prod-card__props">
                    <li class="prod-card__prop"><span>Фирма:</span> Nissan/Renault-Samsung</li>
                    <li class="prod-card__prop"><span>Код фирмы:</span> 17040-95F0B</li>
                  </ul>
                  <div class="prod-card__price">2 040 <i class="icon-rub">a</i></div>
                  <a class="prod-card__get" role="button">В корзину</a>
                </div>
              </div>
            </div><!-- END catalog__prod -->

            <div class="catalog__prod">
              <div class="prod-card">
                <a class="prod-card__pict" href="#">
                  <img class="prod-card__img" src="images/catalog/prod-card_01.jpg" alt="Башмак нятяжителя цепи">
                </a>
                <div class="prod-card__text">
                  <h4 class="prod-card__title"><a href="#">Башмак нятяжителя цепи</a></h4>
                  <div class="prod-card__note"></div>
                  <ul class="prod-card__props">
                    <li class="prod-card__prop"><span>Фирма:</span> Nissan/Renault-Samsung</li>
                    <li class="prod-card__prop"><span>Код фирмы:</span> 17040-95F0B</li>
                  </ul>
                  <div class="prod-card__price">2 040 <i class="icon-rub">a</i></div>
                  <a class="prod-card__get" role="button">В корзину</a>
                </div>
              </div>
            </div><!-- END catalog__prod -->

            <div class="catalog__prod">
              <div class="prod-card">
                <a class="prod-card__pict" href="#">
                  <img class="prod-card__img" src="images/catalog/prod-card_01.jpg" alt="Башмак нятяжителя цепи">
                </a>
                <div class="prod-card__text">
                  <h4 class="prod-card__title"><a href="#">Башмак нятяжителя цепи</a></h4>
                  <div class="prod-card__note"></div>
                  <ul class="prod-card__props">
                    <li class="prod-card__prop"><span>Фирма:</span> Nissan/Renault-Samsung</li>
                    <li class="prod-card__prop"><span>Код фирмы:</span> 17040-95F0B</li>
                  </ul>
                  <div class="prod-card__price">2 040 <i class="icon-rub">a</i></div>
                  <a class="prod-card__get" role="button">В корзину</a>
                </div>
              </div>
            </div><!-- END catalog__prod -->
          </div><!-- END catalog__list -->
        </div><!-- END catalog__main -->

      </div><!-- END catalog__row -->
    </div><!-- END container -->
  </div><!-- END catalog__body -->

  <section class="sec-story">
    <div class="container">
      <div class="sec-story__row">
        <div class="sec-story__info">
          <h3 class="sec-story__title">Heading</h3>
          <div class="sec-story__text js-scroll-y">
            Душа моя озарена неземной радостью, как эти чудесные весенние утра, которыми
            я наслаждаюсь от всего сердца. Я совсем один и блаженствую в здешнем краю,
            словно созданном для таких, как я. Я так счастлив, мой друг, так упоен ощущением
            покоя, что искусство мое страдает от этого. Ни одного штриха не мог бы я сделать,
            а никогда не был таким большим художником, как в эти минуты. <br>
            Когда от милой моей долины поднимается пар и полдневное солнце стоит над непроницаемой
            чащей темного леса и лишь редкий луч проскальзывает в его святая святых, а я лежу
            в высокой траве у быстрого ручья и, прильнув к земле, вижу тысячи. <br>
            Я совсем один и блаженствую в здешнем краю,
            словно созданном для таких, как я. Я так счастлив, мой друг, так упоен ощущением
            покоя, что искусство мое страдает от этого. Ни одного штриха не мог бы я сделать,
            а никогда не был таким большим художником, как в эти минуты. <br>
            Когда от милой моей долины поднимается пар и полдневное солнце стоит над непроницаемой
            чащей темного леса и лишь редкий луч проскальзывает в его святая святых, а я лежу
            в высокой траве у быстрого ручья и, прильнув к земле, вижу тысячи.
          </div>
        </div>
        <div class="sec-story__pict">
          <img class="sec-story__img" src="images/sec-story/story-car_01.png" alt="Heading">
        </div>
      </div>
    </div><!-- END container -->
  </section><!-- END sec-story -->

</main><!-- END site-main -->


<!-- FOOTER ================================================================ -->
<footer class="site-footer">
  <div class="sf-top">
    <div class="container">
      <div class="sf-top__row">
        <div class="sf-top__col-lt">
          <div class="sf-logo">
            <img class="sf-logo__img" src="img/logo_magistr_dark.svg" alt="Атомагистр">
            <a class="sf-logo__link" href="/"></a>
          </div>
          <div class="sf-drop">
            <div class="sf-drop__note">Клубный автосервис: </div>
            <nav class="sf-drop__links">
              <a class="sf-drop__link" href="#">Toyota</a>
              <a class="sf-drop__link" href="#">Mazda</a>
              <a class="sf-drop__link" href="#">Lexus</a>
              <a class="sf-drop__link is-active">Nissan</a>
            </nav>
          </div>
        </div>
        <div class="sf-top__col-rt">
          <nav class="sf-nav">
            <a class="sf-nav__link is-active" href="#">Сервис в Москве</a>
            <a class="sf-nav__link" href="#">Магазин запчастей</a>
            <a class="sf-nav__link" href="#">Корпоративным клиентам</a>
            <a class="sf-nav__link" href="#">Мой гараж</a>
            <a class="sf-nav__link" href="#">Блог</a>
            <a class="sf-nav__link" href="#">Контакты</a>
          </nav>
          <div class="sf-top__info">
            <div class="sf-top__text">
              ООО «АвтоМагистр». ИНН 4124141413224
            </div>
            <div class="sf-creator sf-top__creator">
              <div class="sf-creator__note">Сайт разработан:</div>
              <a class="sf-creator__link" href="http://spacewell.ru" target="_blank">
                <img class="sf-creator__img" src="img/logo_space-well_red.svg" alt="Space Well">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div><!-- END container -->
  </div>
  <div class="sf-btm">
    <div class="container">
      <div class="sf-btm__row">
        <div class="sf-btm__col">Все права защищены © АвтоМагистр</div>
        <div class="sf-btm__col"><a href="#">Политика конфиденциальности</a></div>
      </div>
    </div><!-- END container -->
  </div>
  <a class="sf-cart-informer" data-count="2" role="button"></a>
  <a class="scroll-top js-scroll-top" title="Вверх" role="button"></a>
</footer><!-- END site-footer -->
</div><!-- END site-wrapper -->


<!-- POPUPS ================================================================ -->


<!-- SCRIPTS =============================================================== -->
<script src="js/libs.min.js"></script>
<script src="js/main.min.js"></script>

</body>
</html>
