<!DOCTYPE html>
<html lang="ru" prefix="og: http://ogp.me/ns#">
<head>
  <!-- Pages tittle ============================================================================ -->
  <title>Атомагистр - Ремонт и обслуживание Nissan в Москве</title>
  <!-- Necessary pages settings ================================================================ -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- SEO basic pages settings ================================================================ -->
  <meta name="robots"      content="noindex, nofollow">
  <!--meta name="robots"   content="index, follow"-->
  <meta name="keywords"    content="атомагистр, автосервис в Москве, магазин автозапчастей, авторемонт, диагностика">
  <meta name="description" content="Атомагистр - автосервис в Москве, магазин автозапчастей. Диагностика, техническое обслуживание авторемонт.">
  <!-- SEO advanced pages settings ============================================================= -->
  <meta property="og:url"         content="http://avtomagistr.ru">
  <meta property="og:type"        content="website">
  <meta property="og:title"       content="Атомагистр - автосервис в Москве, магазин автозапчастей">
  <meta property="og:image"       content="http://avtomagistr.ru/og-image_1200x1200.jpg">
  <meta property="og:site_name"   content="Атомагистр - автосервис в Москве, магазин автозапчастей">
  <meta property="og:description" content="Атомагистр - автосервис в Москве, магазин автозапчастей">
  <!-- Favicon ================================================================================= -->
  <link rel="icon" type="img/png" href="img/favicons/favicon-16x16.png" sizes="16x16"/>
  <link rel="icon" type="img/png" href="img/favicons/favicon-32x32.png" sizes="32x32"/>
  <link rel="apple-touch-icon" href="img/favicons/apple-touch-icon-152x152.png" sizes="152x152"/>
  <!-- Styles ================================================================================== -->
  <link rel="stylesheet" href="css/main.min.css"/><!-- Main styles from .less -->
  <!--link rel="stylesheet" href="css/modify.css"/--><!-- Fast dev additions -->
</head>


<body class="no-start-animations">

<!--[if lte IE 9]>
<div class="stop-modal">
  <div class="stop-modal__inn">
    <img class="stop-modal__img" src="img/old-browsers.jpg" alt="Old browsers">
    <div class="stop-modal__txt">
      <b>Вы используете очень <strong>устаревший</strong> браузер, котороый не обеспечивает безошибочную
        работу современных сайтов</b><br> Пожалуйста,<br> <a href="http://browsehappy.com" rel="nofollow">обновите ваш браузер</a><br>
      для получения возможности полноценно пользоваться интернетом, миллионы людей уже давно сделали это
    </div>
  </div>
</div>
<![endif]-->
<noscript>
  <div class="stop-modal">
    <div class="stop-modal__inn">
      <img class="stop-modal__img" src="img/no-javascript.jpg" alt="JavaScript">
      <div class="stop-modal__txt">
        <strong>Похоже, что JavaScript отключен в вашем браузере.</strong><br>Вы должны включить JavaScript,<br>
        в настройках браузера, для того, чтобы полноценно пользоваться интернетом в общем<br> и нашим сайтом в частности.
      </div>
    </div>
  </div>
</noscript>


<div class="site-wrapper">

<!-- HEADER ================================================================ -->
<header class="site-header" id="site-header">
  <div class="sh-line is-white" id="header-line">
    <div class="sh-line__row sh-line__for-comp">
      <div class="sh-line__col-lt">
        <div class="sh-logo">
          <img class="sh-logo__img sh-logo__img_white" src="img/logo_magistr_white.svg" alt="Атомагистр">
          <img class="sh-logo__img sh-logo__img_dark" src="img/logo_magistr_dark.svg" alt="Атомагистр">
          <a class="sh-logo__link" href="/"></a>
        </div>
        <div class="sh-drop">
          <div class="sh-drop__note">Клубный автосервис: </div>
          <nav class="sh-drop__links">
            <a class="sh-drop__link" href="#">Toyota</a>
            <a class="sh-drop__link" href="#">Mazda</a>
            <a class="sh-drop__link" href="#">Lexus</a>
            <a class="sh-drop__link is-active">Nissan</a>
          </nav>
        </div>
      </div>
      <div class="sh-line__col-cn">
        <ul class="sh-switch">
          <li class="sh-switch__item"><a class="sh-switch__link is-active" href="#">Автосервис в Москве</a></li>
          <li class="sh-switch__item"><a class="sh-switch__link" href="#">Магазин запчастей</a></li>
        </ul>
      </div>
      <div class="sh-line__col-rt">
        <ul class="sh-links">
          <li class="sh-links__item"><a class="sh-links__link" href="#">Мой гараж</a></li>
          <li class="sh-links__item"><a class="sh-links__link" href="#">Контакты</a></li>
          <li class="sh-links__item">
            <a class="sh-links__link is-active" href="tel:+74959848182">+7 (495) 984 81 82</a>
            <span class="sh-links__link-note">Ежедневно, 9:00-23:00</span>
          </li>
        </ul>
      </div>
    </div>
    <div class="sh-line__row sh-line__for-mob">
      <div class="sh-mob__col-lt">
        <a class="sh-mob__logo" href="/">
          <img class="sh-mob__logo-img sh-logo__img_white" src="img/logo_magistr-mob_white.svg" alt="Атомагистр">
          <img class="sh-mob__logo-img sh-logo__img_dark" src="img/logo_magistr-mob_dark.svg" alt="Атомагистр">
        </a>
      </div>
      <div class="sh-mob__col-rt">
        <a class="sh-mob__phone" href="tel:+749500000000"></a>
        <a class="mobmenu-btn sh-mob__menu-btn js-mobmenu-toggle" role="button">
          <span class="_top"></span><span class="_middle"></span><span class="_bottom"></span>
        </a>
      </div>
    </div>
  </div>
  <div class="sh-mob__drop" id="mob-drop">
    <nav class="sh-mob__menu">
      <a class="sh-mob__link" href="#">Автосервис в Москве</a>
      <a class="sh-mob__link" href="#">Магазин запчастей</a>
      <a class="sh-mob__link" href="#">Мой гараж</a>
      <a class="sh-mob__link" href="#">Контакты</a>
      <a class="sh-mob__link" href="#">Клубный автосервис: Toyota</a>
      <a class="sh-mob__link" href="#">Клубный автосервис: Mazda</a>
      <a class="sh-mob__link" href="#">Клубный автосервис: Lexus</a>
      <a class="sh-mob__link" href="#">Клубный автосервис: Nissan</a>
    </nav>
  </div>
</header><!-- END site-header -->


<!-- MAIN ================================================================== -->
<main class="site-main page bg-gray">
  <section class="product">
    <div class="container">
      <div class="product__head">
        <ul class="breadcrumbs product__brcr" itemscope itemtype="http://schema.org/BreadcrumbList">
          <li class="breadcrumbs__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a class="breadcrumbs__link" itemprop="item" href="/"><span itemprop="name">Главная</span></a>
            <meta itemprop="position" content="1" />
          </li>
          <li class="breadcrumbs__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a class="breadcrumbs__link" itemprop="item" href="#"><span itemprop="name">Nissan Altima седан III L32 - 2.5 (QR25DE)</span></a>
            <meta itemprop="position" content="2" />
          </li>
          <li class="breadcrumbs__item">Вы здесь</li>
        </ul>
      </div>

      <div class="product__body">
        <div class="product__pict">
          <ul class="product__icons">
            <li class="product__icon icon-prod-piston"></li>
            <li class="product__icon icon-prod-star"></li>
          </ul>
          <div class="product__slider js-to-fotorama">
            <a href="images/product/ipad_pro_01.jpg"><img src="images/product/thumbs/ipad_pro_01.jpg" alt="Apple iPad Pro"></a>
            <a href="images/product/ipad_pro_02.jpg"><img src="images/product/thumbs/ipad_pro_02.jpg" alt="Apple iPad Pro"></a>
            <a href="images/product/ipad_pro_04.jpg"><img src="images/product/thumbs/ipad_pro_04.jpg" alt="Apple iPad Pro"></a>
            <a href="images/product/ipad_pro_05.jpg"><img src="images/product/thumbs/ipad_pro_05.jpg" alt="Apple iPad Pro"></a>
            <a href="images/product/ipad_pro_06.jpg"><img src="images/product/thumbs/ipad_pro_06.jpg" alt="Apple iPad Pro"></a>
          </div>
        </div>

        <div class="product__info">
          <h1 class="product__title">Башмак нятяжителя цепи</h1>
          <ul class="product__props">
            <li class="product__prop"><strong>Фирма</strong>: Nissan/Renault-Samsung</li>
            <li class="product__prop"><strong>Код фирмы</strong>: 17040-95F0B</li>
          </ul>
          <div class="product__desc">
            <div class="user-content-styles">
              <p>
                Описание Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab
                adipisci aliquam amet aspernatur beatae cumque, delectus deserunt dignissimos
                dolore exercitationem explicabo labore magnam numquam odio odit perferendis
                quaerat quas qui quod ratione recusandae repellendus repudiandae rerum sed
                totam veritatis, vero vitae? Accusantium, adipisci at aut autem commodi corporis
                deleniti dicta, ea expedita facilis iste minus mollitia nemo nobis, obcaecati
                porro praesentium qui quibusdam saepe temporibus! Amet autem blanditiis
                consequatur doloribus enim est explicabo. Dicta dolorum numquam odit officia, quae tenetur!
              </p>
            </div>
          </div>
          <div class="product__prop"><strong>Кросс кода</strong>: 17040-95F0B, 7040-95F0B, 7040-95F0B, 7040-95F0B, 7040-95F0B</div>
          <div class="product__order">
            <div class="product__price">1 232 040 ₽</div>
            <ul class="product__options">
              <li class="product__option">
                <label class="form__checkbox product__option-check"><input type="checkbox"><span>Установка в Москве</span></label>
                <div class="tooltip to-top-left">
                  <span class="tooltip__msg">Lorem ipsum dolor sit amet, consec tetur adipisicing elit ertrtt etopic.</span>
                </div>
              </li>
              <li class="product__option">
                <a class="product__option-link js-scroll-to" href="#sec-delivery" role="button">Условия доставки</a>
                <div class="tooltip to-top-left">
                  <span class="tooltip__msg">Lorem ipsum dolor sit amet, consec tetur adipisicing elit ertrtt etopic.</span>
                </div>
              </li>
            </ul>
          </div>
          <div class="product__get">
            <div class="counter product__count js-counter" data-max="10">
              <a class="counter__btn counter__btn_less" role="button"></a>
              <input class="counter__val" type="text" value="0" readonly title="Count">
              <a class="counter__btn counter__btn_more" role="button"></a>
            </div>
            <a class="btn btn_gray-outlined product__btn-click" role="button">Купить в 1 клик</a>
            <a class="btn btn_arrow-rt product__btn-cart js-show-noty" role="button"
               data-noty="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat, quae.">В корзину</a>
          </div>
        </div>
      </div><!-- END product__body -->
    </div><!-- END container -->
  </section>

  <section class="sec-cars">
    <div class="container">
      <h2 class="sec-cars__title">Подходит для:</h2>

      <div class="sec-cars__slider js-sec-cars-slider">
        <div class="sec-cars__slide">
          <div class="car-card">
            <h4 class="car-card__title">Altima купе</h4>
            <div class="car-card__pict">
              <img class="car-card__img" src="images/car-find/car_01.jpg" alt="Altima купе">
            </div>
            <div class="car-card__info">
              <div class="car-card__code">CL32</div>
              <div class="car-card__year">2006 - н.в</div>
            </div>
            <a class="car-card__link" href="#"></a>
          </div>
        </div>

        <div class="sec-cars__slide">
          <div class="car-card">
            <h4 class="car-card__title">Altima купе</h4>
            <div class="car-card__pict">
              <img class="car-card__img" src="images/car-find/car_01.jpg" alt="Altima купе">
            </div>
            <div class="car-card__info">
              <div class="car-card__code">CL32</div>
              <div class="car-card__year">2006 - н.в</div>
            </div>
            <a class="car-card__link" href="#"></a>
          </div>
        </div>

        <div class="sec-cars__slide">
          <div class="car-card">
            <h4 class="car-card__title">Altima купе</h4>
            <div class="car-card__pict">
              <img class="car-card__img" src="images/car-find/car_01.jpg" alt="Altima купе">
            </div>
            <div class="car-card__info">
              <div class="car-card__code">CL32</div>
              <div class="car-card__year">2006 - н.в</div>
            </div>
            <a class="car-card__link" href="#"></a>
          </div>
        </div>

        <div class="sec-cars__slide">
          <div class="car-card">
            <h4 class="car-card__title">Altima купе</h4>
            <div class="car-card__pict">
              <img class="car-card__img" src="images/car-find/car_01.jpg" alt="Altima купе">
            </div>
            <div class="car-card__info">
              <div class="car-card__code">CL32</div>
              <div class="car-card__year">2006 - н.в</div>
            </div>
            <a class="car-card__link" href="#"></a>
          </div>
        </div>

        <div class="sec-cars__slide">
          <div class="car-card">
            <h4 class="car-card__title">Altima купе</h4>
            <div class="car-card__pict">
              <img class="car-card__img" src="images/car-find/car_01.jpg" alt="Altima купе">
            </div>
            <div class="car-card__info">
              <div class="car-card__code">CL32</div>
              <div class="car-card__year">2006 - н.в</div>
            </div>
            <a class="car-card__link" href="#"></a>
          </div>
        </div>

        <div class="sec-cars__slide">
          <div class="car-card">
            <h4 class="car-card__title">Altima купе</h4>
            <div class="car-card__pict">
              <img class="car-card__img" src="images/car-find/car_01.jpg" alt="Altima купе">
            </div>
            <div class="car-card__info">
              <div class="car-card__code">CL32</div>
              <div class="car-card__year">2006 - н.в</div>
            </div>
            <a class="car-card__link" href="#"></a>
          </div>
        </div>

        <div class="sec-cars__slide">
          <div class="car-card">
            <h4 class="car-card__title">Altima купе</h4>
            <div class="car-card__pict">
              <img class="car-card__img" src="images/car-find/car_01.jpg" alt="Altima купе">
            </div>
            <div class="car-card__info">
              <div class="car-card__code">CL32</div>
              <div class="car-card__year">2006 - н.в</div>
            </div>
            <a class="car-card__link" href="#"></a>
          </div>
        </div>

        <div class="sec-cars__slide">
          <div class="car-card">
            <h4 class="car-card__title">Altima купе</h4>
            <div class="car-card__pict">
              <img class="car-card__img" src="images/car-find/car_01.jpg" alt="Altima купе">
            </div>
            <div class="car-card__info">
              <div class="car-card__code">CL32</div>
              <div class="car-card__year">2006 - н.в</div>
            </div>
            <a class="car-card__link" href="#"></a>
          </div>
        </div>

        <div class="sec-cars__slide">
          <div class="car-card">
            <h4 class="car-card__title">Altima купе</h4>
            <div class="car-card__pict">
              <img class="car-card__img" src="images/car-find/car_01.jpg" alt="Altima купе">
            </div>
            <div class="car-card__info">
              <div class="car-card__code">CL32</div>
              <div class="car-card__year">2006 - н.в</div>
            </div>
            <a class="car-card__link" href="#"></a>
          </div>
        </div>
      </div><!-- END sec-cars__slider -->
    </div><!-- END container -->
  </section><!-- END sec-cars -->

  <section class="sec-invite">
    <div class="sec-invite__back" style="background-image: url(img/backgrounds/bg_sec-happen_01.jpg)"></div>
    <div class="sec-invite__front">
      <div class="container">
        <div class="sec-invite__row">
          <div class="sec-invite__pict">
            <img class="sec-invite__img" src="img/sec-master/master_01.png" alt="Мастер авторемонт">
          </div>
          <div class="sec-invite__text">
            <h2 class="sec-invite__title">Ремонтируете сами?</h2>
            <div class="sec-invite__note">
              Возможно, пора доверится профессионалам и&nbsp;записаться в наш автосервис в Москве?
            </div>
            <div class="sec-invite__get">
              <a class="btn btn_white-outlined sec-invite__btn-white" role="button">Все услуги</a>
              <a class="btn sec-invite__btn-red" role="button">Услуга связанная с деталью</a>
            </div>
            <ul class="facts sec-invite__facts">
              <li class="facts__item">
                <div class="facts__val">8</div>
                <div class="facts__txt">Лет опыта</div>
              </li>
              <li class="facts__item">
                <div class="facts__val">21282</div>
                <div class="facts__txt">Выполненных ремонта</div>
              </li>
              <li class="facts__item">
                <div class="facts__val">4947</div>
                <div class="facts__txt">Машин отремонтировано</div>
              </li>
            </ul>
          </div>
        </div>
      </div><!-- END container -->
    </div>
  </section><!-- END sec-invite -->

  <section class="sec-delivery" id="sec-delivery">
    <div class="sec-delivery__back" style="background-image: url(img/backgrounds/bg_sec-delivery.jpg)"></div>
    <div class="sec-delivery__front">
      <div class="container">
        <h2 class="sec-delivery__title">Условия доставки</h2>
        <div class="sec-delivery__tabs">
          <nav class="sec-delivery__tabs-head" id="sec-delivery-tabs">
            <a class="sec-delivery__tabs-btn js-tabs-btn" data-tab="delivery_01" role="button">Самовывоз</a>
            <a class="sec-delivery__tabs-btn js-tabs-btn is-active" data-tab="delivery_02" role="button">Доставка по Московской Области</a>
            <a class="sec-delivery__tabs-btn js-tabs-btn" data-tab="delivery_03" role="button">Доставка по России</a>
          </nav>
          <div class="sec-delivery__tabs-body js-tabs-body">
            <div class="sec-delivery__tabs-item js-tabs-item" id="delivery_01">

            </div>
            <div class="sec-delivery__tabs-item js-tabs-item is-active" id="delivery_02">
              <div class="courier">
                <div class="courier__text">
                  <h4 class="courier__title">Доставка курьером</h4>
                  <form class="form courier__form">
                    <div class="form__line">
                      <input class="form__input" type="text" placeholder="Населенный пункт (район)">
                    </div>
                    <div class="row courier__form-row">
                      <div class="form__line col_6-12">
                        <input class="form__input" placeholder="Улица" type="text">
                      </div>
                      <div class="form__line col_3-12">
                        <input class="form__input" placeholder="Дом" type="text">
                      </div>
                      <div class="form__line col_3-12">
                        <input class="form__input" placeholder="Квартира" type="text">
                      </div>
                    </div>
                    <div class="form__line">
                      <button class="btn btn_wide">Рассчитать</button>
                    </div>
                  </form>
                </div>
                <div class="courier__pict">
                  <img class="courier__img" src="img/sec-delivery/delivery-man.png" alt="Доставка">
                </div>
              </div>
            </div>

            <div class="sec-delivery__tabs-item js-tabs-item" id="delivery_03">

            </div>
          </div>
        </div>
      </div><!-- END container -->
    </div>
  </section><!-- END sec-delivery -->

</main><!-- END site-main -->


<!-- FOOTER ================================================================ -->
<footer class="site-footer">
  <div class="sf-top">
    <div class="container">
      <div class="sf-top__row">
        <div class="sf-top__col-lt">
          <div class="sf-logo">
            <img class="sf-logo__img" src="img/logo_magistr_dark.svg" alt="Атомагистр">
            <a class="sf-logo__link" href="/"></a>
          </div>
          <div class="sf-drop">
            <div class="sf-drop__note">Клубный автосервис: </div>
            <nav class="sf-drop__links">
              <a class="sf-drop__link" href="#">Toyota</a>
              <a class="sf-drop__link" href="#">Mazda</a>
              <a class="sf-drop__link" href="#">Lexus</a>
              <a class="sf-drop__link is-active">Nissan</a>
            </nav>
          </div>
        </div>
        <div class="sf-top__col-rt">
          <nav class="sf-nav">
            <a class="sf-nav__link is-active" href="#">Сервис в Москве</a>
            <a class="sf-nav__link" href="#">Магазин запчастей</a>
            <a class="sf-nav__link" href="#">Корпоративным клиентам</a>
            <a class="sf-nav__link" href="#">Мой гараж</a>
            <a class="sf-nav__link" href="#">Блог</a>
            <a class="sf-nav__link" href="#">Контакты</a>
          </nav>
          <div class="sf-top__info">
            <div class="sf-top__text">
              ООО «АвтоМагистр». ИНН 4124141413224
            </div>
            <div class="sf-creator sf-top__creator">
              <div class="sf-creator__note">Сайт разработан:</div>
              <a class="sf-creator__link" href="http://spacewell.ru" target="_blank">
                <img class="sf-creator__img" src="img/logo_space-well_red.svg" alt="Space Well">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div><!-- END container -->
  </div>
  <div class="sf-btm">
    <div class="container">
      <div class="sf-btm__row">
        <div class="sf-btm__col">Все права защищены © АвтоМагистр</div>
        <div class="sf-btm__col"><a href="#">Политика конфиденциальности</a></div>
      </div>
    </div><!-- END container -->
  </div>
  <a class="scroll-top js-scroll-top" title="Вверх" role="button"></a>
</footer><!-- END site-footer -->
</div><!-- END site-wrapper -->


<!-- POPUPS ================================================================ -->
<div class="popup" id="pop-send-order">
  <div class="popup__wrap">
    <a class="popup__close js-popup-close"></a>
    <div class="popup__body">

    </div>
  </div>
</div>

<!-- SCRIPTS =============================================================== -->
<script src="js/libs.min.js"></script>
<script src="js/main.min.js"></script>

</body>
</html>
