<!DOCTYPE html>
<html lang="ru" prefix="og: http://ogp.me/ns#">
<head>
  <!-- Pages tittle ============================================================================ -->
  <title>Атомагистр - Ремонт и обслуживание Nissan в Москве</title>
  <!-- Necessary pages settings ================================================================ -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- SEO basic pages settings ================================================================ -->
  <meta name="robots"      content="noindex, nofollow">
  <!--meta name="robots"   content="index, follow"-->
  <meta name="keywords"    content="атомагистр, автосервис в Москве, магазин автозапчастей, авторемонт, диагностика">
  <meta name="description" content="Атомагистр - автосервис в Москве, магазин автозапчастей. Диагностика, техническое обслуживание авторемонт.">
  <!-- SEO advanced pages settings ============================================================= -->
  <meta property="og:url"         content="http://avtomagistr.ru">
  <meta property="og:type"        content="website">
  <meta property="og:title"       content="Атомагистр - автосервис в Москве, магазин автозапчастей">
  <meta property="og:image"       content="http://avtomagistr.ru/og-image_1200x1200.jpg">
  <meta property="og:site_name"   content="Атомагистр - автосервис в Москве, магазин автозапчастей">
  <meta property="og:description" content="Атомагистр - автосервис в Москве, магазин автозапчастей">
  <!-- Favicon ================================================================================= -->
  <link rel="icon" type="img/png" href="img/favicons/favicon-16x16.png" sizes="16x16"/>
  <link rel="icon" type="img/png" href="img/favicons/favicon-32x32.png" sizes="32x32"/>
  <link rel="apple-touch-icon" href="img/favicons/apple-touch-icon-152x152.png" sizes="152x152"/>
  <!-- Styles ================================================================================== -->
  <link rel="stylesheet" href="css/main.min.css"/><!-- Main styles from .less -->
  <!--link rel="stylesheet" href="css/modify.css"/--><!-- Fast dev additions -->
</head>


<body class="no-start-animations">

<!--[if lte IE 9]>
<div class="stop-modal">
  <div class="stop-modal__inn">
    <img class="stop-modal__img" src="img/old-browsers.jpg" alt="Old browsers">
    <div class="stop-modal__txt">
      <b>Вы используете очень <strong>устаревший</strong> браузер, котороый не обеспечивает безошибочную
        работу современных сайтов</b><br> Пожалуйста,<br> <a href="http://browsehappy.com" rel="nofollow">обновите ваш браузер</a><br>
      для получения возможности полноценно пользоваться интернетом, миллионы людей уже давно сделали это
    </div>
  </div>
</div>
<![endif]-->
<noscript>
  <div class="stop-modal">
    <div class="stop-modal__inn">
      <img class="stop-modal__img" src="img/no-javascript.jpg" alt="JavaScript">
      <div class="stop-modal__txt">
        <strong>Похоже, что JavaScript отключен в вашем браузере.</strong><br>Вы должны включить JavaScript,<br>
        в настройках браузера, для того, чтобы полноценно пользоваться интернетом в общем<br> и нашим сайтом в частности.
      </div>
    </div>
  </div>
</noscript>


<div class="site-wrapper">

<!-- HEADER ================================================================ -->
<header class="site-header" id="site-header">
  <div class="sh-line is-white" id="header-line">
    <div class="sh-line__row sh-line__for-comp">
      <div class="sh-line__col-lt">
        <div class="sh-logo">
          <img class="sh-logo__img sh-logo__img_white" src="img/logo_magistr_white.svg" alt="Атомагистр">
          <img class="sh-logo__img sh-logo__img_dark" src="img/logo_magistr_dark.svg" alt="Атомагистр">
          <a class="sh-logo__link" href="/"></a>
        </div>
        <div class="sh-drop">
          <div class="sh-drop__note">Клубный автосервис: </div>
          <nav class="sh-drop__links">
            <a class="sh-drop__link" href="#">Toyota</a>
            <a class="sh-drop__link" href="#">Mazda</a>
            <a class="sh-drop__link" href="#">Lexus</a>
            <a class="sh-drop__link is-active">Nissan</a>
          </nav>
        </div>
      </div>
      <div class="sh-line__col-cn">
        <ul class="sh-switch">
          <li class="sh-switch__item"><a class="sh-switch__link is-active" href="#">Автосервис в Москве</a></li>
          <li class="sh-switch__item"><a class="sh-switch__link" href="#">Магазин запчастей</a></li>
        </ul>
      </div>
      <div class="sh-line__col-rt">
        <ul class="sh-links">
          <li class="sh-links__item"><a class="sh-links__link" href="#">Мой гараж</a></li>
          <li class="sh-links__item"><a class="sh-links__link" href="#">Контакты</a></li>
          <li class="sh-links__item">
            <a class="sh-links__link is-active" href="tel:+74959848182">+7 (495) 984 81 82</a>
            <span class="sh-links__link-note">Ежедневно, 9:00-23:00</span>
          </li>
        </ul>
      </div>
    </div>
    <div class="sh-line__row sh-line__for-mob">
      <div class="sh-mob__col-lt">
        <a class="sh-mob__logo" href="/">
          <img class="sh-mob__logo-img sh-logo__img_white" src="img/logo_magistr-mob_white.svg" alt="Атомагистр">
          <img class="sh-mob__logo-img sh-logo__img_dark" src="img/logo_magistr-mob_dark.svg" alt="Атомагистр">
        </a>
      </div>
      <div class="sh-mob__col-rt">
        <a class="sh-mob__phone" href="tel:+749500000000"></a>
        <a class="mobmenu-btn sh-mob__menu-btn js-mobmenu-toggle" role="button">
          <span class="_top"></span><span class="_middle"></span><span class="_bottom"></span>
        </a>
      </div>
    </div>
  </div>
  <div class="sh-mob__drop" id="mob-drop">
    <nav class="sh-mob__menu">
      <a class="sh-mob__link" href="#">Автосервис в Москве</a>
      <a class="sh-mob__link" href="#">Магазин запчастей</a>
      <a class="sh-mob__link" href="#">Мой гараж</a>
      <a class="sh-mob__link" href="#">Контакты</a>
      <a class="sh-mob__link" href="#">Клубный автосервис: Toyota</a>
      <a class="sh-mob__link" href="#">Клубный автосервис: Mazda</a>
      <a class="sh-mob__link" href="#">Клубный автосервис: Lexus</a>
      <a class="sh-mob__link" href="#">Клубный автосервис: Nissan</a>
    </nav>
  </div>
</header><!-- END site-header -->


<!-- MAIN ================================================================== -->
<main class="site-main page bg-gray">
  <div class="page__head">
    <div class="container">
      <h1 class="page__title">ОФОРМЛЕНИЕ ЗАКАЗА</h1>
    </div>
  </div>

  <div class="page__body">
    <div class="container">

      <form class="order">
        <div class="order__main">
          <section class="order__group">
            <h2 class="order__title">Ваши данные:</h2>
            <div class="form order__form">
              <div class="form__line">
                <input class="form__input is-slim" type="text" name="name" placeholder="Имя">
              </div>
              <div class="row order__form-row">
                <div class="form__line col_6-12">
                  <input class="form__input is-slim js-phone-mask" type="text" name="numb" placeholder="Телефон">
                </div>
                <div class="form__line col_6-12">
                  <input class="form__input is-slim" type="text" name="mail" placeholder="E-mail">
                </div>
              </div>
              <div class="form__line">
                <label class="order__check"><input type="checkbox"><span>Проверить совместимость авто</span></label>
              </div>
              <div class="form__line">
                <input class="form__input is-slim" type="text" name="vin" placeholder="Вин автомобиля">
              </div>
            </div>
          </section>

          <section class="order__group">
            <h2 class="order__title">Выберите способ доставки:</h2>
            <div class="form order__form">
              <div class="form__line">
                <label class="form__radio"><input type="radio" name="test" value="1"><span>Самовывоз</span></label>
                <label class="form__radio"><input type="radio" name="test" value="2"><span>По Московской Области</span></label>
                <label class="form__radio"><input type="radio" name="test" value="3"><span>По России</span></label>
              </div>
              <div class="form__line">
                <input class="form__input is-slim" type="text" placeholder="Населенный пункт (район)">
              </div>
              <div class="row order__form-row">
                <div class="form__line col_6-12">
                  <input class="form__input is-slim" type="text" placeholder="Улица">
                </div>
                <div class="form__line col_3-12">
                  <input class="form__input is-slim" type="text" placeholder="Дом">
                </div>
                <div class="form__line col_3-12">
                  <input class="form__input is-slim" type="text" placeholder="Квартира">
                </div>
              </div>
            </div>
          </section>

          <section class="order__group">
            <h2 class="order__title">Стоимость доставки:</h2>
            <div class="form order__form">
              <div class="form__line">
                <button class="btn btn_wide btn_big js-show-popup" data-pop="pop-send-order" type="button">Оформить заказ</button>
              </div>
              <div class="form__line">
                <label class="order__check">
                  <input tabindex="0" type="checkbox">
                  <span class="mini-gray">
                    Я согласен с <a href="#" target="_blank">политикой конфеденциальности</a>
                    и даю право на&nbsp;обработку моих персональных данных
                  </span>
                </label>
              </div>
            </div>
          </section>
        </div>

        <aside class="order__side">
          <div class="order-cart">
            <div class="order-cart__head">
              <h2 class="order__title order-cart__title">Ваш заказ:</h2>
              <div class="order-cart__num">№5256</div>
              <a class="order-cart__back" href="#">Вернуться в корзину</a>
            </div>

            <div class="order-cart__body">
              <ul class="order-cart__list">
                <li class="order-card order-cart__item">
                  <div class="order-card__pict">
                    <img class="order-card__img" src="images/cart/prod_01_90x90.jpg" alt="Башмак нятяжителя цепи">
                  </div>
                  <div class="order-card__info">
                    <h4 class="order-card__title">Башмак нятяжителя цепи</h4>
                    <div class="order-card__price">25 000 р.</div>
                  </div>
                  <div class="order-card__count">x 2</div>
                  <div class="order-card__total">50 000 р.</div>
                </li>
                <li class="order-card order-cart__item">
                  <div class="order-card__pict">
                    <img class="order-card__img" src="images/cart/prod_02_90x90.jpg" alt="Башмак нятяжителя цепи">
                  </div>
                  <div class="order-card__info">
                    <h4 class="order-card__title">Замена масла в двигателе с масляным фильтром</h4>
                    <div class="order-card__price">10 000 р.</div>
                  </div>
                  <div class="order-card__count">x 1</div>
                  <div class="order-card__total">10 000 р.</div>
                </li>
                <li class="order-card order-cart__item">
                  <div class="order-card__pict">
                    <img class="order-card__img" src="images/cart/prod_01_90x90.jpg" alt="Башмак нятяжителя цепи">
                  </div>
                  <div class="order-card__info">
                    <h4 class="order-card__title">Снятие/установка или демонтаж/монтаж + балансировка 4-х колес</h4>
                    <div class="order-card__price">7 500 р.</div>
                  </div>
                  <div class="order-card__count">x 1</div>
                  <div class="order-card__total">7 500 р.</div>
                </li>
                <li class="order-card order-cart__item">
                  <div class="order-card__pict">
                    <img class="order-card__img" src="images/cart/prod_02_90x90.jpg" alt="Башмак нятяжителя цепи">
                  </div>
                  <div class="order-card__info">
                    <h4 class="order-card__title">Замена масла в двигателе с масляным фильтром</h4>
                    <div class="order-card__price">10 000 р.</div>
                  </div>
                  <div class="order-card__count">x 1</div>
                  <div class="order-card__total">10 000 р.</div>
                </li>
                <li class="order-card order-cart__item">
                  <div class="order-card__pict">
                    <img class="order-card__img" src="images/cart/prod_01_90x90.jpg" alt="Башмак нятяжителя цепи">
                  </div>
                  <div class="order-card__info">
                    <h4 class="order-card__title">Снятие/установка или демонтаж/монтаж + балансировка 4-х колес</h4>
                    <div class="order-card__price">7 500 р.</div>
                  </div>
                  <div class="order-card__count">x 1</div>
                  <div class="order-card__total">7 500 р.</div>
                </li>
              </ul>
              <div class="order-cart__total">
                <div class="order-cart__total-note">Итого:</div>
                <div class="order-cart__total-summ">50 500 р.</div>
              </div>
            </div>
          </div>
        </aside>

      </form><!-- END order -->
    </div><!-- END container -->
  </div><!-- END page__body -->
</main><!-- END site-main -->


<!-- FOOTER ================================================================ -->
<footer class="site-footer">
  <div class="sf-top">
    <div class="container">
      <div class="sf-top__row">
        <div class="sf-top__col-lt">
          <div class="sf-logo">
            <img class="sf-logo__img" src="img/logo_magistr_dark.svg" alt="Атомагистр">
            <a class="sf-logo__link" href="/"></a>
          </div>
          <div class="sf-drop">
            <div class="sf-drop__note">Клубный автосервис: </div>
            <nav class="sf-drop__links">
              <a class="sf-drop__link" href="#">Toyota</a>
              <a class="sf-drop__link" href="#">Mazda</a>
              <a class="sf-drop__link" href="#">Lexus</a>
              <a class="sf-drop__link is-active">Nissan</a>
            </nav>
          </div>
        </div>
        <div class="sf-top__col-rt">
          <nav class="sf-nav">
            <a class="sf-nav__link is-active" href="#">Сервис в Москве</a>
            <a class="sf-nav__link" href="#">Магазин запчастей</a>
            <a class="sf-nav__link" href="#">Корпоративным клиентам</a>
            <a class="sf-nav__link" href="#">Мой гараж</a>
            <a class="sf-nav__link" href="#">Блог</a>
            <a class="sf-nav__link" href="#">Контакты</a>
          </nav>
          <div class="sf-top__info">
            <div class="sf-top__text">
              ООО «АвтоМагистр». ИНН 4124141413224
            </div>
            <div class="sf-creator sf-top__creator">
              <div class="sf-creator__note">Сайт разработан:</div>
              <a class="sf-creator__link" href="http://spacewell.ru" target="_blank">
                <img class="sf-creator__img" src="img/logo_space-well_red.svg" alt="Space Well">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div><!-- END container -->
  </div>
  <div class="sf-btm">
    <div class="container">
      <div class="sf-btm__row">
        <div class="sf-btm__col">Все права защищены © АвтоМагистр</div>
        <div class="sf-btm__col"><a href="#">Политика конфиденциальности</a></div>
      </div>
    </div><!-- END container -->
  </div>
  <a class="scroll-top js-scroll-top" title="Вверх" role="button"></a>
</footer><!-- END site-footer -->
</div><!-- END site-wrapper -->


<!-- POPUPS ================================================================ -->
<div class="popup" id="pop-send-order">
  <div class="popup__wrap">
    <a class="popup__close js-popup-close"></a>
    <div class="popup__body">
      <h4 class="popup__title">Спасибо, что выбрали нас!</h4>
      <div class="popup-order">
        <div class="popup-order__lead">
          Ваш заказ <strong>№5653</strong>  на сумму <strong>50 500 р.</strong> принят.
        </div>
        <div class="popup-order__lead">
          В ближайшее время с вами свяжется наш менеджер <br> для уточнения заказа
        </div>
        <img class="popup-order__img" src="img/face_director.png" alt="генеральный директор АвтоМагист">
        <div class="popup-order__note">
          «Мы очень внимательно относимся к пожеланиям и предложениям клиентов,
          поэтому если Вы обнаружили в нашей работе какие-либо недочеты, <br>
          или у Вас есть идеи для улучшения нашего сервиса, <br>
          огромная просьба – сообщите нам —
          <a href="mailto:pochta@ya.ru">pochta@ya.ru</a>»
        </div>
        <div class="popup-order__remark">
          Кирилл Сидоров. Генеральный директор АвтоМагистр
        </div>
      </div>
    </div>
  </div>
</div>

<!-- SCRIPTS =============================================================== -->
<script src="js/libs.min.js"></script>
<script src="js/main.min.js"></script>

</body>
</html>
