{% extends 'easy_admin/default/show.html.twig' %}

{# @var entity \App\Entity\Landlord\Organization #}

{% block main %}
    <div class="row">
        <div class="col-md-4">
            <div class="field-group">
                <div class="box box-default">
                    <div class="box-header with-border">
                        <h3 class="box-title">Основная информация</h3>
                    </div>

                    <div class="box-body">
                        {{ parent() }}
                    </div>

                    <div class="box-footer">
                        <div class="form-group ">
                            <label class="col-sm-2 control-label">
                                Баланс
                            </label>
                            <div class="col-sm-10">
                                <div class="form-control">{{ balance|localize_money }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="field-group">
                <div class="box box-default">
                    <div class="box-header with-border">
                        <h3 class="box-title">Реквизиты</h3>
                    </div>

                    <div class="box-body">
                        {% set fields = {
                            'ИНН': 'inn',
                            'КПП': 'kpp',
                            'ОГРН': 'ogrn',
                            'Рассчётный счёт': 'rs',
                            'Корреспондетский счёт': 'ks',
                            'БИК': 'bik'
                        } %}

                        {% for label,field in fields %}
                            <div class="form-group ">
                                <label class="control-label">{{ label }}</label>
                                <p class="form-control form-control-static">{{ attribute(entity.requisite, field) }}</p>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-5">
            <div class="row">
                <div class="col-md-12">
                    {% include 'easy_admin/_includes/notes_panel.html.twig' with {
                        'create_url': easyadmin_path('OrganizationNote', 'new', entity|to_query),
                        'notes': notes
                    } only %}
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    {% include 'easy_admin/operand/cars_panel.html.twig' %}
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            {% include 'easy_admin/operand/last_orders_panel.html.twig' %}
        </div>

        <div class="col-md-6">
            {% include 'easy_admin/operand/last_payments.html.twig' %}
        </div>
    </div>
{% endblock %}
