{% extends '@EasyAdmin/default/show.html.twig' %}

{# @var entity \App\Entity\Organization #}

{% block main %}
    <div class="row">
        <div class="col-md-6">
            <div class="field-group">
                <div class="box box-default">
                    <div class="box-header with-border">
                        <h3 class="box-title">Основная информация</h3>
                    </div>

                    <div class="box-body">
                        {{ parent() }}
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                    {% include 'easy_admin/_includes/notes_panel.html.twig' with {
                        'create_url': easyadmin_path('OrganizationNote', 'new', entity|to_query),
                        'notes': notes
                    } only %}
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    {% include 'easy_admin/operand/cars_panel.html.twig' %}
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    {% include 'easy_admin/operand/wallets_panel.html.twig' with {'entity': entity} only %}
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            {% include 'easy_admin/operand/last_orders_panel.html.twig' %}
        </div>

        <div class="col-md-6">
            {% include 'easy_admin/operand/last_payments.html.twig' %}
        </div>
    </div>
{% endblock %}
