{% extends 'easy_admin/default/layout.html.twig' %}

 {% block content %}
     <section class="content-header">
         <h1 class="title">{{ status_code }} {{ status_text }}</h1>
     </section>
 {% endblock %}
