{%- if value is not empty %}
    {%- apply spaceless %}
        {{ value -}}

        {% set referer = true %}
        {% if lineIndex is defined and lineIndex is not empty %}
            {% set queries = app.request.query.all() %}
            {% set referer = easyadmin_path(queries.entity, queries.action, queries|merge({'lineIndex': lineIndex})) %}
        {% endif %}

        <a href="{{ path('admin_part_explorer', {'partnumber': value, 'referer': referer}) }}">
            <i class="fa fa-search"></i>
        </a>
    {% endapply -%}
{%- else -%}
    {% include 'easy_admin/default/label_null.html.twig' %}
{%- endif -%}
