{# @var value \App\Part\Entity\PartView #}

{% if (field_options.item)|default(false) %}
    {% set value = item %}
{% endif %}

{% if is_identifier(value) %}
    {% set value = part_view(value) %}
{% endif %}

{% set referer = field_options.referer|default(true) %}

{%- if value is not empty -%}
    {%- apply spaceless -%}
        <a href="{{ easyadmin_path('Part', 'show', {'id': value.toId.toString, 'referer': referer}) }}">
            <i class="fa fa-barcode"></i>
        </a>
        {%- apply spaceless -%}
            &nbsp; {{- value.name -}} &nbsp;(
            {{- value.manufacturer.name -}} &nbsp;
            {%- include 'easy_admin/field_part_number.html.twig' with {
                'value': value.number,
                'lineIndex': (item is defined ? item.toId.toString)
            } only -%}
            )
        {%- endapply %}

        <span class="label label-primary">{{ value.quantity / 100 }}</span>
    {%- endapply %}
{%- else -%}
    {% include 'easy_admin/default/label_null.html.twig' %}
{%- endif -%}
