{%- if value is not empty %}
    {{ value -}}

    {% set referer = app.request.uri %}
    {% if lineIndex is defined and lineIndex is not empty %}
        {% set referer = referer|add_query('lineIndex', lineIndex) %}
    {% endif %}

    <a href="{{ path('admin_part_explorer', {'partnumber': value, 'referer': referer}) }}">
        <i class="fa fa-search"></i>
    </a>
{% else -%}
    {% include '@EasyAdmin/default/label_null.html.twig' %}
{%- endif -%}
