{% if value is not empty %}
    <a href="tel:{{ value|phone_number_format }}">
        {{ value|phone_number_format }}
    </a>
{% else %}
    {{ include('@EasyAdmin/default/label_null.html.twig') }}
{% endif %}
