{# @var value \App\Entity\Car #}

{% if value is not empty %}
    <a href="{{ easyadmin_path(value, 'show', {'referer': true}) }}">
        {{ value }}
    </a>
{% else %}
    {% include '@EasyAdmin/default/label_null.html.twig' %}
{% endif %}
