{# @var value \App\Entity\User #}
{% if value is not empty %}
    {% set personId = value.personId %}

    {% if personId is not empty %}
        <a href="{{ easyadmin_path('Operand', 'show') }}">{{ personId|display_name }}</a>
    {% else %}
        {{ value }}
    {% endif %}
{% endif %}
