{% extends app.request.xmlHttpRequest ? 'easy_admin/layout_modal.html.twig' : '@EasyAdmin/default/layout.html.twig' %}

{% block wrapper %}
    {{ parent() }}

    <footer class="main-footer">
        <div class="pull-right hidden-xs">
            Сборка <b>{{ build() }}</b> от {{ build_time()|localizeddate('medium', 'short') }}
        </div>
        <strong>Copyright © 2017 <a href="//www.automagistre.ru">Автомагистр</a>.</strong>
    </footer>
{% endblock %}
