{# @var item \App\Employee\Entity\Employee #}

{%- set parameters = {'operand_id': item.personId.toString, 'referer': true} -%}

<a href="{{ easyadmin_path('Employee', 'salary', parameters) }}" class="btn btn-success btn-sm">Выдать
    зарплату
</a>
<a href="{{ easyadmin_path('Employee', 'penalty', parameters) }}" class="btn btn-danger btn-sm">
    Оштрафовать
</a>
