{% set requisites = tenant.getRequisites() %}

    {% if requisites.name|default %}
        {% set requisitesForRender = [
            {'key': 'name',
                'name': ''
            },
            {'key': 'inn',
                'name': 'ИНН'
            },
            {'key': 'kpp',
                'name': 'КПП'
            },
            {'key': 'rs',
                'name': 'Р/С'
            },
            {'key': 'bik',
                'name': 'БИК'
            }
        ] %}

<header class="header">
    <div class="header__logo">
        {% if requisites.logo|default %}
            <img src="{{ asset('assets/img/' ~ requisites.logo) }}" alt="Логотип">
        {% elseif requisites.name|default %}
            <span>{{ requisites.name }}</span>
        {% else %}
            <span>Автосервис</span>
        {% endif %}
    </div>

    <div class="container header__info">
        <ul>
            {% for req in requisitesForRender %}
                {% if requisites[req.key]|default %}
                    <li>
                        {% if req.name %}
                            {{ req.name }}:
                        {% endif %}
                        {{ requisites[req.key] }}
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
    {% endif %}

    <div class="header__line">
        <hr>
    </div>
</header>

