easy_admin:
    entities:
        Motion:
            class: App\Storage\Entity\Motion
            controller: App\Storage\Controller\MotionController
            disabled_actions: ['show', 'edit', 'new', 'search', 'delete']
            templates:
                list: 'easy_admin/motion/list.html.twig'
            list:
                title: 'Движения по складу'
                max_results: 100
                fields:
                    - { property: 'id', template: 'easy_admin/default/field_raw.html.twig' }
                    - { property: 'partId', label: 'Наименование', template: 'easy_admin/field_part.html.twig', stock: true }
                    - { property: 'quantity', label: 'Количество', template: 'easy_admin/field_quantity.html.twig' }
                    - { property: 'description', label: 'Комментарий', template: 'easy_admin/motion/description.html.twig' }
                    - { property: 'createdAt', label: 'Создано' }

        Warehouse:
            class:  App\Storage\Entity\WarehouseView
            controller: App\Storage\Controller\WarehouseController
            disabled_actions: ['show', 'delete']
            list:
                title: 'Склады'
                fields:
                    - { property: 'name', label: 'Название' }
                    - { property: 'parentId', label: 'Родитель', template: 'easy_admin/field_identifier.html.twig' }

doctrine:
    orm:
        entity_managers:
            tenant:
                mappings:
                    storage:
                        type: annotation
                        prefix: App\Storage\Entity
                        dir: '%kernel.project_dir%/src/Storage/Entity'

services:
    _defaults:
        public: false
        autowire: true
        autoconfigure: true
