@red : rgba(250, 13, 28, 0.60);
@grey: rgba(0, 0, 0, 0.1);
@font-color: rgba(0, 0, 0, 70%);

@price-col: 24mm;
@quantity-col: 12mm;
@page-height-portrait: 273mm;
@page-height-landscape: 193mm;
@page-margin: 7mm;


body, html {
  margin: 0 auto;
}

body{
  background-color: #EAEAEA;
}

.content {
  display: block;
  width: 100%;
  margin: 0 auto;
}

.wrapper {
  padding-top: 100px;
}



//------------------ Pages ------------------

.page{
  height: 100%;
  padding: @page-margin;
  margin: 2mm auto;
  background: white;
  box-shadow: 0 2px 9px rgba(0, 0, 0, 0.25);

  &.order-fonts {
    font-family: Circe, sans-serif;
    font-size: 3.2mm;
    color: @font-color;
  }

  &.bookkeeping-fonts{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3.2mm;
  }

  &.landscape {

  }

  &.portrait {
    min-height: @page-height-portrait + @page-margin * 2;
    width: 210mm;
  }
}

@footer-height: 45mm;

main {
  width: 100%;


  &.landscape {

  }

  &.portrait {
    min-height: @page-height-portrait - @footer-height;
  }
}

footer {
  min-height: @footer-height;

}

.container {
  padding: 0 8mm;
}

.header {

  &__logo {
    margin: 0 auto 5mm;
    text-align: center;
    opacity: 0.7;

    img{
      height: 13mm;
    }

    span {
      text-transform: uppercase;
      font-weight: 700;
      font-size: 2.5em;
    }
  }

  &__info {
    width: 100%;

    ul {
      //font-size: 0.9em;
      display: flex;
      flex-wrap: nowrap;
      flex-direction: row;
      justify-content: center;
      list-style: none;
      margin: 0 auto;
      padding: 0;
    }

    li {
      padding: 0 1mm;
      font-weight: 700;
      text-align: center;
      border-left: 0.6mm solid @red;

      &:first-child {
        border-left: none;
      }
    }
  }

  &__line {
    padding: 0 30mm;
    margin: 7mm 0 5mm 0;

    & hr {
      margin: 0 auto;
      line-height: 0.5mm;
      border: 1px solid @red;
      color: @red;
      font-weight: 700;
      height: 0.5mm;
      background-color: @red;
    }
  }
}

.order {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;

}

.order-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  //min-width: fit-content;
  min-width: 4.5cm;
  border: 1px solid @red;
  border-radius: 2px;
  font-weight: 700;

  &__type, &__info {
    margin: 0 auto;
    display: block;
  }

  &__type {
    text-transform: uppercase;
    color: @red;
    font-size: 1.5em;
  }

  &__info {
    font-size: 1.2em;
  }
}

.order-executor {
  display: grid;
  grid-template-columns: 25mm auto;
  align-self: start;

  &__type {
    justify-self: end;
    color: @red;
    font-weight: 700;
  }

  &__item {
    padding-left: 2mm;
  }
}

.cell-service, .cell-part {
  &:first-letter {
    text-transform: capitalize;
  }
}

@order-table-first-col: 55%;
@order-table-template: @order-table-first-col 2fr 1fr 2fr 2fr;

.order-table {
  margin: 2mm auto;

  &__header {
    display: grid;
    grid-column-start: 1;
    grid-column-end: -1;
    grid-template-columns: @order-table-template;
    grid-column-gap: 1mm;
  }

  &__main {
    display: block;
    margin: 0;
  }

  &__block {
    width: 100%;
    display: grid;
    grid-column: ~"1 / -1";
    grid-template-columns: @order-table-template;
    gap: inherit;
  }

  &__totals {
    margin-top: 2mm;
    grid-column-start: 1;
    grid-column-end: 6;
    display: grid;
    grid-template-columns: @order-table-first-col 1fr;
    grid-gap: 1mm;
  }
}

@recommendations-table-first-col: 55%;
@recommendations-table-template: @order-table-first-col 1fr 2fr 2fr 2fr;

.recommendations-table {
  display: grid;
  margin: 3mm auto;
  grid-template-columns: auto;
  gap: 2mm;

  &__header {
    display: grid;
    grid-column-start: 1;
    grid-column-end: -1;
    grid-template-columns: @recommendations-table-template;
    grid-column-gap: 1mm;
  }

  &__block {
    display: grid;
    grid-template-columns: @recommendations-table-template;
    gap: 0 1mm;

    & > .table__item:first-child {
      grid-row: 1;
      grid-column-start: 1;
      grid-column-end: -1;
    }

    & > .table__item:nth-child(2) {
      grid-column: 5;
      grid-row-start: 1;
      grid-row-end: 99;
    }

    & > .table__item:nth-child(3) {
      grid-column: 4;
      grid-row-start: 2;
      grid-row-end: 99;
    }
  }

  &__totals {
    display: grid;
    grid-template-columns: auto calc(28.5714285% - 3px);
    gap: 1mm;
  }

}

@give-out-table-mater-first-col: 55%;
@give-out-table-master-template: 2em @give-out-table-mater-first-col 2fr 2fr;

.give-out-table-master, .give-out-table-manager {
  margin: 2mm auto;
}

.give-out-table-master {
  &__block {
    display: grid;
    grid-template-columns: @give-out-table-master-template;
  }

  &__header {
    display: grid;
    grid-template-columns: @give-out-table-master-template;
    column-gap: 1mm;
    grid-column: ~"1 / -1";
  }
}


@give-out-table-manager-name: 50%;
@give-out-table-manager-template: 2em  2fr 2fr @give-out-table-manager-name 0.7fr;

.give-out-table-manager {
  &__block {
    display: grid;
    grid-template-columns: @give-out-table-manager-template;
    column-gap: 1mm;
  }

  &__header {
    display: grid;
    grid-template-columns: @give-out-table-manager-template;
    column-gap: 1mm;
    grid-column: ~"1 / -1";
  }
}


.table__item {
  text-align: center;
  padding: 1px 1mm;

  &.table-header {
    display: flex;
    background-color: @grey;
    font-size: 0.95em;
    min-height: 8mm;
    align-items: center;
    justify-content: center;
    padding: 1px 0;
  }

  &.cell-service {
    line-height: 1.7em;
    font-size: 1.1em;
    font-weight: 700;
    border-bottom: 1px solid @grey;
  }

  &.cell-part {
    font-size: 1.05em;
    font-weight: 400;
    border-bottom: 1px solid @grey;
  }

  &.cell-subtotal {
    font-size: 1.1em;
    border: 1px solid @grey;

  }

  &.cell-subtotal__pre {
    font-size: 1.1em;
    background-color: @grey;
    border: none;
    font-weight: 700;
  }

  &.cell-subtotal__total {
    color: white;
    font-size: 1.3em;
    background-color: @red;
    border: none;
    font-weight: 700;
  }

  &.cell-total-parts {
    font-weight: 700;
    font-size: 1.1em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid @grey;
  }

  &.cell-total-recommendation {
    font-weight: 700;
    font-size: 1.3em;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid @grey;
    border-radius: 3px;
  }

  &.cell-recommendations_totals {
    font-weight: 700;
    font-size: 1.2em;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: @grey;
    padding-left: 0;

    &:first-child, &:nth-child(2) {
      border: none;
      color: white;
      background-color: @red;
    }

    &.right {
      justify-content: flex-end;
    }

  }

  &.cell-check {
    position: relative;

    @cell-check-box-height: 1.1em;

    &:before {
      content: '';
      position: absolute;
      top: (2em - @cell-check-box-height) / 2;
      left: (1.9em - @cell-check-box-height) / 2;
      width: @cell-check-box-height;
      height: @cell-check-box-height;
      border: 1px solid @grey;
    }
  }

  &.row-part {
    grid-column-start: 1;
    grid-column-end: -1;
    display: grid;
    grid-template-columns: inherit;
    gap: 0 1mm;
  }

  &.row-part__give_out {
    grid-column-start: 2;
    grid-column-end: -2;
    padding-left: 1cm;
    border-bottom: 1px solid @grey;
  }

  &.row-service {
    display: grid;
    grid-template-columns: @recommendations-table-template;
    padding: 0;

    & > .cell-service {
      border-top: 1px solid @grey;
    }

    & > div:first-child {
      grid-column: ~"1 / 4";
    }
    & > div:nth-child(2) {
      padding-left: 2mm;
    }
  }
}

.footer {
  display: grid;
  align-self: end;
  grid-template-columns: @order-table-first-col 1fr;
  column-gap: 1mm;

  &__contact {
    font-weight: 700;
    font-size: 1.1em;
    text-align: center;
    border-bottom: 1px solid @red;

    &.telephone {
      grid-column-start: 1;
    }
  }

  &__img {
    align-self: center;
    margin-top: 6mm;
    padding: 0 8mm;
  }

  &__img > img {
    opacity: 0.7;
    width: 100%;
  }
  &__mp {
    align-self: center;
    justify-self: center;
  }

  &__empty {
    height: 1.6em;
  }
}

.guaranty {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-flow: row dense;
  gap: 1mm 3mm;
  padding: 0 8mm;

  &__qr {
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-weight: 700;
    font-size: 1.5em;

    & > img {
      border: 1px solid @red;
      border-radius: 3px;
      padding: 1mm;
      height: 16mm;
      width: 16mm;
      opacity: 0.7;
    }
  }
}

.stamps {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 1mm;

  &__info {
    margin: 0;
    width: 100%;
    font-size: 1.2em;
    text-align: justify;
  }

  &__side {
    display: grid;
    grid-template-columns: min-content auto;
    grid-gap: 1mm;
    align-items: end;
    font-weight: 700;
    font-size: 1.1em;

    & hr {
      margin: 0 0 1mm 0;
      border: 1px solid rgba(0, 0, 0, 30%);
      font-weight: 400;
    }
  }

}

.right {
  padding-left: 5mm;
  text-align: end;
}

.left {
  text-align: start;
}

//------------------ Page breaks ------------------


.order-table__block, .recommendations-table__block {
  page-break-inside: avoid;
}

.page-brake {
  page-break-inside: avoid;
}

.page {
  page-break-after: always;
}


//------------------ Media ------------------

@media print {

  * {
    -webkit-print-color-adjust: exact;
  }

  body, html {
    background: none;
    margin: 0;
  }

  .content, .content.pages, .wrapper{
    margin: 0;
    max-width: none;
    padding: 0;
    box-shadow: none;
    background: none;
  }

  .page {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0 auto;
    background: none;
    box-shadow: none;

    &.landscape {

    }

    &.portrait {
      min-height: @page-height-portrait;
    }
  }

  @page {
    size: A4;
    margin: 0.8cm;
  }

  .btn-block {
    display: none;
  }

}
