@font-color: rgba(0, 0, 0, 70%);

.invoice-header {

  &__info {
    margin: 0 0 7mm;
  }
}

.invoice-executor, .invoice-provider {
  display: grid;
  grid-template-columns: 2.5cm auto;
  padding: 0 1mm;
  margin: 7mm 0;

  & > div:first-child {
    font-weight: 700;
  }
}

.invoice-info {
  margin: 7mm 0;
  border: 1px solid @font-color;
  height: 12mm * 4;
  display: grid;
  grid-template-columns: 1fr 1.5cm 1fr;
  grid-template-rows: 12mm 12mm auto 1fr 12mm;

  &__item {
    padding: 1mm;

    &.cell-center {
      border-left: inherit;
      border-right: inherit;
    }

    &.border-bottom {
      border-bottom: inherit;
    }

    &.cell-info {
      font-size: 0.8em;
      display: flex;
      align-items: flex-end;
    }
    &.requisites {
      display: grid;
      grid-template-columns: 12mm 1fr 12mm 1fr;
      padding: 0;

      & > div {
        text-align: center;
        border-bottom: 1px solid @font-color;
        border-left: 1px solid @font-color;

        &:first-child {
          border-left: none;
        }
      }
    }
  }
}

@invoice-table-border: 1px solid black;
@invoice-table-grid-template: 6mm auto 13mm 15mm 23mm 23mm;

.invoice-table {
  &__row {
    display: grid;
    grid-template-columns: @invoice-table-grid-template;
    border-bottom: @invoice-table-border;
    grid-column: ~"1 / -1";

    &.row-header {
      border-top: @invoice-table-border;
    }

    &.row-total {
      border: none;

      & > div:last-child {
        border-bottom: @invoice-table-border;
      }
    }
  }

  &__item {
    padding: 2px;
    border-left: @invoice-table-border;

    &:last-child {
      border-right: @invoice-table-border;
    }

    &.cell-header {
      font-weight: 700;
      text-align: center;
    }

    &.cell-cost {
      text-align: right;
    }

    &.cell-total {
      grid-column: ~"1 / -2";
      border: none;
      font-weight: 700;
      text-align: right;
      font-size: 1.1em;
    }
  }
}


@media print {

.invoice-table__row {
  page-break-inside: avoid;
}

}
