easy_admin:
    entities:
        Employee:
            class: App\Employee\Entity\Employee
            controller: App\Employee\Controller\EmployeeController
            disabled_actions: ['delete', 'autocomplete', 'search']
            templates:
                show: 'easy_admin/employee/show.html.twig'
            list:
                title: 'Работники'
                sort: [firedAt, ASC]
                max_results: 30
                actions:
                    - { name: 'fire', template: 'easy_admin/employee/action_fire.html.twig' }
                fields:
                    - { property: 'personId', label: 'Ф.И.О', template: 'easy_admin/field_identifier.html.twig' }
                    - { property: 'balance', virtual: true, label: 'Баланс', template: 'easy_admin/employee/field_balance.html.twig' }
                    - { property: 'motivation', virtual: true, label: 'Мотивация', template: 'easy_admin/employee/field_buttons.html.twig' }
                    - { property: 'ratio', label: '%', template: 'easy_admin/employee/field_podstanova.html.twig' }
                    - { property: 'hiredAt', label: 'Трудоустроен' }
                    - { property: 'firedAt', label: 'Уволен' }
            show:
                title: 'Работник'
                fields:
                    - { property: 'personId', label: 'Ф.И.О', template: 'easy_admin/field_identifier.html.twig' }
                    - { property: 'balance', virtual: true, label: 'Баланс', template: 'easy_admin/employee/field_balance.html.twig' }
                    - { property: 'ratio', label: '%', template: 'easy_admin/employee/field_podstanova.html.twig' }
                    - { property: 'hiredAt', label: 'Трудоустроен' }
                    - { property: 'firedAt', label: 'Уволен' }
            form:
                fields:
                    -   property: 'personId'
                        label: 'Ф.И.О'
                        type: App\EasyAdmin\Form\AutocompleteType
                        type_options:
                            required: true
                            class: App\Customer\Entity\Person
                    - { property: 'ratio', label: 'Ставка' }
            new:
                title: 'Добавить нового работника'
            edit:
                title: 'Редактировать работника'

        Salary:
            class: App\Employee\Entity\Salary
            controller: App\Employee\Controller\SalaryController
            disabled_actions: ['delete', 'show', 'search', 'autocomplete', 'edit', 'list']

doctrine:
    orm:
        mappings:
            employee:
                type: annotation
                prefix: App\Employee\Entity
                dir: '%kernel.project_dir%/src/Employee/Entity'

services:
    _defaults:
        public: false
        autowire: true
        autoconfigure: true
