easy_admin:
    entities:
        Manufacturer:
            class: App\Manufacturer\Entity\Manufacturer
            controller: App\Manufacturer\Controller\ManufacturerController
            disabled_actions: ['delete']
            label: 'Производитель'
            search:
                fields: ['name']
            show:
                title: 'Производитель'
                fields:
                    - { property: 'name', label: 'Название' }
                    - { property: 'localizedName', label: 'Название на русском' }
                    - { property: 'logo', label: 'Logo' }
            list:
                title: 'Производители'
                fields:
                    - { property: 'name', label: 'Название', template: 'easy_admin/field_item_show.html.twig' }
                    - { property: 'localizedName', label: 'Название на русском' }
                    - { property: 'logo', label: 'Logo' }
            form:
                fields:
                    - { property: 'name', label: 'Название' }
                    - { property: 'localizedName', label: 'Название на русском' }
                    - { property: 'logo', label: 'Logo' }
            new:
                title: 'Создать нового Прозводителя'
            edit:
                title: 'Редактировать Производителя'
