easy_admin:
    entities:
        Manufacturer:
            class: App\Manufacturer\Entity\Manufacturer
            controller: App\Manufacturer\Controller\ManufacturerController
            disabled_actions: ['delete']
            label: 'Производитель'
            search:
                fields: ['name']
            show:
                title: 'Производитель'
                fields:
                    - { property: 'name', label: 'Название' }
                    - { property: 'localizedName', label: 'Название на русском' }
                    - { property: 'logo', label: 'Logo' }
            list:
                title: 'Производители'
                fields:
                    - { property: 'id' }
                    - { property: 'name', label: 'Название' }
                    - { property: 'localizedName', label: 'Название на русском' }
                    - { property: 'logo', label: 'Logo' }
            form:
                fields:
                    - { property: 'name', label: 'Название' }
                    - { property: 'localizedName', label: 'Название на русском' }
                    - { property: 'logo', label: 'Logo' }
            new:
                title: 'Создать нового Прозводителя'
            edit:
                title: 'Редактировать Производителя'

doctrine:
    orm:
        mappings:
            manufacturer:
                type: annotation
                prefix: App\Manufacturer
                dir: '%kernel.project_dir%/src/Manufacturer'

doctrine_mongodb:
    document_managers:
        www:
            mappings:
                manufacturer:
                    type: annotation
                    prefix: App\Manufacturer\Documents
                    dir: "%kernel.project_dir%/src/Manufacturer/Documents"

services:
    _defaults:
        public: false
        autowire: true
        autoconfigure: true

    App\Manufacturer\Ports\API\ManufacturerList:
        tags:
            - { name: jsonrpc.method, jsonrpc.method: manufacturer.list }
