<!-- POPUPS ================================================================ -->
<div class="popup" id="pop-video-01">
    <div class="popup__wrap for_video">
        <a class="popup__close js-popup-close"></a>
        <div class="popup__video">
            <div class="popup__youtube js-popbox-youtube" data-yt-source="HY1SPoDQbJ4" data-yt-start="true"></div>
        </div>
    </div>
</div>

<div class="modal" id="modal">
    <a class="modal__close js-modal-close"></a>
    <div class="modal__head">
        <div class="container">
            <h4 class="modal__title">Выберите модель машины:</h4>
            <div class="modal__nav">
                <div class="modal__nav-half">
                    <ul class="modal__steps">
                        <li class="modal__step is-completed">Марка</li>
                        <li class="modal__step is-active">Модель</li>
                        <li class="modal__step">Год выпуска</li>
                    </ul>
                </div>
                <div class="modal__nav-half">
                    <form class="modal__search">
                        <input class="modal__search-text" type="text" placeholder="Поиск машины" title="Введите">
                        <button class="modal__search-btn" type="button"></button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal__body">
        <div class="modal__tab js-modal-tab is-active" id="modal-tab_01">
            <div class="sec-start__body">
                <div class="sec-start__select">
                    <h1 class="sec-start__title">Выберите <br> интересующее направление:</h1>
                    <div class="sec-start__slider" id="sec-start-slider">
                        <div class="sec-start__slide st-nis">
                            <div class="sec-start__slide-logo st-nis__logo"></div>
                            <div class="sec-start__slide-car st-nis__car">
                                <div class="sec-start__slide-wheel st-nis__wheel-lt"></div>
                                <div class="sec-start__slide-wheel st-nis__wheel-rt"></div>
                                <div class="sec-start__slide-btns">
                                    <a class="btn btn_shmatn sec-start__btn" href="#"><i class="icon-gear"></i>АВТОСЕРВИС В МОСКВЕ</a>
                                    <a class="btn btn_shmatn sec-start__btn" href="#"><i class="icon-belt"></i>МАГАЗИН ЗАПЧАСТЕЙ</a>
                                </div>
                            </div>
                            <div class="sec-start__slide-btm">
                                <a class="btn btn_big sec-start__slide-btn js-select-car" role="button">Выбрать эту марку</a>
                            </div>
                        </div>
                        <div class="sec-start__slide st-lex">
                            <div class="sec-start__slide-logo st-lex__logo"></div>
                            <div class="sec-start__slide-car st-lex__car">
                                <div class="sec-start__slide-wheel st-lex__wheel-lt"></div>
                                <div class="sec-start__slide-wheel st-lex__wheel-rt"></div>
                            </div>
                            <div class="sec-start__slide-btm">
                                <a class="btn btn_big sec-start__slide-btn js-select-car" role="button">Выбрать эту марку</a>
                            </div>
                        </div>
                        <div class="sec-start__slide st-toy">
                            <div class="sec-start__slide-logo st-toy__logo"></div>
                            <div class="sec-start__slide-car st-toy__car">
                                <div class="sec-start__slide-wheel st-toy__wheel-lt"></div>
                                <div class="sec-start__slide-wheel st-toy__wheel-rt"></div>
                            </div>
                            <div class="sec-start__slide-btm">
                                <a class="btn btn_big sec-start__slide-btn js-select-car" role="button">Выбрать эту марку</a>
                            </div>
                        </div>
                        <div class="sec-start__slide st-inf">
                            <div class="sec-start__slide-logo st-inf__logo"></div>
                            <div class="sec-start__slide-car st-inf__car">
                                <div class="sec-start__slide-wheel st-inf__wheel-lt"></div>
                                <div class="sec-start__slide-wheel st-inf__wheel-rt"></div>
                            </div>
                            <div class="sec-start__slide-btm">
                                <a class="btn btn_big sec-start__slide-btn js-select-car" role="button">Выбрать эту марку</a>
                            </div>
                        </div>
                    </div>
                    <nav class="sec-start__nav">
                        <a class="sec-start__nav-link icon-nis js-set-start-slide" data-slide="0" role="button"></a>
                        <a class="sec-start__nav-link icon-lex js-set-start-slide" data-slide="1" role="button"></a>
                        <a class="sec-start__nav-link icon-toy js-set-start-slide" data-slide="2" role="button"></a>
                        <a class="sec-start__nav-link icon-inf js-set-start-slide" data-slide="3" role="button"></a>
                    </nav>
                </div>
            </div>
        </div>

        <div class="modal__tab js-modal-tab" id="modal-tab_02">
            <div class="container">
                <div class="modal__models">
                    <div class="modal__model">
                        <div class="car-card is-selected">
                            <h4 class="car-card__title">Altima купе</h4>
                            <div class="car-card__pict">
                                <img class="car-card__img" src="images/car-find/car_01.jpg" alt="Altima купе">
                            </div>
                            <div class="car-card__info">
                                <div class="car-card__code">CL32</div>
                                <div class="car-card__year">2006 - н.в</div>
                            </div>
                            <a class="car-card__link js-car-card" role="button"></a>
                        </div>
                    </div><!-- End modal__model -->
                    <div class="modal__model">
                        <div class="car-card">
                            <h4 class="car-card__title">Altima купе</h4>
                            <div class="car-card__pict">
                                <img class="car-card__img" src="images/car-find/car_01.jpg" alt="Altima купе">
                            </div>
                            <div class="car-card__info">
                                <div class="car-card__code">CL32</div>
                                <div class="car-card__year">2006 - н.в</div>
                            </div>
                            <a class="car-card__link js-car-card" role="button"></a>
                        </div>
                    </div><!-- End modal__model -->
                    <div class="modal__model">
                        <div class="car-card">
                            <h4 class="car-card__title">Altima купе</h4>
                            <div class="car-card__pict">
                                <img class="car-card__img" src="images/car-find/car_01.jpg" alt="Altima купе">
                            </div>
                            <div class="car-card__info">
                                <div class="car-card__code">CL32</div>
                                <div class="car-card__year">2006 - н.в</div>
                            </div>
                            <a class="car-card__link js-car-card" role="button"></a>
                        </div>
                    </div><!-- End modal__model -->
                    <div class="modal__model">
                        <div class="car-card">
                            <h4 class="car-card__title">Altima купе</h4>
                            <div class="car-card__pict">
                                <img class="car-card__img" src="images/car-find/car_01.jpg" alt="Altima купе">
                            </div>
                            <div class="car-card__info">
                                <div class="car-card__code">CL32</div>
                                <div class="car-card__year">2006 - н.в</div>
                            </div>
                            <a class="car-card__link js-car-card" role="button"></a>
                        </div>
                    </div><!-- End modal__model -->
                    <div class="modal__model">
                        <div class="car-card">
                            <h4 class="car-card__title">Altima купе</h4>
                            <div class="car-card__pict">
                                <img class="car-card__img" src="images/car-find/car_01.jpg" alt="Altima купе">
                            </div>
                            <div class="car-card__info">
                                <div class="car-card__code">CL32</div>
                                <div class="car-card__year">2006 - н.в</div>
                            </div>
                            <a class="car-card__link js-car-card" role="button"></a>
                        </div>
                    </div><!-- End modal__model -->
                    <div class="modal__model">
                        <div class="car-card">
                            <h4 class="car-card__title">Altima купе</h4>
                            <div class="car-card__pict">
                                <img class="car-card__img" src="images/car-find/car_01.jpg" alt="Altima купе">
                            </div>
                            <div class="car-card__info">
                                <div class="car-card__code">CL32</div>
                                <div class="car-card__year">2006 - н.в</div>
                            </div>
                            <a class="car-card__link js-car-card" role="button"></a>
                        </div>
                    </div><!-- End modal__model -->
                    <div class="modal__model">
                        <div class="car-card">
                            <h4 class="car-card__title">Altima купе</h4>
                            <div class="car-card__pict">
                                <img class="car-card__img" src="images/car-find/car_01.jpg" alt="Altima купе">
                            </div>
                            <div class="car-card__info">
                                <div class="car-card__code">CL32</div>
                                <div class="car-card__year">2006 - н.в</div>
                            </div>
                            <a class="car-card__link js-car-card" role="button"></a>
                        </div>
                    </div><!-- End modal__model -->
                    <div class="modal__model">
                        <div class="car-card">
                            <h4 class="car-card__title">Altima купе</h4>
                            <div class="car-card__pict">
                                <img class="car-card__img" src="images/car-find/car_01.jpg" alt="Altima купе">
                            </div>
                            <div class="car-card__info">
                                <div class="car-card__code">CL32</div>
                                <div class="car-card__year">2006 - н.в</div>
                            </div>
                            <a class="car-card__link js-car-card" role="button"></a>
                        </div>
                    </div><!-- End modal__model -->
                    <div class="modal__model">
                        <div class="car-card">
                            <h4 class="car-card__title">Altima купе</h4>
                            <div class="car-card__pict">
                                <img class="car-card__img" src="images/car-find/car_01.jpg" alt="Altima купе">
                            </div>
                            <div class="car-card__info">
                                <div class="car-card__code">CL32</div>
                                <div class="car-card__year">2006 - н.в</div>
                            </div>
                            <a class="car-card__link js-car-card" role="button"></a>
                        </div>
                    </div><!-- End modal__model -->
                    <div class="modal__model">
                        <div class="car-card">
                            <h4 class="car-card__title">Altima купе</h4>
                            <div class="car-card__pict">
                                <img class="car-card__img" src="images/car-find/car_01.jpg" alt="Altima купе">
                            </div>
                            <div class="car-card__info">
                                <div class="car-card__code">CL32</div>
                                <div class="car-card__year">2006 - н.в</div>
                            </div>
                            <a class="car-card__link js-car-card" role="button"></a>
                        </div>
                    </div><!-- End modal__model -->
                    <div class="modal__model">
                        <div class="car-card">
                            <h4 class="car-card__title">Altima купе</h4>
                            <div class="car-card__pict">
                                <img class="car-card__img" src="images/car-find/car_01.jpg" alt="Altima купе">
                            </div>
                            <div class="car-card__info">
                                <div class="car-card__code">CL32</div>
                                <div class="car-card__year">2006 - н.в</div>
                            </div>
                            <a class="car-card__link js-car-card" role="button"></a>
                        </div>
                    </div><!-- End modal__model -->
                    <div class="modal__model">
                        <div class="car-card">
                            <h4 class="car-card__title">Altima купе</h4>
                            <div class="car-card__pict">
                                <img class="car-card__img" src="images/car-find/car_01.jpg" alt="Altima купе">
                            </div>
                            <div class="car-card__info">
                                <div class="car-card__code">CL32</div>
                                <div class="car-card__year">2006 - н.в</div>
                            </div>
                            <a class="car-card__link js-car-card" role="button"></a>
                        </div>
                    </div><!-- End modal__model -->
                </div>
            </div>
        </div>

        <div class="modal__tab js-modal-tab" id="modal-tab_03">
            <div class="container">
                <div class="modal__periods">
                    <div class="modal__period">
                        <div class="selector">
                            <input type="hidden" value="0"><!-- Выставление правильного предзаданного значения в селекте -->
                            <div class="selector__val" data-val="0">2010е</div>
                            <div class="selector__drop">
                                <ul class="selector__list">
                                    <li data-val="0">2010е</li>
                                    <li data-val="2010">2010</li>
                                    <li data-val="2011">2011</li>
                                    <li data-val="2012">2012</li>
                                    <li data-val="2013">2013</li>
                                    <li data-val="2014">2014</li>
                                    <li data-val="2015">2015</li>
                                    <li data-val="2016">2016</li>
                                    <li data-val="2017">2017</li>
                                    <li data-val="2018">2018</li>
                                </ul>
                            </div>
                        </div>
                    </div><!-- End modal__period -->
                    <div class="modal__period">
                        <div class="selector">
                            <input type="hidden" value="0"><!-- Выставление правильного предзаданного значения в селекте -->
                            <div class="selector__val" data-val="0">2010е</div>
                            <div class="selector__drop">
                                <ul class="selector__list">
                                    <li data-val="0">2000е</li>
                                    <li data-val="2001">2000</li>
                                    <li data-val="2001">2001</li>
                                    <li data-val="2002">2002</li>
                                    <li data-val="2003">2003</li>
                                    <li data-val="2004">2004</li>
                                    <li data-val="2005">2005</li>
                                    <li data-val="2006">2006</li>
                                    <li data-val="2007">2007</li>
                                    <li data-val="2008">2008</li>
                                    <li data-val="2009">2009</li>
                                </ul>
                            </div>
                        </div>
                    </div><!-- End modal__period -->
                    <div class="modal__period">
                        <div class="selector">
                            <input type="hidden" value="0"><!-- Выставление правильного предзаданного значения в селекте -->
                            <div class="selector__val" data-val="0">1990е</div>
                            <div class="selector__drop">
                                <ul class="selector__list">
                                    <li data-val="0">1990е</li>
                                    <li data-val="1990">1990</li>
                                    <li data-val="1991">1991</li>
                                    <li data-val="1992">1992</li>
                                    <li data-val="1993">1993</li>
                                    <li data-val="1994">1994</li>
                                    <li data-val="1995">1995</li>
                                    <li data-val="1996">1996</li>
                                    <li data-val="1997">1997</li>
                                    <li data-val="1998">1998</li>
                                    <li data-val="1999">1999</li>
                                </ul>
                            </div>
                        </div>
                    </div><!-- End modal__period -->
                    <div class="modal__period">
                        <div class="selector">
                            <input type="hidden" value="0"><!-- Выставление правильного предзаданного значения в селекте -->
                            <div class="selector__val" data-val="0">1980е</div>
                            <div class="selector__drop">
                                <ul class="selector__list">
                                    <li data-val="0">1980е</li>
                                    <li data-val="1980">1980</li>
                                    <li data-val="1981">1981</li>
                                    <li data-val="1982">1982</li>
                                    <li data-val="1983">1983</li>
                                    <li data-val="1984">1984</li>
                                    <li data-val="1985">1985</li>
                                    <li data-val="1986">1986</li>
                                    <li data-val="1987">1987</li>
                                    <li data-val="1988">1988</li>
                                    <li data-val="1989">1989</li>
                                </ul>
                            </div>
                        </div>
                    </div><!-- End modal__period -->
                    <div class="modal__period">
                        <div class="selector">
                            <input type="hidden" value="0"><!-- Выставление правильного предзаданного значения в селекте -->
                            <div class="selector__val" data-val="0">1970е</div>
                            <div class="selector__drop">
                                <ul class="selector__list">
                                    <li data-val="0">1970е</li>
                                    <li data-val="1970">1970</li>
                                    <li data-val="1971">1971</li>
                                    <li data-val="1972">1972</li>
                                    <li data-val="1973">1973</li>
                                    <li data-val="1974">1974</li>
                                    <li data-val="1975">1975</li>
                                    <li data-val="1976">1976</li>
                                    <li data-val="1977">1977</li>
                                    <li data-val="1978">1978</li>
                                    <li data-val="1979">1979</li>
                                </ul>
                            </div>
                        </div>
                    </div><!-- End modal__period -->
                </div>
            </div>
        </div>
    </div>
</div>
