{# EasyAdminAutocomplete form type #}
{% block autocomplete_widget %}
    {% set params = {} %}

    {% set carId = form.parent.vars.value.order.carId|default %}
    {% set car = carId is not empty ? get_car_by_id(carId) : null %}
    {# @var car \App\Car\Entity\Car #}

    {{ form_widget(form.autocomplete, {
        attr: attr|merge({
            'data-easyadmin-autocomplete-url' : path('easyadmin', {
                action: 'autocomplete',
                entity: 'Part',
                vehicle_id: car is defined ? car.vehicleId.toString : null
            }|merge(params))|raw })
    }) }}

    {% if car.vehicleId|default is not empty and vehicle_case_is_defined(car.vehicleId) %}
        <span class="help-block">
        Поиск осуществляется только по <strong>{{ car.vehicleId|display_name }}</strong>, чтобы выполнить поиск по всему складу добавьте символ <strong>+</strong> (плюс) в любую часть строки.
    </span>
    {% endif %}
{% endblock autocomplete_widget %}
