{# EasyAdminAutocomplete form type #}
{% block easyadmin_autocomplete_widget %}
    {% set params = {} %}

    {# @var carModel \App\Entity\Landlord\CarModel #}
    {% set carModel = form.parent.vars.value.order.car.model|default %}
    {% set carModel = form.parent.vars.value.recommendation.car.model|default(carModel) %}

    {% if carModel.caseName|default is not empty %}
        {% set params = carModel|to_query %}
    {% endif %}

    {{ form_widget(form.autocomplete, {
        attr: attr|merge({
            'data-easyadmin-autocomplete-url' : path('easyadmin', {
                action: 'autocomplete',
                entity: autocomplete_entity_name
            }|merge(params))|raw })
    }) }}

    {% if carModel.caseName|default is not empty %}
    <span class="help-block">
        Поиск осуществляется только по <strong>{{ carModel.displayName(false) }}</strong>, чтобы выполнить поиск по всему складу добавьте символ <strong>+</strong> (плюс) в любую часть строки.
    </span>
    {% endif %}
{% endblock easyadmin_autocomplete_widget %}
