{% extends 'easy_admin/default/layout.html.twig' %}

{% use 'easy_admin/order/layout.html.twig' %}

{% block content_title %}
    Закрыть заказ №{{ order }}
{% endblock %}

{% block panel_title %}Заказчик заплатил?{% endblock %}

{% block panel_body %}
    <div class="row text-center">
        <div class="col-xs-6">
            <a href="{{ easyadmin_path(order, 'close', {'step': 'paid'}) }}"
               class="btn btn-success">Заплатил</a>
        </div>
        <div class="col-xs-6">
            <a href="{{ easyadmin_path(order, 'close', {'step': 'unpaid'}) }}"
               class="btn btn-danger">Не заплатил</a>
        </div>
    </div>
{% endblock %}
