{# @var item \App\Entity\Order #}

{% set color = item.suspended ? 'default' : value.toColor %}

{# @var entry \App\Calendar\Entity\EntryView #}
{% if value.isScheduling %}
    {% set entry = entry_by_order(item.toId) %}

    {% if entry is not empty %}
        {% set date = entry.schedule.date %}
        {% if date < date('now', date.getTimezone()) %}
            {% set color = 'danger' %}
        {% elseif date > date('now', date.getTimezone()) %}
            {% set color = 'default' %}
        {% endif %}
    {% endif %}
{% endif %}

<span class="label label-{{ color }}">{{ value.toName }}</span>
