{# @var item \App\Entity\Order #}

{% set color = item.suspended ? 'default' : value.toColor %}

{% set appointment = item.appointmentAt %}
{% if value.isScheduling and appointment is not empty %}
    {% if date(appointment) < date('now', appointment.getTimezone()) %}
        {% set color = 'danger' %}
    {% elseif date(appointment) > date('now', appointment.getTimezone()) %}
        {% set color = 'default' %}
    {% endif %}
{% endif %}

<span class="label label-{{ color }}">{{ value.toName }}</span>
